# Using Census API
This notebook is an example of how to use the Census Data Application Programming Interface (API) to get information from the U.S. Census Bureau. The API is a data service that provides access Census Bureau data. See the Census API [Documentation](https://www.census.gov/data/developers/guidance/api-user-guide.Query_Components.html) for more information.

### Minimum variables for each gentrification definition
These are the essential variables we need to satisfy the definitions of gentrification in this project. Of course, there are many other variables you might want to download and we do download a few more.  

__ All Criteria for Definition 1 (Sociology): __
 * median household income
 * median house value
 * percentage of residents age 25 and over holding bachelor’s degrees
 * inflation-adjusted median house value
 
__ All Criteria for Definition 2 (Economics): __
 * income levels
 * rent increases
 * home prices
 
__ All Criteria for Definition 3 (Urban Planning): __
 * % of workers taking public transit
 * % non-family households
 * % dwelling units in building with 5+ units
 * income diversity
 * % of renters paying >35% of income
 * % of dwelling units with three or more cars available
 * % non-hispanic white

## Census API Overview 

The complete list of all datasets available via the Census API is available [here](https://api.census.gov/data.html), but this is a partial list from the API documentation:
 * American Community Survey (ACS): 1 Year Estimates (2016, 2015, 2014, 2013, 2012, 2011), 3 Year Estimates (2013, 2012), 5 Year Estimates (2005-2009, 2006-2010, 2010-2014, 2011-2015), ACS Supplemental (2014-2015)  
   
 * Decennial Census (SF1/SF3) 2010, 2000, 1990  
   
 * Nonemployer Statistics (NES) 2008-2014, ([Census Bureau's NES Documentation](https://www.census.gov/programs-surveys/nonemployer-statistics/about.html))  
 The NES provides annual data about businesses that have no paid employees, have receipts greater than $1,000 (except Construction businesses), and are subject to federal income tax. Most nonemployers are self-employed individuals operating unincorporated businesses like sole proprietorships and partnerships.  
 The NES data originates from business income tax records that the Internal Revenue Service (IRS) provides to the Census Bureau. The NES includes the number of businesses and total receipts by industry defined by the North American Industry Classification System (NAICS). ([Census Bureau's NAICS Documentation](https://www.census.gov/eos/www/naics/)) Most geography codes are derived from the business owner`s mailing address and may not be the same as the physical location of the business. For privacy reasons, NES data is not available by blocks, block groups, or tracts, as recognized by the Decennial Census.   
   
 * Population Estimates and Projections 2015, 2014, 2013, 2012  

### Types of Tables (called Data Products on the American FactFinder [site](https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t)):  

* __Detail Tables__ contain the most detailed cross-tabulations, many of which are published down to block groups. The data are population counts with over 64,000 variables in this dataset.  
 Example Query: api.census.gov/data/2015/acs/acs5?get=NAME,B01001_001E&for=county:*&in=state:53  
   
   
* __Subject Tables__ provide an overview of the estimates available in a particular topic.  The data is presented as population counts and percentages with over 66,000 variables in this dataset.  
 Example Query: api.census.gov/data/2015/acs/acs5/subject?get=NAME,S0101_C01_001E&for=county:*&in=state:53  
  
  
* __Data Profiles__ contain social, economic, housing, and demographic information. The data is presented as population counts and percentages with over 2,400 variables in this dataset.  
  
  
* __Comparison Profiles__ are similar to Data Profiles but also include comparisons with past-year data. The current year data is compared with prior 5-Year data and includes statistical significance testing with over 3,000 variables in this dataset.   

## Relevant Census API Details

__API Query Limits.__ A maximum of 50 variables can be listed in a single API query (aka search or request). Anyone can submit up to 500 API queries per IP address per day. More than 500 queries per IP address per day requires that you register for a Census key [registration form](https://api.census.gov/data/key_signup.html). That key is then included as part of your query string like in this example query for data from the 2011-2015 American Community Survey (ACS) 5-year estimates for King County, Washington: api.census.gov/data/2015/acs/acs5?get=NAME,B01001_001E&for=county:033&in=state:53&key=YOUR_KEY_GOES_HERE.    

The __required variables__ are the parameters you must include in your search; otherwise, your search will produce no data and an error message. The variable table for each dataset lists which variables are required.  

The __get function (get=)__ specifies the required and selected variables you are requesting.  

The __predicate__ specifies how variables should be filtered or limited, and you can create predicates of geography, string variables, numeric variables, and time (in time series datasets):
 * Predicates always start with an ampersand (&). For example, these predicates for state and county, &for=county:001&in=state:01, restrict the result to include only data for Autauga County, Alabama. 
 * Geography conditions generally belong in the predicate clause, rather than the get clause, and you have to include the full geography hierarchy for smaller geographic areas, _e.g._ you cannot include a county variable without a state variable.  
  > __Washington State code is 53__   
  > __King County code is 033__ 
  
The __wildcard (*)__ can be included to search for all the values of geography and string variables only. For example, these two predicates, &for=county:*&in=state:01, restrict the result to include data all counties in Alabama.  
  
A variable should appear only once in a query, either in the get statement or as a predicate.    
The results from Census Data API data queries are returned in the JavaScript Object Notation (JSON) format. The JSON results look like this:  
 > [["NAME","B01001_001E","state","county","tract"],  
["Census Tract 1, King County, Washington","6918","53","033","000100"],  
["Census Tract 2, King County, Washington","7974","53","033","000200"],  
["Census Tract 3, King County, Washington","2637","53","033","000300"],  
["Census Tract 4.01, King County, Washington","5907","53","033","000401"],  
["Census Tract 4.02, King County, Washington","4906","53","033","000402"],  
["Census Tract 5, King County, Washington","3044","53","033","000500"],  
["Census Tract 6, King County, Washington","7674","53","033","000600"],  
["Census Tract 7, King County, Washington","4892","53","033","000700"],  
["Census Tract 8, King County, Washington","2487","53","033","000800"],  
["Census Tract 9, King County, Washington","1971","53","033","000900"],  
["Census Tract 10, King County, Washington","2094","53","033","001000"], ...]

## 2000 Deccenial Census

The 2000 Census sampled approximately one-sixth of the population using the “long-form” questionnaire, whose content was the model for the ACS. The ACS generates period estimates, while the decennial census estimates are interpreted as a snapshot of April 1 of the census year.  

__The APIs for the Decennial Census (2010, 2000, 1990) [webpage](https://www.census.gov/data/developers/data-sets/decennial-census.2000.html) provides the following info about Summary Files:__  
(page last updated on September 15, 2016, accessed on January 11, 2018) 

__Summary File 1 (SF1)__ contains the data compiled from the questions asked of all people and about every housing unit. Population items include sex, age, race, Hispanic or Latino origin, household relationship, household type, household size, family type, family size, and group quarters. Housing items include occupancy status, vacancy status, and tenure (whether a housing unit is owner-occupied or renter-occupied).  

SF1 includes population and housing characteristics for the total population, population totals for an extensive list of race (American Indian and Alaska Native tribes, Asian, and Native Hawaiian and Other Pacific Islander) and Hispanic or Latino groups, and population and housing characteristics for a limited list of race and Hispanic or Latino groups. Population and housing items may be cross-tabulated. Selected aggregates and medians also are provided.  

The API provides access to a __majority of SF1 tables, but not all__.  

SF1 includes population tables (identified with a 'P') and housing tables (identified with an 'H') for various levels of geography.  

__Summary File 3 (SF3)__ consists of 813 detailed tables of Census 2000 social, economic and housing characteristics compiled from a sample of approximately 19 million housing units (about 1 in 6 households) that received the Census 2000 long-form questionnaire. 
- - - - - - - - - - -  

### 1990 Census API Details

url_1990 = https://api.census.gov/data/1990/sf3?get=

__Example API Call__  

https://api.census.gov/data/1990/sf3?get="P0010001,H0010001&for=:*&in=county:*&key=YOUR_KEY_GOES_HERE

[SF3 Variables](https://api.census.gov/data/1990/sf3/variables.html)  

>"P0800002": "house_income_5,000-9,999"   
"P0800003": "house_income_10,000-12,499"  
"P0800004": "house_income_12,500-14,999"   
"P0800005": "house_income_15,000-17,499"  
"P0800006": "house_income_17,500-19,999"   
"P0800007": "house_income_20,000-22,499"  
"P0800008": "house_income_22,500-24,999"   
"P0800009": "house_income_25,000-27,499"  
"P0800010": "house_income_27,500-29,999"   
"P0800011": "house_income_30,000-32,499"  
"P0800012": "house_income_32,500-34,999"   
"P0800013": "house_income_35,000-37,499"  
"P0800014": "house_income_37,500-39,999"  
"P0800015": "house_income_40,000-42,499"  
"P0800016": "house_income_42,500-44,999"  
"P0800017": "house_income_45,000-47,499"  
"P0800018": "house_income_47,500-49,999"  
"P0800019": "house_income_50,000-54,999"  
"P0800020": "house_income_55,000-59,999"  
"P0800021": "house_income_60000-74999"  
"P0800022": "house_income_75000-99999"  
"P0800023": "house_income_100000-124999"  
"P0800024": "house_income_125000-149999"  
"P0800025": "house_income_150000_or_more"  
"P080A001": "median_household_income"  

### 2000 Census API Details

2000 Census SF1 API Call: https://api.census.gov/data/2000/sf1?  

[SF1 Variables](https://api.census.gov/data/2000/sf1/variables.html) in /data/2000/sf1/variables  

2000 Census SF3 API Call: https://api.census.gov/data/2000/sf3?  

[SF3 Variables](https://api.census.gov/data/2000/sf3/variables.html) in /data/2000/sf3/variables  

"H011010": "total_renter_occupied"  
"H011002": "total_owner_occupied"  

"H069002": "total_gross_rent_less_than_10.0_percent_household_income"  
"H069003": "total_gross_rent_10-14.9_percent_household_income"  
"H069004": "total_gross_rent_15.0-19.9_percent_household_income"  
"H069005": "total_gross_rent_20.0-24.9_percent_household_income"  
"H069006": "total_gross_rent_25.0-29.9_percent_household_income"  
"H069007": "total_gross_rent_30.0-34.9_percent_household_income"  
"H069008": "total_gross_rent_35.0-39.9_percent_household_income"  
"H069009": "total_gross_rent_40.0-49.9_percent_household_income"  
"H069010": "total_gross_rent_50.0_percent_or_more_percent_household_income"  

"H085001": "median_value_owner-occupied_housing_units"  

__Example API Call:__  
https://api.census.gov/data/2000/sf3?get="P001001,NAME&for=tract:*&in=county:033&in=state:53&key=YOUR_KEY_GOES_HERE

## American Community Survey (ACS) v. 2000 Census
Much of the information in this section comes from this [ESRI whitepaper](https://www.esri.com/library/whitepapers/pdfs/the-american-community-survey.pdf).  

The subjects included in the ACS are similar to the Census 2000 sample; however, the method of collecting the data is very different, which introduces conspicuous differences in the results. The Census 2000 sample represented approximately 1 in 6 households and one point in time, April 1, 2000. The ACS represents approximately 1 in 50 households and continuous measurement of demographic characteristics through monthly surveys.  

The continuous data collection of the ACS changed variable definitions, sample weighting, and sizes:
* Residency rules are different. The ACS defines a resident by a two-month rule. The census rule is "usual place of residence" or wherever a person spends most of the year. ACS data may include seasonal populations in addition to year-round residents.
* Date-specific variables, like employment, represent monthly averages, including seasonal variations.
* Since income is also collected over the course of the previous 12 months, it must be adjusted by the Consumer Price Index to represent a calendar year.
* Migration is now measured from one year ago, not five years ago.
* Survey samples must be weighted by estimates for states, counties, or places, not census counts for states, counties, tracts, and block groups. (Estimates are subject to error.)  

Sampling errors must be reported as margins of error (MOE), because the variability of the estimates is increased with smaller sample sizes. In some cases, the sampling error can exceed the estimate. The margin of error represents the confidence interval for an ACS estimate. There were no margins of error reported for Census 2000 sample data. The MOE epitomizes the main difference between Census 2000 and ACS data—the precision of the estimates.  

The margin of error enables data users to measure the range of uncertainty around each estimate. This range can be calculated with 90 percent confidence by taking the estimate +/- the MOE. For example, if the ACS reports an estimate of 100 +/- 20, then there is a 90 percent chance that the value for the total population falls between 80 and 120. The larger the MOE, the lower the precision of the estimate and the less confidence one should have that the estimate is close to the true population value.  

## ACS 5-Year Estimate API 
[ACS Documentation](https://www.census.gov/data/developers/data-sets/acs-5year.html)  

[ACS Design and Methodology Report](https://www.census.gov/programs-surveys/acs/methodology/design-and-methodology.html)  

Beginning in 2005, the ACS collected detailed sample data and then used that data to produce estimates for the socioeconomic and housing characteristics of the population. ACS multiyear estimates are designed to describe the population characteristics of an area over the full 3- or 5-year period, not for any specific day, period, or year within the multiyear time period. [U.S. Census Bureau, A Compass for Understanding and Using American Community Survey Data](https://www.psc.isr.umich.edu/dis/acs/handouts/Compass_Appendix.pdf) Multiyear estimates provide less current information because they are based on both data from the previous year and data that are 2 and 3 years old. _Id._ However, multiyear estimates are more reliable because they are based on larger sample sizes. For example, the 3-year estimates are based on three times as many samples as the 1-year estimates. _Id._  

The ACS samples about 1 in every 40 addresses every year, or 250,000 addresses every month, so the Census Bureau to produce data every year rather than every decade. [U.S. Census Bureau, A Compass for Understanding and Using American Community Survey Data](https://www.census.gov/content/dam/Census/library/publications/2009/acs/ACSPUMS.pdf) The ACS data is collected continuously during the entire year with responses provided relative
to the continuously changing survey interview dates. As a result, sample data is anchored to the day on which the sampled unit was interviewed, whether it is the day that a mail questionnaire is completed or the day that an interview is conducted by telephone or personal visit.  

#### ACS Terminology 

__Accuracy__ refers to the difference between the survey estimate and the true (unknown) value for the population. Attributes are measured in terms of sources of error (for example, coverage, sampling, nonresponse, measurement, and processing).  

__Estimates__ are numerical values obtained from repeated statistical samples and designed to approximate a population parameter. Data produced from ACS interviews are used to produce estimates of the actual figures that would have been obtained if the entire population had been interviewed using the same methodology.  

__Five-year estimates__ are based on 5 years of ACS data. These estimates reflect the characteristics of a geographic area over the entire 5-year period and will be published for all geographic areas down to the census block group level.  

__Coefficient of variation (CV)__ is the ratio of the standard error (square root of the variance) to the value being estimated, usually expressed in terms of a percentage (also known as the relative standard deviation). The lower the CV, the higher the relative reliability of the estimate.  

#### ACS Variable Naming Conventions

__E and M__. At the end of a variable’s name, E and M are characters for estimates and margins of error. E indicates the estimated number from the sample surveyed, while M at the end of a variable number indicates the margin of error. The smaller the sample size the greater the margin of error.  

__PE and PM__. At the end of a variable’s name, PE stands for percentage estimate, and PM stands for percentage margin of error.  

#### Comparing ACS Data Across Years

ACS has non-overlapping datasets that allow comparisons of current ACS data to past ACS data.  The 2011-2015 ACS 5-Year estimates can be compared with 2006-2010 ACS 5-Year estimates. When comparing estimates from two time periods, we must consider the sampling error associated with each estimate to determine whether the observed differences between estimates are statistically significant. Statistical significance means that there is statistical evidence that a true difference exists within the full population, and that the observed difference is unlikely to have occurred by chance due to sampling.  

For information on the comparability of the 2011-2015 ACS 5-Year estimates to the 2006-2010 ACS 5-Year estimates by topic, see [Comparison Guidance for 5-Year data](https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data/2015/5-year-comparison.html). The Comparison Guidance notes that when comparing 2006-2010 ACS 5-year estimates with 2011-2015 ACS 5-year estimates, you should consider:  
1. Changes in geographic boundaries - The 2006-2010 ACS 5-year estimates used legal boundaries as of January 1, 2010. The 2011-2015 ACS 5-year estimates use legal boundaries as of January 1, 2015. Most statistical areas for both datasets use 2010 Census vintage geographies. For information on the ACS geographic concepts, visit [Geography and the ACS](https://www.census.gov/programs-surveys/acs/geography-acs.html).  
2. Changes in the questionnaire or variable coding  
  - Specifically, these following changes apply to our analysis:  
   
     __Income & Earnings Estimates:__ Income and earnings estimates in the 2006-2010 ACS 5-year data set are inflation-adjusted to 2010 dollars. Income and earnings estimates in the 2011-2015 ACS 5-year data set are inflation-adjusted to 2015 dollars.  
     To compare income estimates between the two, __multiply the 2006-2010 dollar estimates by 1.08710584 (CPI-U-RS) in order to inflation-adjust 2010 dollars to 2015 dollars__. The exception is the Comparative Economic Characteristics Profile (CP03) where all income and earnings dollar values are presented in 2015 inflation-adjusted dollars.  

     __Property Value Estimates:__ Changes made to the value question between the 2007 and 2008 ACS may result in an inconsistency in the value distribution for some areas. This would include any multiyear (3-year, 5-year) comparisons that include the pre-2008 value data.  
     For instance, __caution should be used when comparing the 2006-2010 and 2011-2015 ACS 5-year datasets__. In 2008, the response option for the value question was a write-in. In 2007 and previous years, the value question included categorical response options with a write-in for values over $250,000. The presentation of the data is consistent between 2007 and 2008. For more information about this questionnaire change, see [Evaluation Report Covering Property Value](https://www.census.gov/library/working-papers/2007/acs/2007_Woodward_05.html).

## 2011-2015 ACS 5-year API Info:

API Base URL: https://api.census.gov/data/2015/acs/acs5

__[List of Variables for 2011-2015 ACS](https://api.census.gov/data/2015/acs/acs5/variables.html)__ in /data/2015/acs/acs5/variables  

__[List of Tags for 2011-2015 ACS](https://api.census.gov/data/2015/acs/acs5/tags.html)__ in /data/2015/acs/acs5/tags  

__Example 2011-2015 ACS API calls for state› county› tract__  
https://api.census.gov/data/2015/acs/acs5?get=NAME,B15003_022E&B15003_022EA&for=tract:*&in=state:53&in=county:033
https://api.census.gov/data/2015/acs/acs5?get=NAME,B25064_001E&for=tract:*&in=state:53&in=county:033  
https://api.census.gov/data/2015/acs/acs5?get=NAME,B01001_001E&for=tract:*&in=county:33&in=state:53  
https://api.census.gov/data/2015/acs/acs5?get=NAME,B01001_001E&for=tract:000100&in=state:53%20county:073  
  
For a detailed list of the changes to the tables for the 2011-2015 ACS 5-year estimates, see this [documentation](https://www.census.gov/programs-surveys/acs/technical-documentation/table-and-geography-changes/2015/5-year.html). 

## 2006-2010 ACS 5-year API Info:

API Base URL: api.census.gov/data/2010/acs5? or https://api.census.gov/data/2010/acs5  

__[List of Variables for 2006-2010 ACS](https://api.census.gov/data/2010/acs5/variables.html#B05010_001E)__ in /data/2010/acs5/variables

__[List of Tags for 2006-2010 ACS](https://api.census.gov/data/2010/acs5/tags.html)__ in /data/2010/acs5/tags (43 tags)

__Example 2006-2010 ACS API calls for state› county› tract__  
https://api.census.gov/data/2010/acs5?get=B01001&for=tract:*&in=state:53&in=county:033&key=e928bdf778c5c815c5ac63ef62b78307b1e51724  
https://api.census.gov/data/2010/acs5?get=B01001_001E&for=:*&in=county:*  
https://api.census.gov/data/2010/acs5?get=B01001_001E&for=tract:000100&in=state:53%20county:033  
https://api.census.gov/data/2010/acs5?get=NAME,B25064_001E&for=tract:*&in=state:53&in=county:033  

## 2005-2009 ACS 5-Year Estimates 

API Base URL: https://api.census.gov/data/2009/acs5

## Comparing ACS Estimates to Deccenial Census Estimates

A conservative approach to testing for statistical significance when comparing ACS and Census 2000 estimates that avoids deriving the SE for the Census 2000 estimate would be to assume the SE for the Census 2000 estimate is the same as that determined for the ACS estimate. [U.S. Census Bureau, A Compass for Understanding and Using American Community Survey Data](https://www.psc.isr.umich.edu/dis/acs/handouts/Compass_Appendix.pdf)

## Definition 1 -- Sociology  
  
__ All Criteria for Definition 1: __
 * median household income
 * median house value
 * percentage of residents age 25 and over holding bachelor’s degrees
 * inflation-adjusted median house value
 
 
#### D1-LABEL: Eligible for Gentrification 
  * Census tract’s __median household income__ was in the bottom 40th percentile when compared to all census tracts in reference pool (_e.g._ King County) at the beginning of the time span.  
DP-3 Profile of Selected Economic Characteristics: 2000  
DP-3 from Census 2000 Summary File 3 (SF 3) - Sample Data → Provides household income, Median family income, Median earnings for 1999 by census tract 
S2503	FINANCIAL CHARACTERISTICS (link to table) → provides HOUSEHOLD INCOME IN THE PAST 12 MONTHS for both owners and renters for each tract, B19001 provides only the range of household income values & B19013 provides only the median household income values  

2011-2015 American Community Survey 5-Year Estimates  
2006-2010 American Community Survey 5-Year Estimates  
__B19013_001E Median household income in past 12 mo__  
__B19013_001M Margin Of Error For Median household income in the past 12 mo__  
__B19301_001E per_capita_income__  
__B19301_001M Margin Of Error For Per capita income in the past 12 mo__  


ACS Table Number	ACS Table Title	Census 2000 Table Number	Table Comparability
B19013	Median Household Income In The Past 12 Months	P053	Identical*

  * Census tract’s __median house value__ was in the bottom 40th percentile when compared to all census tracts in reference pool (_e.g._ King County) at the beginning of the time span.  
DP-4  Profile of Selected Housing Characteristics: 2000  
DP-4 from Census 2000 Summary File 3 (SF 3) - Sample Data → Provides a range of home values and Median (dollars)  
B25075	VALUE (gives counts for a range of house values)  
Universe: Owner-occupied housing units   
2011-2015 American Community Survey 5-Year Estimates  
2006-2010 American Community Survey 5-Year Estimates  
B25077	MEDIAN VALUE (DOLLARS)  
2011-2015 American Community Survey 5-Year Estimates  
2006-2010 American Community Survey 5-Year Estimates  
__B25077_001E  median_house_value__  

#### D1-LABEL: Has Gentrified   
* An increase in a census tract’s educational attainment, as measured by the __percentage of residents age 25 and over holding bachelor’s degrees__, was in the top third percentile of all census tracts in King County.  
    __2000 Census:__  
    DP-2  Profile of Selected Social Characteristics: 2000  
    DP-2 from Census 2000 Summary File 3 (SF 3) - Sample Data → Provides Population 25 years and over with Percent bachelor's degree or higher, S1501  EDUCATIONAL ATTAINMENT  
    "P0570006": "edu_bachelor_deg"
    
    __2006-2010 American Community Survey 5-Year Estimates:__  
    B15002_015E	Male: Bachelor's degree from table B15002. Sex by Educational Attainment for the Population 25 Years and over  
    B15002_015M	Margin Of Error For Male: Bachelor's degree  
    B15002_032E	Female: Bachelor's degree from table B15002. Sex by Educational Attainment for the Population 25 Years and over  
    B15002_032M	Margin Of Error For Female: Bachelor's degree
      
    __2011-2015 American Community Survey 5-Year Estimates:__  
    B15003_022E	Bachelor's degree from table B15003. Educational Attainment for the Population 25 Years and Over  
    B15003_022M	Margin of Error for Bachelor's degree  

* An increase in a census tract’s median house value, as measured by __inflation-adjusted median house value__, was in the top third percentile of all census tracts in King County.  
    DP-4  Profile of Selected Housing Characteristics: 2000  
    DP-4 from Census 2000 Summary File 3 (SF 3) - Sample Data → Provides a range of home values and Median (dollars)  
    
    __From Both 2006-2010 ACS & 2011-2015 ACS Data__:    
    B25076_001E	Lower value quartile (dollars) from table B25076. Lower Value Quartile (Dollars) for Owner-Occupied Housing Units  
    B25076_001M	Margin Of Error For Lower value quartile (dollars)  
    B25077_001E	Median value (dollars) from table B25077. Median Value (Dollars) for Owner-Occupied Housing  
    B25077_001M	Margin Of Error For Median value (dollars)	
    B25078_001E	Upper value quartile (dollars) from table B25078. Upper Value Quartile (Dollars) for Owner-Occupied Housing Units  
    B25078_001M	Margin Of Error For Upper value quartile (dollars)
  
#### D1-LABEL: Not Eligible for Gentrification
(default label if criteria not met for other D1 labels)

  
## Definition 2 -- Financial  &  Economics 

__ All Criteria for Definition 2: __
 * income levels
 * rent increases
 * home prices
 
#### D2-LABEL: Currently Gentrifying  
○ Census tract’s __income levels__ below 40percent of the median, __and__ experienced __rent increases__ greater than the median neighborhood did.  

__From Both 2006-2010 ACS & 2011-2015 ACS Data Re Income__:  
>B19013_001E	Median household income in the past 12 months (in 2010 inflation-adjusted dollars) from table B19013. Median Household Income  
B19013_001M	Margin Of Error For Median household income in the past 12 months (in 2010 inflation-adjusted dollars)  
B19013_001E	Median household income in the past 12 months (in 2015 Inflation-adjusted dollars) from table B19013. Median Household Income in the Past 12 Months (in 2015 Inflation-Adjusted Dollars)  
B19013_001M	Margin of Error for Median household income in the past 12 months (in 2015 Inflation-adjusted dollars)

__From Both 2006-2010 ACS & 2011-2015 ACS Data Re Rent__:  
>B25064_001E	Median gross rent from table B25064. Median Gross Rent (Dollars)  
B25064_001EA Annotation:  
{name": "B25064_001EA",  
  "label": "Annotation of Estimate!!Median gross rent",  
  "predicateType": "string",  
  "group": "B25064",}. 
B25064_001M	Margin Of Error For Median gross rent (Dollars)  

>B25058_001E	Median contract rent from table B25058. MEDIAN CONTRACT RENT (DOLLARS)  
B25058_001M	Margin Of Error For Median contract rent  

>B07013_003E	Householder lived in renter-occupied housing units from table B07013. Geographical Mobility in the Past Year by Tenure for Current Residence in the U.S.  
B07013_003M	Margin Of Error For Householder lived in renter-occupied housing unit  

#### D2-LABEL: Has Gentrified 
   ○ The block group’s share of neighborhoods in a metro area that moved from the bottom half to the top half in the distribution of __home prices__.  

   __From Both 2006-2010 ACS & 2011-2015 ACS Data:__  
>B25076_001E	Lower value quartile (dollars)	B25076. Lower Value Quartile (Dollars) for Owner-Occupied Housing Units  
B25076_001M	Margin Of Error For Lower value quartile (dollars)  
B25077_001E	Median value (dollars)	B25077. Median Value (Dollars) for Owner-Occupied Housing Units	 
B25077_001M	Margin Of Error For Median value (dollars)	 
B25078_001E	Upper value quartile (dollars)	B25078. Upper Value Quartile (Dollars) for Owner-Occupied Housing  
B25078_001M	Margin Of Error For Upper value quartile (dollars)   

#### D2-LABEL: Not Eligible for Gentrification
(default label if criteria not met for other D2 labels)  


## Definition 3 -- Urban  Planning 

__ All Criteria for Definition 3:__
 * percent of workers taking public transit
 * percent non-family households
 * percent dwelling units in building with 5+ units
 * income diversity
 * percent of renters paying >35percent of income
 * percent of dwelling units with three or more cars available
 * percent non-hispanic white
 

#### D3-LABEL: In Danger of Gentrifying 
   ○ Census tract’s percent of __workers taking transit__ increased  
    >B08101 MEANS OF TRANSPORTATION TO WORK BY AGE
    Universe: Workers 16 years and over  more information  
    
    __From Both 2006-2010 ACS__ __& 2011-2015 ACS Data:__  
    >B08101_025E	Public transportation (excluding taxicab) from table B08101.  
    B08101_025M	Margin Of Error For Public transportation (excluding taxicab)  
    
>"B08101_001E":	Total: from table B08101. MEANS OF TRANSPORTATION TO WORK BY AGE    
"B08101_001M":	Margin Of Error For Total  

>"B08301_019E": "walk_to_work"
"B08301_019M": "ME_walk_to_work"

>"B08303_001E": "total_travel_time_to_work",
"B08303_001M": "ME_total_travel_time_to_work",
"B08303_002E": "travel_time_to_work_less_5_min",
"B08303_002M": "ME_travel_time_to_work_less_5_min",
"B08303_003E": "travel_time_to_work_5_to_9_min",
"B08303_003M": "ME_travel_time_to_work_5_to_9_min",
"B08303_004E": "travel_time_to_work_10_to_14_min",
"B08303_004M": "ME_travel_time_to_work_10_to_14_min",
"B08303_005E": "travel_time_to_work_15_to_19_min",
"B08303_005M": "ME_travel_time_to_work_15_to_19_min",
"B08303_006E": "travel_time_to_work_20_to_24_min",
"B08303_006M": "ME_travel_time_to_work_20_to_24_min",
"B08303_007E": "travel_time_to_work_25_to_29_min",
"B08303_007M": "ME_travel_time_to_work_25_to_29_min",  
    
   ○ Census tract’s percent non-family households increased  
    __2006-2010 ACS Data:__  
>B11010_001E	Total from table B11010. Nonfamily Households by Sex of Householder 
B11010_001M	Margin Of Error For Total  
B11011_001E	Total:	B11011. HOUSEHOLD TYPE BY UNITS IN STRUCTURE  
B11011_001M	Margin Of Error For Total:	B11011. HOUSEHOLD TYPE BY UNITS IN STRUCTURE  
B11011_002E	Family households:	B11011. HOUSEHOLD TYPE BY UNITS IN STRUCTURE  
B11011_002M	Margin Of Error For Family households  
    
    __2011-2015 ACS Data:__  
>B11001_001E	Total Households from table B11001. (including Living Alone)  
B11001_001M	Margin Of Error For Total Households    
B11001_002E	Total Family Households from table B11001. (including Living Alone)	 
B11001_002M	Margin Of Error For Family households
B11009_001E	Total Unmarried-Partner Households from table B11009. Unmarried-Partner Households 
B11009_001M	Margin Of Error For Total Unmarried-Partner Households  
B11010_001E	Total Nonfamily Households from table B11010. Nonfamily Households by Sex of Householder
B11010_001M	Margin Of Error For Total Nonfamily Households   
      
    ○ Census tract’s percent dwelling units in building with 5+ units increased  
    __From Both 2006-2010 ACS & 2011-2015 ACS Data:__   
>B25024_006E	5 to 9 from table B25024. Units in Structure  
B25024_006M	Margin Of Error For 5 to 9	B25024. Units in Structure  
B25024_007E	10 to 19 from table B25024. Units in Structure  
B25024_007M	Margin Of Error For 10 to 19  
B25024_008E	20 to 49 from table B25024. Units in Structure  
B25024_008M	Margin Of Error For 20 to 49  
B25024_009E	50 or more from table B25024. Units in Structure  
B25024_009M	Margin Of Error For 50 or more  
      
    ○ Census tract’s percent dwelling units in building with 3-4 units increased  
    __From Both 2006-2010 ACS & 2011-2015 ACS Data:__ 
    B25024_005E	3 or 4 from table B25024. Units in Structure  
    B25024_005M	Margin Of Error For 3 or 4  
    
    ○ Census tract’s percent renter-occupied increased  
    __From Both 2006-2010 ACS & 2011-2015 ACS Data:__ 
    B07013_002E	Householder lived in owner-occupied housing units from table B07013. 
    B07013_002M	Margin Of Error For Householder lived in owner-occupied housing units    
    B07013_003E	Householder lived in renter-occupied housing units from table B07013. Geographical Mobility in the Past Year by Tenure for Current Residence in the U.S.   
    B07013_003M	Margin Of Error For Householder lived in renter-occupied housing units  
      
    ○ Census tract’s income diversity increased  
__From Both 2006-2010 ACS & 2011-2015 ACS Data:__  
    total_cnt_household_income: B19001_001E  
    me_total_cnt_household_income: B19001_001M  
    household_income_less_than_10000: B19001_002E  
    me_household_income_less_than_10000: B19001_002M  
    household_income_10000to_14999: B19001_003E   
    me_household_income_10000_to_14999: B19001_003M    
    household_income_15000_to_19999: B19001_004E  
    me_household_income_15000_to_19999: B19001_004M  
    household_income_20000_to_24999: B19001_005E  
    me_household_income_20000_to_24999: B19001_005M  
    household_income_25000_to_29999: B19001_006E  
    me_household_income_25000_to_29999: B19001_006M  
    household_income_30000_to_34999: B19001_007E  
    me_household_income_30000_to_34999: B19001_007M  
    household_income_35000_to_39999: B19001_008E  
    me_household_income_35000_to_39999: B19001_008M  
    household_income_40000_to_44999: B19001_009E  
    me_household_income_40000_to_44999: B19001_009M  
    household_income_45000_to_49999: B19001_010E  
    me_household_income_45000_to_49999: B19001_010M  
    household_income_50000_to_59999: B19001_011E  
    me_household_income_50000_to_59999: B19001_011M  
    household_income_60000_to_74999: B19001_012E  
    me_household_income_60000_to_74999: B19001_012M   
    household_income_75000_to_99999: B19001_013E  
    me_household_income_75000_to_99999: B19001_013M  
    household_income_100000_to_124999: B19001_014E  
    me_household_income_100000_to_124999: B19001_014M  
    household_income_125000_to_149999: B19001_015E  
    me_household_income_125000_to_149999: B19001_015M    
    household_income_150000_to_199999: B19001_016E  
    me_household_income_150000_to_199999: B19001_016M  
    household_income_200000_or_more: B19001_017E  
    me_household_income_200000_or_more: B19001_017M  
    
○ Census tract’s percent of renters paying >35percent of income increased  

__2006-2010 ACS Data:__  
B25070_008E	35.0-39.9 percent Gross Rent as a Percentage of Household Income	
B25070_008M	Margin Of Error For 35.0-39.9 percent	B25070. Gross Rent as a Percentage of Household Income  
B25070_009E	40.0 to 49.9 percent	B25070. Gross Rent as a Percentage of Household Income  
B25070_009M	Margin Of Error For 40.0-49.9 percent	B25070. Gross Rent as a Percentage of Household Income  
B25070_010E	50.0 percent or more	B25070. Gross Rent as a Percentage of Household Income  
B25070_010M	Margin Of Error For 50.0 percent or more	B25070. Gross Rent as a Percentage of Household Income  
B25070_011E	Not computed Gross Rent as a Percentage of Household Income  
B25070_011M	Margin Of Error For Not computed	B25070. Gross Rent as a Percentage of Household Income  
B25071_001E	Median gross rent as a percentage of household income	B25071. Median Gross Rent As A Percentage of Household Income (Dollars)  

__2011-2015 ACS Data:__  
B25070_008E	Estimate Total 35.0-39.9 percent GROSS RENT AS PERCENTAGE OF HOUSEHOLD INCOME IN PAST 12 MONTHS  	
B25070_009E	Estimate Total 40.0-49.9 percent GROSS RENT AS PERCENTAGE OF HOUSEHOLD INCOME IN PAST 12 MONTHS  
B25070_010E	Estimate Total 50.0 percent or more	GROSS RENT AS PERCENTAGE OF HOUSEHOLD INCOME IN PAST 12 MO  
B25070_011E	Estimate Total Not computed	GROSS RENT AS PERCENTAGE OF HOUSEHOLD INCOME IN PAST 12 MONTHS  
B25071_001E	Estimate Median gross rent as a percentage of household income MEDIAN GROSS RENT AS PERCENTAGE OF HOUSEHOLD INCOME IN PAST 12 MONTHS (DOLLARS)  

○ Census tract’s percent of dwelling units with three or more cars available decreased  
     "B08201_005E": "3_vehicles_available",  
     "B08201_005M": "ME_3_vehicles_available",  
     "B08201_006E": "4_or_more_vehicles_available",  
     "B08201_006M": "ME_4_or_more_vehicles_available",  

○ Census tract’s percent married couples with children decreased  

__2010 ACS Data__  
    "B09005_002E": "children_under18_in_family_household",  
    "B09005_002M": "ME_children_under18_in_family_household",  
    "B09005_003E": "children_under18_in_married_household",   
    "B09005_003M": "ME_children_under18_in_married_household",   
__2015 ACS Data__  
    "B09005_002E": "children_under18_in_family_household", 
    "B09005_003E": "children_under18_in_married_household",

○ Census tract’s percent non-hispanic white decreased  
__2010 ACS Data__  
    "B01001H_001E": "total_nonhispanic_white",  
    "B01001H_001M": "ME_total_nonhispanic_white",  

    "B00001_001E": "total_unweighted_sample_count_pop",  
    "B00001_001M": "ME_total_unweighted_sample_count_pop",  
    "B00002_001E": "total_unweighted_sample_housing_units",  
    "B00002_001M": "ME_total_unweighted_sample_housing_units"  

__2015 ACS Data__  
    "B01001H_001E": "total_nonhispanic_white",  
    "B00001_001E": "total_unweighted_sample_count_pop",  
    "B00002_001E": "total_unweighted_sample_housing_units"

In [1]:
# This code shows the output from all code in each cell instead of just the last line.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# This code displays Matplotlib objects inline.
from IPython import get_ipython
get_ipython().run_line_magic('matplotlib', 'inline')

import warnings; warnings.simplefilter('ignore')

import json, matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.preprocessing

from pprint import pprint

np.set_printoptions(formatter={"float":lambda x: '%.3f' % x})

# Increase the maximum number of columns displayed to 80.
pd.set_option('display.max_column', 80)
pd.set_option('display.max_row', 80)

In [2]:
# census API key --> to get a key, request at http://www.census.gov/developers/
key = "YOUR_KEY"
url_end = "&for=tract:*&in=state:53&in=county:033&key="+key

############# Get 2015 Data #############

# Start of all API urls for 5 yr ACS estimates for 2015
base_url_2015 = "https://api.census.gov/data/2015/acs/acs5?get=NAME,"

rent_url_2015 = "B25064_001E&for=tract:*&in=state:53&in=county:033"

# Create initial DataFrame for merging additional variables
df_2015 = pd.read_json(base_url_2015 + rent_url_2015)
df_2015.rename(columns={0: "Geography", 1: "median_rent",
                        2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
df_2015.drop(df_2015.head(1).index, inplace=True)
df_2015["Year"] = np.repeat(2015, len(df_2015))
df_2015 = df_2015[["Geography", "tract_num", "Year", "median_rent"]]

vars_2015 = {
             "B25064_001M": "ME_median_gross_rent",
             "B25070_008E": "rent_35.0-39.9_percent_of_house_income",
             "B25070_008M": "ME_rent_35.0-39.9_percent_of_house_income",
             "B25070_009E": "rent_40.0-49.9_percent_of_house_income",
             "B25070_009M": "ME_rent_40.0-49.9_percent_of_house_income",
             "B25070_010E": "rent_50.0_percent_of_house_income", 
             "B25070_010M": "ME_rent_50.0_percent_of_house_income",
             "B25070_011E": "not_computed_rent_as_percent_of_house_income",  
             "B25070_011M": "ME_not_computed_rent_as_percent_of_house_income", 
             "B25071_001E": "median_gross_rent_as_percent_of_house_income",
             "B25071_001M": "ME_median_gross_rent_as_percent_of_house_income",
             "B25058_001E": "median_contract_rent",
             "B25058_001M": "ME_median_contract_rent",
             "B25026_009E": "total_housing_renter_occupied",
             "B25026_009M": "ME_total_housing_renter_occupied",
             "B07013_003E": "householder_lived_in_renter-occupied_housing",
             "B07013_003M": "ME_householder_lived_in_renter-occupied_housing",
    
             "B00002_001E": "total_unweighted_sample_housing_units",    
    
             "B07013_002E": "householder_lived_in_owner_occupied_housing",
             "B07013_002M": "ME_householder_lived_in_owner_occupied_housing",
             "B25027_001E": "total_housing_units_with_mortgage",
             "B25027_001M": "ME_total_housing_units_with_mortgage",
             "B25027_002E": "housing_units_with_a_mortgage",
             "B25027_002M": "ME_housing_units_with_a_mortgage",
             "B25105_001E": "median_monthly_housing_costs",
             "B25105_001M": "ME_median_monthly_housing_costs",    
             "B25077_001E": "median_house_value",
             "B25077_001M": "ME_median_house_value",
    
             "B11010_001E": "total_nonfamily_households",
             "B11010_001M": "ME_total_nonfamily_households",
             "B25024_005E": "live_in_structure_with_3_or_4_units",
             "B25024_005M": "ME_live_in_structure_with_3_or_4_units",
             "B25024_006E": "live_in_structure_with_5-9_units",
             "B25024_006M": "ME_live_in_structure_with_5-9_units",
             "B25024_007E": "live_in_structure_with_10-19_units",
             "B25024_007M": "ME_live_in_structure_with_10-19_units",
             "B25024_008E": "live_in_structure_with_20-49_units",
             "B25024_008M": "ME_live_in_structure_with_20-49_units",
             "B25024_009E": "live_in_structure_with_50+_units",
             "B25024_009M": "ME_live_in_structure_with_50+_units",
    
             "B09005_002E": "children_under18_in_family_household",
             "B09005_002M": "ME_children_under18_in_family_household",
             "B09005_003E": "children_under18_in_married_household", 
             "B09005_003M": "ME_children_under18_in_married_household",
             "B09019_002E": "total_households",
             "B09019_001M": "ME_total_households",
                     
             # Education variables
             "B15003_022E": "bachelor_deg_25yr_or_older", 
             "B15003_022M": "ME_bachelor_deg_25yr_or_older",
    
             "B01001_011E": "total_male_25-29yr",
             "B01001_012E": "total_male_30-34yr",
             "B01001_013E": "total_male_35-39yr",
             "B01001_014E": "total_male_40-44yr",
             "B01001_015E": "total_male_45-49yr",
             "B01001_016E": "total_male_50-54yr",
             "B01001_017E": "total_male_55-59yr",
             "B01001_018E": "total_male_60-61yr",
             "B01001_019E": "total_male_62-64yr",
             "B01001_020E": "total_male_65-66yr",
             "B01001_021E": "total_male_67-69yr",
             "B01001_022E": "total_male_70-74yr",
             "B01001_023E": "total_male_75-79yr",
             "B01001_024E": "total_male_80-84yr",
             "B01001_025E": "total_male_85+yr",
    
             "B01001_035E": "total_female_25-29yr",
             "B01001_036E": "total_female_30-34yr",
             "B01001_037E": "total_female_35-39yr",
             "B01001_038E": "total_female_40-44yr",
             "B01001_039E": "total_female_45-49yr",
             "B01001_040E": "total_female_50-54yr",
             "B01001_041E": "total_female_55-59yr",
             "B01001_042E": "total_female_60-61yr",
             "B01001_043E": "total_female_62-64yr",
             "B01001_044E": "total_female_65-66yr",
             "B01001_045E": "total_female_67-69yr",
             "B01001_046E": "total_female_70-74yr",
             "B01001_047E": "total_female_75-79yr",
             "B01001_048E": "total_female_80-84yr",
             "B01001_049E": "total_female_85+yr",


             "B24124_127E": "total_employed_lawyers_civilian",
             "B24124_063E": "total_employed_computer_programmers_civilian",
             "B24123_063E": "total_employed_computer_programmers_civilian_female",
             "B24124_064E": "total_employed_software_developers_civilian",
             "B24123_064E": "total_employed_software_developers_civilian_female",
             "B24124_065E": "total_employed_web_developers_civilian",
             "B24123_065E": "total_employed_web_developers_civilian_female",
             
             # Income variables
             "B19013_001E": "median_house_income_past_12mo",
             "B19013_001M": "ME_median_house_income_past_12mo",
             "B19301_001E": "per_capita_income_past_12mo",
             "B19301_001M": "ME_per_capita_income_past_12mo",
             "B19001_001E": "total_cnt_house_income",
             "B19001_001M": "ME_total_cnt_house_income",
             "B19001_002E": "house_income_less_10000",
             "B19001_002M": "ME_hous_income_less_10000",
             "B19001_003E": "house_income_10000-14999",
             "B19001_003M": "ME_house_income_10000-14999",
             "B19001_004E": "house_income_15000-19999",
             "B19001_004M": "ME_house_income_15000-19999",
             "B19001_005E": "house_income_20000-24999",
             "B19001_005M": "ME_house_income_20000-24999",
             "B19001_006E": "house_income_25000-29999",
             "B19001_006M": "ME_house_income_25000-29999",
             "B19001_007E": "house_income_30000-34999",
             "B19001_007M": "ME_house_income_30000-34999",
             "B19001_008E": "house_income_35000-39999",
             "B19001_008M": "ME_house_income_35000-39999",
             "B19001_009E": "house_income_40000-44999",
             "B19001_009M": "ME_house_income_40000-44999",
             "B19001_010E": "house_income_45000-49999",
             "B19001_010M": "ME_house_income_45000-49999",
             "B19001_011E": "house_income_50000-59999",
             "B19001_011M": "ME_house_income_50000-59999",
             "B19001_012E": "house_income_60000-74999",
             "B19001_012M": "ME_house_income_60000-74999",
             "B19001_013E": "house_income_75000-99999",
             "B19001_013M": "ME_house_income_75000-99999",
             "B19001_014E": "house_income_100000-124999",
             "B19001_014M": "ME_house_income_100000-124999",
             "B19001_015E": "house_income_125000-149999",
             "B19001_015M": "ME_house_income_125000-149999",
             "B19001_016E": "house_income_150000-199999",
             "B19001_016M": "ME_house_income_150000-199999",
             "B19001_017E": "house_income_200000+",
             "B19001_017M": "ME_house_income_200000+",

             "B17015_002E": "total_income_in_past_12mo_below_poverty_level",
             "B17015_002M": "ME_total_income_in_past_12mo_below_poverty_level",
             "B09010_002E": "children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo",
             "B09010_002M": "ME_living_in_household_getting_SSI,_etc",
            
             # Worker Transportation variables
             "B08101_025E": "workers_taking_public_transportation",
             "B08101_025M": "ME_workers_taking_public_transportation",
             "B08301_019E": "walk-work",
             "B08301_019M": "ME_walk-work",
             "B08101_001E": "total_means_transportation-work_by_any_age",
             "B08101_001M": "ME_total_means_transportation-work_by_any_age",
             "B08303_001E": "total_travel_time-work",
             "B08303_001M": "ME_total_travel_time-work",
             "B08303_002E": "travel_time-work_less_5_min",
             "B08303_002M": "ME_travel_time-work_less_5_min",
             "B08303_003E": "travel_time-work_5-9_min",
             "B08303_003M": "ME_travel_time-work_5-9_min",
             "B08303_004E": "travel_time-work_10-14_min",
             "B08303_004M": "ME_travel_time-work_10-14_min",
             "B08303_005E": "travel_time-work_15-19_min",
             "B08303_005M": "ME_travel_time-work_15-19_min",
             "B08303_006E": "travel_time-work_20-24_min",
             "B08303_006M": "ME_travel_time-work_20-24_min",
             "B08303_007E": "travel_time-work_25-29_min",
             "B08303_007M": "ME_travel_time-work_25-29_min",
             "B08201_005E": "3_vehicles_available",
             "B08201_005M": "ME_3_vehicles_available",
             "B08201_006E": "4_or_more_vehicles_available",
             "B08201_006M": "ME_4_or_more_vehicles_available",
    
             "B01001H_001E": "total_nonhispanic_white",
             "B01001H_001M": "ME_total_nonhispanic_white",
             "B01003_001E": "total_population",
             "B00001_001E": "total_unweighted_sample_count_pop",
            }
                 
for i in vars_2015.keys():
    try:
        df_json = pd.read_json(base_url_2015 + i + url_end)
        df_json.rename(columns={0: "Geography", 1: vars_2015[i],
                                2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
        df_json.drop(df_json.head(1).index, inplace=True)
        # Create column for indexing by year
        df_json["Year"] = np.repeat(2015, len(df_json))
        # Remove columns we don't need
        df_json.drop(columns=["WA", "King", "tract_num"], inplace=True)
        df_2015 = df_2015.merge(df_json, on=["Geography", "Year"],
                                how='outer', sort=False)  #suffixes=('_2015')
    except:
        print("Couldn't get data for variable", i, vars_2015[i])
        pass

df_2015.shape
df_2015.head()

(398, 159)

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,median_monthly_housing_costs,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,...,house_income_100000-124999,ME_house_income_100000-124999,house_income_125000-149999,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop
0,"Census Tract 1, King County, Washington",000100,2015,981,58,70,51,266,100,763,187,85,64,34.5,8.8,892,57,4401,582,4337,580,199,2448,420,1081,163,742,157,1072,65,410700,53686,1971,217,269,158,93,56,322,135,...,229,119,122,67,213,82,208,97,172,83,505,205,685,177,86,53,3448,361,3326,347,0,17,197,87,376,166,388,144,651,215,294,123,337,135,68,46,3987,421,6918,406
1,"Census Tract 2, King County, Washington",000200,2015,1128,63,152,108,227,101,299,138,162,138,33.6,3.0,993,62,3475,668,3438,667,199,4396,547,1917,163,1311,151,1207,80,342400,14521,1510,197,97,86,117,65,380,162,...,345,146,164,70,261,106,88,59,183,121,349,252,699,310,61,50,4007,411,3762,421,12,18,76,55,438,166,458,140,594,187,260,122,353,132,30,31,4520,428,7974,427
2,"Census Tract 3, King County, Washington",000300,2015,1225,238,17,18,77,60,119,69,22,24,33.4,8.0,1028,210,1200,322,1200,322,108,1416,278,608,101,401,91,1384,248,336300,19918,486,91,27,18,37,43,88,56,...,78,52,67,36,106,61,75,52,60,55,102,70,309,126,78,50,1403,163,1361,157,15,16,67,37,79,51,158,76,266,105,36,31,127,67,16,18,1880,225,2637,259
3,"Census Tract 4.01, King County, Washington",000401,2015,850,39,227,112,288,167,611,167,79,75,35.1,3.9,822,45,3952,557,3880,511,183,1791,391,977,165,682,157,888,43,291400,36042,2140,237,88,67,114,89,229,119,...,163,107,103,84,62,62,77,56,266,138,513,243,385,134,229,126,2691,388,2628,379,62,77,212,118,292,138,172,101,629,223,204,116,93,86,36,45,3238,466,5907,311
4,"Census Tract 4.02, King County, Washington",000402,2015,988,73,237,120,140,86,324,129,12,20,36.7,2.1,946,72,2106,462,2106,462,132,2508,386,1048,167,828,133,1241,166,405400,33859,1368,157,84,58,209,114,242,116,...,217,81,24,27,146,81,248,84,12,19,0,12,406,164,0,12,2644,354,2368,401,22,33,113,73,314,176,211,107,315,126,190,177,340,132,70,55,3767,388,4906,308

__Note:__ The vast majority of the code to get 2010 data is the same as the 2015 data, but the base url is different and some of the variable names are different, so I just copied all the code. However, this is not the most efficient method and you might want to do things differently.

In [3]:
############# Get 2010 Data #############

# Start of all API urls for 5 yr ACS estimates for 2010
base_url_2010 = "https://api.census.gov/data/2010/acs5?get=NAME,"

rent_url_2010 = "B25064_001E&for=tract:*&in=state:53&in=county:033"

df_2010 = pd.read_json(base_url_2010 + rent_url_2010)
df_2010.rename(columns={0: "Geography", 1: "median_rent",
                        2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
df_2010.drop(df_2010.head(1).index, inplace=True)
df_2010["Year"] = np.repeat(2010, len(df_2010))
df_2010 = df_2010[["Geography", "tract_num", "Year", "median_rent"]]

vars_2010 = {
             "B25064_001M": "ME_median_gross_rent",
             "B25070_008E": "rent_35.0-39.9_percent_of_house_income",
             "B25070_008M": "ME_rent_35.0-39.9_percent_of_house_income",
             "B25070_009E": "rent_40.0-49.9_percent_of_house_income",
             "B25070_009M": "ME_rent_40.0-49.9_percent_of_house_income",
             "B25070_010E": "rent_50.0_percent_of_house_income", 
             "B25070_010M": "ME_rent_50.0_percent_of_house_income",
             "B25070_011E": "not_computed_rent_as_percent_of_house_income",  
             "B25070_011M": "ME_not_computed_rent_as_percent_of_house_income", 
             "B25071_001E": "median_gross_rent_as_percent_of_house_income",
             "B25071_001M": "ME_median_gross_rent_as_percent_of_house_income",
             "B25058_001E": "median_contract_rent",
             "B25058_001M": "ME_median_contract_rent",
             "B25026_009E": "total_housing_renter_occupied",
             "B25026_009M": "ME_total_housing_renter_occupied",
             "B07013_003E": "householder_lived_in_renter-occupied_housing",
             "B07013_003M": "ME_householder_lived_in_renter-occupied_housing",
    
             "B00002_001E": "total_unweighted_sample_housing_units",
             "B00002_001M": "ME_total_unweighted_sample_housing_units",    

             "B07013_002E": "householder_lived_in_owner_occupied_housing",
             "B07013_002M": "ME_householder_lived_in_owner_occupied_housing",
             "B25027_001E": "total_housing_units_with_mortgage",
             "B25027_001M": "ME_total_housing_units_with_mortgage",
             "B25027_002E": "housing_units_with_a_mortgage",
             "B25027_002M": "ME_housing_units_with_a_mortgage",
             "B25105_001M": "ME_median_monthly_housing_costs",
             "B25077_001E": "median_house_value",
             "B25077_001M": "ME_median_house_value",
    
             "B11010_001E": "total_nonfamily_households",
             "B11010_001M": "ME_total_nonfamily_households",
             "B25024_005E": "live_in_structure_with_3_or_4_units",
             "B25024_005M": "ME_live_in_structure_with_3_or_4_units",
             "B25024_006E": "live_in_structure_with_5-9_units",
             "B25024_006M": "ME_live_in_structure_with_5-9_units",
             "B25024_007E": "live_in_structure_with_10-19_units",
             "B25024_007M": "ME_live_in_structure_with_10-19_units",
             "B25024_008E": "live_in_structure_with_20-49_units",
             "B25024_008M": "ME_live_in_structure_with_20-49_units",
             "B25024_009E": "live_in_structure_with_50+_units",
             "B25024_009M": "ME_live_in_structure_with_50+_units",
    
             "B09005_002E": "children_under18_in_family_household",
             "B09005_002M": "ME_children_under18_in_family_household",
             "B09005_003E": "children_under18_in_married_household", 
             "B09005_003M": "ME_children_under18_in_married_household",
             "B11001_001E": "total_households",
             "B11001_001M": "ME_total_households",
          
             # Education variables
             "B15002_015E": "bachelor_deg_25yr_or_older_male",
             "B15002_015M": "ME_bachelor_deg_25yr_or_older_male",
             "B15002_032E": "bachelor_deg_25yr_or_older_female",
             "B15002_032M": "ME_bachelor_deg_25yr_or_older_female",
    
             "B01001_011E": "total_male_25-29yr",
             "B01001_012E": "total_male_30-34yr",
             "B01001_013E": "total_male_35-39yr",
             "B01001_014E": "total_male_40-44yr",
             "B01001_015E": "total_male_45-49yr",
             "B01001_016E": "total_male_50-54yr",
             "B01001_017E": "total_male_55-59yr",
             "B01001_018E": "total_male_60-61yr",
             "B01001_019E": "total_male_62-64yr",
             "B01001_020E": "total_male_65-66yr",
             "B01001_021E": "total_male_67-69yr",
             "B01001_022E": "total_male_70-74yr",
             "B01001_023E": "total_male_75-79yr",
             "B01001_024E": "total_male_80-84yr",
             "B01001_025E": "total_male_85+yr",
    
             "B01001_035E": "total_female_25-29yr",
             "B01001_036E": "total_female_30-34yr",
             "B01001_037E": "total_female_35-39yr",
             "B01001_038E": "total_female_40-44yr",
             "B01001_039E": "total_female_45-49yr",
             "B01001_040E": "total_female_50-54yr",
             "B01001_041E": "total_female_55-59yr",
             "B01001_042E": "total_female_60-61yr",
             "B01001_043E": "total_female_62-64yr",
             "B01001_044E": "total_female_65-66yr",
             "B01001_045E": "total_female_67-69yr",
             "B01001_046E": "total_female_70-74yr",
             "B01001_047E": "total_female_75-79yr",
             "B01001_048E": "total_female_80-84yr",
             "B01001_049E": "total_female_85+yr",

             "B24124_127E": "total_employed_lawyers_civilian",
             "B24124_063E": "total_employed_computer_programmers_civilian",
             "B24123_063E": "total_employed_computer_programmers_civilian_female",
             "B24124_064E": "total_employed_software_developers_civilian",
             "B24123_064E": "total_employed_software_developers_civilian_female",
             "B24124_065E": "total_employed_web_developers_civilian",
             "B24123_065E": "total_employed_web_developers_civilian_female",
             
             # Income variables
             "B19013_001E": "median_house_income_past_12mo",
             "B19013_001M": "ME_median_house_income_past_12mo",
             "B19301_001E": "per_capita_income_past_12mo",
             "B19301_001M": "ME_per_capita_income_past_12mo",
             "B19001_001E": "total_cnt_house_income",
             "B19001_001M": "ME_total_cnt_house_income",
             "B19001_002E": "house_income_less_10000",
             "B19001_002M": "ME_hous_income_less_10000",
             "B19001_003E": "house_income_10000-14999",
             "B19001_003M": "ME_house_income_10000-14999",
             "B19001_004E": "house_income_15000-19999",
             "B19001_004M": "ME_house_income_15000-19999",
             "B19001_005E": "house_income_20000-24999",
             "B19001_005M": "ME_house_income_20000-24999",
             "B19001_006E": "house_income_25000-29999",
             "B19001_006M": "ME_house_income_25000-29999",
             "B19001_007E": "house_income_30000-34999",
             "B19001_007M": "ME_house_income_30000-34999",
             "B19001_008E": "house_income_35000-39999",
             "B19001_008M": "ME_house_income_35000-39999",
             "B19001_009E": "house_income_40000-44999",
             "B19001_009M": "ME_house_income_40000-44999",
             "B19001_010E": "house_income_45000-49999",
             "B19001_010M": "ME_house_income_45000-49999",
             "B19001_011E": "house_income_50000-59999",
             "B19001_011M": "ME_house_income_50000-59999",
             "B19001_012E": "house_income_60000-74999",
             "B19001_012M": "ME_house_income_60000-74999",
             "B19001_013E": "house_income_75000-99999",
             "B19001_013M": "ME_house_income_75000-99999",
             "B19001_014E": "house_income_100000-124999",
             "B19001_014M": "ME_house_income_100000-124999",
             "B19001_015E": "house_income_125000-149999",
             "B19001_015M": "ME_house_income_125000-149999",
             "B19001_016E": "house_income_150000-199999",
             "B19001_016M": "ME_house_income_150000-199999",
             "B19001_017E": "house_income_200000+",
             "B19001_017M": "ME_house_income_200000+",
             
             "B17015_002E": "total_income_in_past_12mo_below_poverty_level",
             "B17015_002M": "ME_total_income_in_past_12mo_below_poverty_level",
             "B09010_002E": "children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo",
             "B09010_002M": "ME_living_in_household_getting_SSI,_etc",
            
             # Worker Transportation variables
             "B08101_025E": "workers_taking_public_transportation",
             "B08101_025M": "ME_workers_taking_public_transportation",
             "B08301_019E": "walk-work",
             "B08301_019M": "ME_walk-work",
             "B08101_001E": "total_means_transportation-work_by_any_age",
             "B08101_001M": "ME_total_means_transportation-work_by_any_age",
             "B08303_001E": "total_travel_time-work",
             "B08303_001M": "ME_total_travel_time-work",
             "B08303_002E": "travel_time-work_less_5_min",
             "B08303_002M": "ME_travel_time-work_less_5_min",
             "B08303_003E": "travel_time-work_5-9_min",
             "B08303_003M": "ME_travel_time-work_5-9_min",
             "B08303_004E": "travel_time-work_10-14_min",
             "B08303_004M": "ME_travel_time-work_10-14_min",
             "B08303_005E": "travel_time-work_15-19_min",
             "B08303_005M": "ME_travel_time-work_15-19_min",
             "B08303_006E": "travel_time-work_20-24_min",
             "B08303_006M": "ME_travel_time-work_20-24_min",
             "B08303_007E": "travel_time-work_25-29_min",
             "B08303_007M": "ME_travel_time-work_25-29_min",
             "B08201_005E": "3_vehicles_available",
             "B08201_005M": "ME_3_vehicles_available",
             "B08201_006E": "4_or_more_vehicles_available",
             "B08201_006M": "ME_4_or_more_vehicles_available",    
    
             "B01001H_001E": "total_nonhispanic_white",
             "B01001H_001M": "ME_total_nonhispanic_white",
             "B01003_001E": "total_population",
             "B00001_001E": "total_unweighted_sample_count_pop",
            }

for i in vars_2010.keys():
    try:
        df_json = pd.read_json(base_url_2010 + i + url_end)
        df_json.rename(columns={0: "Geography", 1: vars_2010[i],
                                2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
        df_json.drop(df_json.head(1).index, inplace=True)
        df_json["Year"] = np.repeat(2010, len(df_json))
        df_json.drop(columns=["WA", "King", "tract_num"], inplace=True)
        df_2010 = df_2010.merge(df_json, on=["Geography", "Year"],
                                how='outer', sort=False)  #suffixes=('_2010')
    except:
        print("Couldn't get data for", i, vars_2010[i])
        pass
        
df_2010.shape
df_2010.head()

(398, 161)

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,ME_total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,...,house_income_100000-124999,ME_house_income_100000-124999,house_income_125000-149999,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop
0,"Census Tract 1, King County, Washington",000100,2010,838,40,132,95,134,89,473,158,60,64,28.6,2.7,775,23,3856,552,3830,551,186,-1,1916,385,892,156,631,133,47,497300,66258,1836,208,111,79,340,126,286,152,...,243,107,108,64,118,74,147,69,149,85,57,67,755,232,49,42,3489,459,3328,452,59,60,437,306,162,106,352,129,554,183,297,131,226,120,64,46,3330,358,5784,315
1,"Census Tract 2, King County, Washington",000200,2010,906,72,156,106,73,65,339,148,266,150,28.8,7.6,828,44,3081,509,3055,506,212,-1,4581,476,2018,197,1573,190,122,358700,10609,1734,226,160,113,286,142,168,102,...,356,121,217,115,85,45,79,64,183,111,150,98,621,174,235,126,4075,350,3984,346,72,61,235,146,217,88,568,177,794,211,483,153,320,134,78,52,5383,433,7682,463
2,"Census Tract 3, King County, Washington",000300,2010,1101,417,20,22,76,61,28,26,0,123,34.6,8.2,918,325,675,250,675,250,95,-1,1867,177,797,77,653,77,232,346500,10807,387,103,0,123,52,48,29,29,...,105,45,80,54,47,42,25,25,28,26,61,51,206,91,48,37,1399,152,1383,144,22,26,23,21,43,38,274,137,239,102,187,79,107,62,75,50,1856,184,2548,208
3,"Census Tract 4.01, King County, Washington",000401,2010,841,44,63,50,211,110,543,170,69,70,31,4.2,789,30,3405,464,3395,464,160,-1,2209,661,883,160,645,145,57,342100,45503,1825,283,88,58,108,92,262,147,...,146,84,92,71,46,42,30,34,97,66,110,89,231,106,111,79,2474,329,2351,335,0,123,50,61,297,128,358,130,437,188,191,124,168,131,27,30,3607,628,5805,307
4,"Census Tract 4.02, King County, Washington",000402,2010,951,74,125,96,32,35,478,167,0,123,34.5,7,867,83,2142,378,2085,363,133,-1,2199,322,984,137,682,138,161,387400,28878,1146,173,0,123,165,98,217,90,...,159,80,69,55,47,45,14,20,68,50,24,26,312,111,117,103,2115,193,1997,182,0,123,152,98,176,115,295,118,288,112,175,82,140,72,48,45,3495,349,4662,286

In [4]:
dict_vars = {
             #"B01001_011E": "total_male_25-29yr",
             "B01001_012E": "total_male_30-34yr",
             "B01001_013E": "total_male_35-39yr",
             "B01001_014E": "total_male_40-44yr",
             "B01001_015E": "total_male_45-49yr",
             "B01001_016E": "total_male_50-54yr",
             "B01001_017E": "total_male_55-59yr",
             "B01001_018E": "total_male_60-61yr",
             "B01001_019E": "total_male_62-64yr",
             "B01001_020E": "total_male_65-66yr",
             "B01001_021E": "total_male_67-69yr",
             "B01001_022E": "total_male_70-74yr",
             "B01001_023E": "total_male_75-79yr",
             "B01001_024E": "total_male_80-84yr",
             "B01001_025E": "total_male_85+yr",
    
             "B01001_035E": "total_female_25-29yr",
             "B01001_036E": "total_female_30-34yr",
             "B01001_037E": "total_female_35-39yr",
             "B01001_038E": "total_female_40-44yr",
             "B01001_039E": "total_female_45-49yr",
             "B01001_040E": "total_female_50-54yr",
             "B01001_041E": "total_female_55-59yr",
             "B01001_042E": "total_female_60-61yr",
             "B01001_043E": "total_female_62-64yr",
             "B01001_044E": "total_female_65-66yr",
             "B01001_045E": "total_female_67-69yr",
             "B01001_046E": "total_female_70-74yr",
             "B01001_047E": "total_female_75-79yr",
             "B01001_048E": "total_female_80-84yr",
             "B01001_049E": "total_female_85+yr"
        }

df_2010["total_population_over_25"] = df_2010["total_male_25-29yr"].astype(int)
df_2015["total_population_over_25"] = df_2015["total_male_25-29yr"].astype(int)        
                                              
for i in dict_vars.values():
    df_2010["total_population_over_25"] = df_2010["total_population_over_25"] + df_2010[i].astype(int)
    df_2015["total_population_over_25"] = df_2015["total_population_over_25"] + df_2015[i].astype(int)
                            
df_2010.head()
df_2015.head()

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,ME_total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,...,ME_house_income_100000-124999,house_income_125000-149999,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop,total_population_over_25
0,"Census Tract 1, King County, Washington",000100,2010,838,40,132,95,134,89,473,158,60,64,28.6,2.7,775,23,3856,552,3830,551,186,-1,1916,385,892,156,631,133,47,497300,66258,1836,208,111,79,340,126,286,152,...,107,108,64,118,74,147,69,149,85,57,67,755,232,49,42,3489,459,3328,452,59,60,437,306,162,106,352,129,554,183,297,131,226,120,64,46,3330,358,5784,315,4454
1,"Census Tract 2, King County, Washington",000200,2010,906,72,156,106,73,65,339,148,266,150,28.8,7.6,828,44,3081,509,3055,506,212,-1,4581,476,2018,197,1573,190,122,358700,10609,1734,226,160,113,286,142,168,102,...,121,217,115,85,45,79,64,183,111,150,98,621,174,235,126,4075,350,3984,346,72,61,235,146,217,88,568,177,794,211,483,153,320,134,78,52,5383,433,7682,463,5782
2,"Census Tract 3, King County, Washington",000300,2010,1101,417,20,22,76,61,28,26,0,123,34.6,8.2,918,325,675,250,675,250,95,-1,1867,177,797,77,653,77,232,346500,10807,387,103,0,123,52,48,29,29,...,45,80,54,47,42,25,25,28,26,61,51,206,91,48,37,1399,152,1383,144,22,26,23,21,43,38,274,137,239,102,187,79,107,62,75,50,1856,184,2548,208,1919
3,"Census Tract 4.01, King County, Washington",000401,2010,841,44,63,50,211,110,543,170,69,70,31,4.2,789,30,3405,464,3395,464,160,-1,2209,661,883,160,645,145,57,342100,45503,1825,283,88,58,108,92,262,147,...,84,92,71,46,42,30,34,97,66,110,89,231,106,111,79,2474,329,2351,335,0,123,50,61,297,128,358,130,437,188,191,124,168,131,27,30,3607,628,5805,307,4491
4,"Census Tract 4.02, King County, Washington",000402,2010,951,74,125,96,32,35,478,167,0,123,34.5,7,867,83,2142,378,2085,363,133,-1,2199,322,984,137,682,138,161,387400,28878,1146,173,0,123,165,98,217,90,...,80,69,55,47,45,14,20,68,50,24,26,312,111,117,103,2115,193,1997,182,0,123,152,98,176,115,295,118,288,112,175,82,140,72,48,45,3495,349,4662,286,3542

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,median_monthly_housing_costs,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,...,ME_house_income_100000-124999,house_income_125000-149999,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop,total_population_over_25
0,"Census Tract 1, King County, Washington",000100,2015,981,58,70,51,266,100,763,187,85,64,34.5,8.8,892,57,4401,582,4337,580,199,2448,420,1081,163,742,157,1072,65,410700,53686,1971,217,269,158,93,56,322,135,...,119,122,67,213,82,208,97,172,83,505,205,685,177,86,53,3448,361,3326,347,0,17,197,87,376,166,388,144,651,215,294,123,337,135,68,46,3987,421,6918,406,5010
1,"Census Tract 2, King County, Washington",000200,2015,1128,63,152,108,227,101,299,138,162,138,33.6,3.0,993,62,3475,668,3438,667,199,4396,547,1917,163,1311,151,1207,80,342400,14521,1510,197,97,86,117,65,380,162,...,146,164,70,261,106,88,59,183,121,349,252,699,310,61,50,4007,411,3762,421,12,18,76,55,438,166,458,140,594,187,260,122,353,132,30,31,4520,428,7974,427,5880
2,"Census Tract 3, King County, Washington",000300,2015,1225,238,17,18,77,60,119,69,22,24,33.4,8.0,1028,210,1200,322,1200,322,108,1416,278,608,101,401,91,1384,248,336300,19918,486,91,27,18,37,43,88,56,...,52,67,36,106,61,75,52,60,55,102,70,309,126,78,50,1403,163,1361,157,15,16,67,37,79,51,158,76,266,105,36,31,127,67,16,18,1880,225,2637,259,1916
3,"Census Tract 4.01, King County, Washington",000401,2015,850,39,227,112,288,167,611,167,79,75,35.1,3.9,822,45,3952,557,3880,511,183,1791,391,977,165,682,157,888,43,291400,36042,2140,237,88,67,114,89,229,119,...,107,103,84,62,62,77,56,266,138,513,243,385,134,229,126,2691,388,2628,379,62,77,212,118,292,138,172,101,629,223,204,116,93,86,36,45,3238,466,5907,311,4487
4,"Census Tract 4.02, King County, Washington",000402,2015,988,73,237,120,140,86,324,129,12,20,36.7,2.1,946,72,2106,462,2106,462,132,2508,386,1048,167,828,133,1241,166,405400,33859,1368,157,84,58,209,114,242,116,...,81,24,27,146,81,248,84,12,19,0,12,406,164,0,12,2644,354,2368,401,22,33,113,73,314,176,211,107,315,126,190,177,340,132,70,55,3767,388,4906,308,4145

In [5]:
# Remove columns in df_2010 but not in df_2015 before concatenating

#list(df_2010.columns) # see names of all columns

# df_2010[["bachelor_deg_25yr_or_older_male",
#          "ME_bachelor_deg_25yr_or_older_male",
#          "bachelor_deg_25yr_or_older_female",
#          "ME_bachelor_deg_25yr_or_older_female"]]

df_2010["bachelor_deg_25yr_or_older"] = df_2010["bachelor_deg_25yr_or_older_male"].astype(int) + df_2010["bachelor_deg_25yr_or_older_female"].astype(int)
df_2010["ME_bachelor_deg_25yr_or_older"] = df_2010["ME_bachelor_deg_25yr_or_older_male"].astype(int) + df_2010["ME_bachelor_deg_25yr_or_older_female"].astype(int)

# df_2010[["bachelor_deg_25yr_or_older",
#          "ME_bachelor_deg_25yr_or_older",
#          "bachelor_deg_25yr_or_older_male",
#          "ME_bachelor_deg_25yr_or_older_male",
#          "bachelor_deg_25yr_or_older_female",
#          "ME_bachelor_deg_25yr_or_older_female"]]

df_2010.drop(columns=["bachelor_deg_25yr_or_older_male",
         "ME_bachelor_deg_25yr_or_older_male",
         "bachelor_deg_25yr_or_older_female",
         "ME_bachelor_deg_25yr_or_older_female"], inplace=True)

In [6]:
df_2010.head()

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,ME_total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,...,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop,total_population_over_25,bachelor_deg_25yr_or_older,ME_bachelor_deg_25yr_or_older
0,"Census Tract 1, King County, Washington",000100,2010,838,40,132,95,134,89,473,158,60,64,28.6,2.7,775,23,3856,552,3830,551,186,-1,1916,385,892,156,631,133,47,497300,66258,1836,208,111,79,340,126,286,152,...,64,118,74,147,69,149,85,57,67,755,232,49,42,3489,459,3328,452,59,60,437,306,162,106,352,129,554,183,297,131,226,120,64,46,3330,358,5784,315,4454,1091,296
1,"Census Tract 2, King County, Washington",000200,2010,906,72,156,106,73,65,339,148,266,150,28.8,7.6,828,44,3081,509,3055,506,212,-1,4581,476,2018,197,1573,190,122,358700,10609,1734,226,160,113,286,142,168,102,...,115,85,45,79,64,183,111,150,98,621,174,235,126,4075,350,3984,346,72,61,235,146,217,88,568,177,794,211,483,153,320,134,78,52,5383,433,7682,463,5782,1920,424
2,"Census Tract 3, King County, Washington",000300,2010,1101,417,20,22,76,61,28,26,0,123,34.6,8.2,918,325,675,250,675,250,95,-1,1867,177,797,77,653,77,232,346500,10807,387,103,0,123,52,48,29,29,...,54,47,42,25,25,28,26,61,51,206,91,48,37,1399,152,1383,144,22,26,23,21,43,38,274,137,239,102,187,79,107,62,75,50,1856,184,2548,208,1919,495,187
3,"Census Tract 4.01, King County, Washington",000401,2010,841,44,63,50,211,110,543,170,69,70,31,4.2,789,30,3405,464,3395,464,160,-1,2209,661,883,160,645,145,57,342100,45503,1825,283,88,58,108,92,262,147,...,71,46,42,30,34,97,66,110,89,231,106,111,79,2474,329,2351,335,0,123,50,61,297,128,358,130,437,188,191,124,168,131,27,30,3607,628,5805,307,4491,919,274
4,"Census Tract 4.02, King County, Washington",000402,2010,951,74,125,96,32,35,478,167,0,123,34.5,7,867,83,2142,378,2085,363,133,-1,2199,322,984,137,682,138,161,387400,28878,1146,173,0,123,165,98,217,90,...,55,47,45,14,20,68,50,24,26,312,111,117,103,2115,193,1997,182,0,123,152,98,176,115,295,118,288,112,175,82,140,72,48,45,3495,349,4662,286,3542,1031,283

In [7]:
# Join datasets
data = pd.concat([df_2015, df_2010], join="inner",
                 ignore_index=True, axis=0, verify_integrity=True)
data.shape
data.head()

# Write data to a CSV file
data.to_csv("Capstone590/Data/acs_larger_data_set.csv",
            sep=",", encoding='utf-8', index=False)

(796, 159)

,Geography,tract_num,Year,median_rent,ME_median_gross_rent,rent_35.0-39.9_percent_of_house_income,ME_rent_35.0-39.9_percent_of_house_income,rent_40.0-49.9_percent_of_house_income,ME_rent_40.0-49.9_percent_of_house_income,rent_50.0_percent_of_house_income,ME_rent_50.0_percent_of_house_income,not_computed_rent_as_percent_of_house_income,ME_not_computed_rent_as_percent_of_house_income,median_gross_rent_as_percent_of_house_income,ME_median_gross_rent_as_percent_of_house_income,median_contract_rent,ME_median_contract_rent,total_housing_renter_occupied,ME_total_housing_renter_occupied,householder_lived_in_renter-occupied_housing,ME_householder_lived_in_renter-occupied_housing,total_unweighted_sample_housing_units,householder_lived_in_owner_occupied_housing,ME_householder_lived_in_owner_occupied_housing,total_housing_units_with_mortgage,ME_total_housing_units_with_mortgage,housing_units_with_a_mortgage,ME_housing_units_with_a_mortgage,ME_median_monthly_housing_costs,median_house_value,ME_median_house_value,total_nonfamily_households,ME_total_nonfamily_households,live_in_structure_with_3_or_4_units,ME_live_in_structure_with_3_or_4_units,live_in_structure_with_5-9_units,ME_live_in_structure_with_5-9_units,live_in_structure_with_10-19_units,ME_live_in_structure_with_10-19_units,live_in_structure_with_20-49_units,...,ME_house_income_100000-124999,house_income_125000-149999,ME_house_income_125000-149999,house_income_150000-199999,ME_house_income_150000-199999,house_income_200000+,ME_house_income_200000+,total_income_in_past_12mo_below_poverty_level,ME_total_income_in_past_12mo_below_poverty_level,"children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo","ME_living_in_household_getting_SSI,_etc",workers_taking_public_transportation,ME_workers_taking_public_transportation,walk-work,ME_walk-work,total_means_transportation-work_by_any_age,ME_total_means_transportation-work_by_any_age,total_travel_time-work,ME_total_travel_time-work,travel_time-work_less_5_min,ME_travel_time-work_less_5_min,travel_time-work_5-9_min,ME_travel_time-work_5-9_min,travel_time-work_10-14_min,ME_travel_time-work_10-14_min,travel_time-work_15-19_min,ME_travel_time-work_15-19_min,travel_time-work_20-24_min,ME_travel_time-work_20-24_min,travel_time-work_25-29_min,ME_travel_time-work_25-29_min,3_vehicles_available,ME_3_vehicles_available,4_or_more_vehicles_available,ME_4_or_more_vehicles_available,total_nonhispanic_white,ME_total_nonhispanic_white,total_population,total_unweighted_sample_count_pop,total_population_over_25
0,"Census Tract 1, King County, Washington",000100,2015,981,58,70,51,266,100,763,187,85,64,34.5,8.8,892,57,4401,582,4337,580,199,2448,420,1081,163,742,157,65,410700,53686,1971,217,269,158,93,56,322,135,419,...,119,122,67,213,82,208,97,172,83,505,205,685,177,86,53,3448,361,3326,347,0,17,197,87,376,166,388,144,651,215,294,123,337,135,68,46,3987,421,6918,406,5010
1,"Census Tract 2, King County, Washington",000200,2015,1128,63,152,108,227,101,299,138,162,138,33.6,3.0,993,62,3475,668,3438,667,199,4396,547,1917,163,1311,151,80,342400,14521,1510,197,97,86,117,65,380,162,467,...,146,164,70,261,106,88,59,183,121,349,252,699,310,61,50,4007,411,3762,421,12,18,76,55,438,166,458,140,594,187,260,122,353,132,30,31,4520,428,7974,427,5880
2,"Census Tract 3, King County, Washington",000300,2015,1225,238,17,18,77,60,119,69,22,24,33.4,8.0,1028,210,1200,322,1200,322,108,1416,278,608,101,401,91,248,336300,19918,486,91,27,18,37,43,88,56,34,...,52,67,36,106,61,75,52,60,55,102,70,309,126,78,50,1403,163,1361,157,15,16,67,37,79,51,158,76,266,105,36,31,127,67,16,18,1880,225,2637,259,1916
3,"Census Tract 4.01, King County, Washington",000401,2015,850,39,227,112,288,167,611,167,79,75,35.1,3.9,822,45,3952,557,3880,511,183,1791,391,977,165,682,157,43,291400,36042,2140,237,88,67,114,89,229,119,489,...,107,103,84,62,62,77,56,266,138,513,243,385,134,229,126,2691,388,2628,379,62,77,212,118,292,138,172,101,629,223,204,116,93,86,36,45,3238,466,5907,311,4487
4,"Census Tract 4.02, King County, Washington",000402,2015,988,73,237,120,140,86,324,129,12,20,36.7,2.1,946,72,2106,462,2106,462,132,2508,386,1048,167,828,133,166,405400,33859,1368,157,84,58,209,114,242,116,291,...,81,24,27,146,81,248,84,12,19,0,12,406,164,0,12,2644,354,2368,401,22,33,113,73,314,176,211,107,315,126,190,177,340,132,70,55,3767,388,4906,308,4145

FileNotFoundError: [Errno 2] No such file or directory: 'Capstone590/Data/acs_larger_data_set.csv'

In [100]:
print("df_2010.shape:", df_2010.shape)
print("df_2015.shape:", df_2015.shape)

a = list(df_2010.columns) 
b = list(df_2015.columns) 
print("\n".join(map(str,['\n2010_list\t\t\t2015_list\n-------------------------------------']+
                    [(each if each in a else 'missing')+'\t\t\t'+(each if each in b else 'missing') for each in sorted(set(a+b))])))

df_2010.shape: (398, 126)
df_2015.shape: (398, 122)

2010_list			2015_list
-------------------------------------
3_vehicles_available			3_vehicles_available
4_or_more_vehicles_available			4_or_more_vehicles_available
Geography			Geography
ME_3_vehicles_available			ME_3_vehicles_available
ME_4_or_more_vehicles_available			ME_4_or_more_vehicles_available
ME_bachelor_deg_25yr_or_older			ME_bachelor_deg_25yr_or_older
ME_children_under18_in_family_household			ME_children_under18_in_family_household
ME_children_under18_in_married_household			ME_children_under18_in_married_household
ME_hous_income_less_10000			ME_hous_income_less_10000
ME_house_income_100000_to_124999			ME_house_income_100000_to_124999
ME_house_income_10000_to_14999			ME_house_income_10000_to_14999
ME_house_income_125000_to_149999			ME_house_income_125000_to_149999
ME_house_income_150000_to_199999			ME_house_income_150000_to_199999
ME_house_income_15000_to_19999			ME_house_income_15000_to_19999
ME_house_income_200000+			ME_house_income_200000+
ME_house_income_20000_to_24999			ME_house_income_20000_to_24999
ME_house_income_25000_to_29999			ME_house_income_25000_to_29999
ME_house_income_30000_to_34999			ME_house_income_30000_to_34999
ME_house_income_35000_to_39999			ME_house_income_35000_to_39999
ME_house_income_40000_to_44999			ME_house_income_40000_to_44999
ME_house_income_45000_to_49999			ME_house_income_45000_to_49999
ME_house_income_50000_to_59999			ME_house_income_50000_to_59999
ME_house_income_60000_to_74999			ME_house_income_60000_to_74999
ME_house_income_75000_to_99999			ME_house_income_75000_to_99999
ME_householder_lived_in_owner_occupied_housing			ME_householder_lived_in_owner_occupied_housing
ME_householder_lived_in_renter-occupied_housing			ME_householder_lived_in_renter-occupied_housing
ME_housing_units_with_a_mortgage			ME_housing_units_with_a_mortgage
ME_live_in_structure_with_10_to_19_units			ME_live_in_structure_with_10_to_19_units
ME_live_in_structure_with_20_to_49_units			ME_live_in_structure_with_20_to_49_units
ME_live_in_structure_with_3_or_4_units			ME_live_in_structure_with_3_or_4_units
ME_live_in_structure_with_50+_units			ME_live_in_structure_with_50+_units
ME_live_in_structure_with_5_to_9_units			ME_live_in_structure_with_5_to_9_units
ME_living_in_household_getting_SSI,_etc			ME_living_in_household_getting_SSI,_etc
ME_median_contract_rent			ME_median_contract_rent
ME_median_house_income_past_12mo			ME_median_house_income_past_12mo
ME_not_computed_rent_as_percent_of_house_income			ME_not_computed_rent_as_percent_of_house_income
ME_per_capita_income_past_12mo			ME_per_capita_income_past_12mo
ME_rent_35.0-39.9_percent_of_house_income			ME_rent_35.0-39.9_percent_of_house_income
ME_rent_40.0_to_49.9_percent_of_house_income			ME_rent_40.0_to_49.9_percent_of_house_income
ME_rent_50.0_percent_of_house_income			ME_rent_50.0_percent_of_house_income
ME_total_cnt_house_income			ME_total_cnt_house_income
ME_total_households			missing
ME_total_housing_renter_occupied			ME_total_housing_renter_occupied
ME_total_housing_units_with_mortgage			ME_total_housing_units_with_mortgage
ME_total_income_in_past_12mo_below_poverty_level			ME_total_income_in_past_12mo_below_poverty_level
ME_total_means_transportation_to_work_by_any_age			ME_total_means_transportation_to_work_by_any_age
ME_total_nonfamily_households			ME_total_nonfamily_households
ME_total_nonhispanic_white			ME_total_nonhispanic_white
ME_total_travel_time_to_work			ME_total_travel_time_to_work
ME_total_unweighted_sample_count_pop			missing
ME_total_unweighted_sample_housing_units			missing
ME_travel_time_to_work_10_to_14_min			ME_travel_time_to_work_10_to_14_min
ME_travel_time_to_work_15_to_19_min			ME_travel_time_to_work_15_to_19_min
ME_travel_time_to_work_20_to_24_min			ME_travel_time_to_work_20_to_24_min
ME_travel_time_to_work_25_to_29_min			ME_travel_time_to_work_25_to_29_min
ME_travel_time_to_work_5_to_9_min			ME_travel_time_to_work_5_to_9_min
ME_travel_time_to_work_less_5_min			ME_travel_time_to_work_less_5_min
ME_walk_to_work			ME_walk_to_work
ME_workers_taking_public_transportation			ME_workers_taking_public_transportation
Year			Year
bachelor_deg_25yr_or_older			bachelor_deg_25yr_or_older
children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo			children_living_in_household_getting_SSI,_cash_public_assistance,_or_Food_Stamps_in_Past_12mo
children_under18_in_family_household			children_under18_in_family_household
children_under18_in_married_household			children_under18_in_married_household
house_income_100000_to_124999			house_income_100000_to_124999
house_income_10000_to_14999			house_income_10000_to_14999
house_income_125000_to_149999			house_income_125000_to_149999
house_income_150000_to_199999			house_income_150000_to_199999
house_income_15000_to_19999			house_income_15000_to_19999
house_income_200000+			house_income_200000+
house_income_20000_to_24999			house_income_20000_to_24999
house_income_25000_to_29999			house_income_25000_to_29999
house_income_30000_to_34999			house_income_30000_to_34999
house_income_35000_to_39999			house_income_35000_to_39999
house_income_40000_to_44999			house_income_40000_to_44999
house_income_45000_to_49999			house_income_45000_to_49999
house_income_50000_to_59999			house_income_50000_to_59999
house_income_60000_to_74999			house_income_60000_to_74999
house_income_75000_to_99999			house_income_75000_to_99999
house_income_less_10000			house_income_less_10000
householder_lived_in_owner_occupied_housing			householder_lived_in_owner_occupied_housing
householder_lived_in_renter-occupied_housing			householder_lived_in_renter-occupied_housing
housing_units_with_a_mortgage			housing_units_with_a_mortgage
live_in_structure_with_10_to_19_units			live_in_structure_with_10_to_19_units
live_in_structure_with_20_to_49_units			live_in_structure_with_20_to_49_units
live_in_structure_with_3_or_4_units			live_in_structure_with_3_or_4_units
live_in_structure_with_50+_units			live_in_structure_with_50+_units
live_in_structure_with_5_to_9_units			live_in_structure_with_5_to_9_units
median_contract_rent			median_contract_rent
median_house_income_past_12mo			median_house_income_past_12mo
median_house_value			median_house_value
median_rent			median_rent
median_rent_as_percent_of_house_income			missing
not_computed_rent_as_percent_of_house_income			not_computed_rent_as_percent_of_house_income
per_capita_income_past_12mo			per_capita_income_past_12mo
rent_35.0_to_39.9_percent_of_house_income			rent_35.0_to_39.9_percent_of_house_income
rent_40.0_to_49.9_percent_of_house_income			rent_40.0_to_49.9_percent_of_house_income
rent_50.0_percent_of_house_income			rent_50.0_percent_of_house_income
total_cnt_house_income			total_cnt_house_income
total_employed_computer_programmers_civilian			total_employed_computer_programmers_civilian
total_employed_computer_programmers_civilian_female			total_employed_computer_programmers_civilian_female
total_employed_lawyers_civilian			total_employed_lawyers_civilian
total_employed_software_developers_civilian			total_employed_software_developers_civilian
total_employed_software_developers_civilian_female			total_employed_software_developers_civilian_female
total_employed_web_developers_civilian			total_employed_web_developers_civilian
total_employed_web_developers_civilian_female			total_employed_web_developers_civilian_female
total_households			total_households
total_housing_renter_occupied			total_housing_renter_occupied
total_housing_units_with_mortgage			total_housing_units_with_mortgage
total_income_in_past_12mo_below_poverty_level			total_income_in_past_12mo_below_poverty_level
total_means_transportation_to_work_by_any_age			total_means_transportation_to_work_by_any_age
total_nonfamily_households			total_nonfamily_households
total_nonhispanic_white			total_nonhispanic_white
total_population			total_population
total_travel_time_to_work			total_travel_time_to_work
total_unweighted_sample_count_pop			total_unweighted_sample_count_pop
total_unweighted_sample_housing_units			total_unweighted_sample_housing_units
tract_num			tract_num
travel_time_to_work_10_to_14_min			travel_time_to_work_10_to_14_min
travel_time_to_work_15_to_19_min			travel_time_to_work_15_to_19_min
travel_time_to_work_20_to_24_min			travel_time_to_work_20_to_24_min
travel_time_to_work_25_to_29_min			travel_time_to_work_25_to_29_min
travel_time_to_work_5_to_9_min			travel_time_to_work_5_to_9_min
travel_time_to_work_less_5_min			travel_time_to_work_less_5_min
walk_to_work			walk_to_work
workers_taking_public_transportation			workers_taking_public_transportation

In [158]:
### Add Income Diversity Variables to ACS_data.csv ###

############# Get 2010 Data #############

url_end = "&for=tract:*&in=state:53&in=county:033&key="+key

# Start of all API urls for 5 yr ACS estimates for 2010
base_url_2010 = "https://api.census.gov/data/2010/acs5?get=NAME,"

contract_rent_url = "B25058_001E&for=tract:*&in=state:53&in=county:033"

df_min_2010 = pd.read_json(base_url_2010 + contract_rent_url)
df_min_2010.rename(columns={0: "Geography", 1: "median_contract_rent",
                            2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
df_min_2010.drop(df_min_2010.head(1).index, inplace=True)
df_min_2010["Year"] = np.repeat(2010, len(df_2010))
df_min_2010 = df_min_2010[["Geography", "Year", "median_contract_rent"]]

vars_2010 = {
             "B25070_008E": "rent 35-39.9 percent of household income",
             "B25070_009E": "rent 40-49.9 percent of household income",
             "B25070_010E": "rent 50 percent of household income", 
             "B25070_011E": "not computed rent as percent of household income",  
    
             "B09005_002E": "children under18 in family household",
             "B09005_003E": "children under18 in married household", 
             "B11001_001E": "total households",
             "B01003_001E": "total population",
             
             # Income variables
             "B19001_001E": "total count household income",
             "B19001_002E": "household income less_10000",
             "B19001_003E": "household income 10000-14999",
             "B19001_004E": "household income 15000-19999",
             "B19001_005E": "household income 20000-24999",
             "B19001_006E": "household income 25000-29999",
             "B19001_007E": "household income 30000-34999",
             "B19001_008E": "household income 35000-39999",
             "B19001_009E": "household income 40000-44999",
             "B19001_010E": "household income 45000-49999",
             "B19001_011E": "household income 50000-59999",
             "B19001_012E": "household income 60000-74999",
             "B19001_013E": "household income 75000-99999",
             "B19001_014E": "household income 100000-124999",
             "B19001_015E": "household income 125000-149999",
             "B19001_016E": "household income 150000-199999",
             "B19001_017E": "household income 200000+",
             
             # Education variables
             "B01001_011E": "total male 25-29yr",
             "B01001_012E": "total male 30-34yr",
             "B01001_013E": "total male 35-39yr",
             "B01001_014E": "total male 40-44yr",
             "B01001_015E": "total male 45-49yr",
             "B01001_016E": "total male 50-54yr",
             "B01001_017E": "total male 55-59yr",
             "B01001_018E": "total male 60-61yr",
             "B01001_019E": "total male 62-64yr",
             "B01001_020E": "total male 65-66yr",
             "B01001_021E": "total male 67-69yr",
             "B01001_022E": "total male 70-74yr",
             "B01001_023E": "total male 75-79yr",
             "B01001_024E": "total male 80-84yr",
             "B01001_025E": "total male 85yr+",
    
             "B01001_035E": "total female 25-29yr",
             "B01001_036E": "total female 30-34yr",
             "B01001_037E": "total female 35-39yr",
             "B01001_038E": "total female 40-44yr",
             "B01001_039E": "total female 45-49yr",
             "B01001_040E": "total female 50-54yr",
             "B01001_041E": "total female 55-59yr",
             "B01001_042E": "total female 60-61yr",
             "B01001_043E": "total female 62-64yr",
             "B01001_044E": "total female 65-66yr",
             "B01001_045E": "total female 67-69yr",
             "B01001_046E": "total female 70-74yr",
             "B01001_047E": "total female 75-79yr",
             "B01001_048E": "total female 80-84yr",
             "B01001_049E": "total female 85yr+",

             "B15002_015E": "bachelor_deg_25yr_or_older_male",
             "B15002_032E": "bachelor_deg_25yr_or_older_female"
            }

for i in vars_2010.keys():
    try:
        df_json = pd.read_json(base_url_2010 + i + url_end)
        df_json.rename(columns={0: "Geography", 1: vars_2010[i],
                                2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
        df_json.drop(df_json.head(1).index, inplace=True)
        df_json["Year"] = np.repeat(2010, len(df_json))
        df_json[vars_2010[i]].replace(["X", "-", " "], 0, inplace=True)
        df_json[vars_2010[i]] = df_json[vars_2010[i]].astype(int)
        df_json.drop(columns=["WA", "King", "tract_num"], inplace=True)
        df_min_2010 = df_min_2010.merge(df_json, on=["Geography", "Year"],
                                        how='outer', sort=False)
    except:
        print("Couldn't get data for", i, vars_2010[i])
        pass

df_min_2010["bachelor deg 25yr+"] = df_min_2010["bachelor_deg_25yr_or_older_male"].astype(int) + df_min_2010["bachelor_deg_25yr_or_older_female"].astype(int)
df_min_2010.drop(columns=["bachelor_deg_25yr_or_older_male",
                          "bachelor_deg_25yr_or_older_female"], inplace=True)

df_min_2010.shape
df_min_2010.dtypes


############# Get 2015 Data #############

# Start of all API urls for 5 yr ACS estimates for 2015
base_url_2015 = "https://api.census.gov/data/2015/acs/acs5?get=NAME,"

contract_rent_url = "B25058_001E&for=tract:*&in=state:53&in=county:033"

df_min_2015 = pd.read_json(base_url_2015 + contract_rent_url)
df_min_2015.rename(columns={0: "Geography", 1: "median_contract_rent",
                            2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
df_min_2015.drop(df_2015.head(1).index, inplace=True)
df_min_2015["Year"] = np.repeat(2015, len(df_2015))
df_min_2015 = df_2015[["Geography", "Year", "median_contract_rent"]]

vars_2015 = {
             "B25070_008E": "rent 35-39.9 percent of household income",
             "B25070_009E": "rent 40-49.9 percent of household income",
             "B25070_010E": "rent 50 percent of household income", 
             "B25070_011E": "not computed rent as percent of household income",  
    
             "B09005_002E": "children under18 in family household",
             "B09005_003E": "children under18 in married household", 
             "B11001_001E": "total households",
             "B01003_001E": "total population",

             # Income variables
             "B19001_001E": "total count household income",
             "B19001_002E": "household income less 10000",
             "B19001_003E": "household income 10000-14999",
             "B19001_004E": "household income 15000-19999",
             "B19001_005E": "household income 20000-24999",
             "B19001_006E": "household income 25000-29999",
             "B19001_007E": "household income 30000-34999",
             "B19001_008E": "household income 35000-39999",
             "B19001_009E": "household income 40000-44999",
             "B19001_010E": "household income 45000-49999",
             "B19001_011E": "household income 50000-59999",
             "B19001_012E": "household income 60000-74999",
             "B19001_013E": "household income 75000-99999",
             "B19001_014E": "household income 100000-124999",
             "B19001_015E": "household income 125000-149999",
             "B19001_016E": "household income 150000-199999",
             "B19001_017E": "household income 200000+",
             
             # Education variables
             "B01001_011E": "total male 25-29yr",
             "B01001_012E": "total male 30-34yr",
             "B01001_013E": "total male 35-39yr",
             "B01001_014E": "total male 40-44yr",
             "B01001_015E": "total male 45-49yr",
             "B01001_016E": "total male 50-54yr",
             "B01001_017E": "total male 55-59yr",
             "B01001_018E": "total male 60-61yr",
             "B01001_019E": "total male 62-64yr",
             "B01001_020E": "total male 65-66yr",
             "B01001_021E": "total male 67-69yr",
             "B01001_022E": "total male 70-74yr",
             "B01001_023E": "total male 75-79yr",
             "B01001_024E": "total male 80-84yr",
             "B01001_025E": "total male 85yr+",
    
             "B01001_035E": "total female 25-29yr",
             "B01001_036E": "total female 30-34yr",
             "B01001_037E": "total female 35-39yr",
             "B01001_038E": "total female 40-44yr",
             "B01001_039E": "total female 45-49yr",
             "B01001_040E": "total female 50-54yr",
             "B01001_041E": "total female 55-59yr",
             "B01001_042E": "total female 60-61yr",
             "B01001_043E": "total female 62-64yr",
             "B01001_044E": "total female 65-66yr",
             "B01001_045E": "total female 67-69yr",
             "B01001_046E": "total female 70-74yr",
             "B01001_047E": "total female 75-79yr",
             "B01001_048E": "total female 80-84yr",
             "B01001_049E": "total female 85yr+",

             "B15003_022E": "bachelor deg 25yr+"
            }
                 
for i in vars_2015.keys():
    try:
        df_json = pd.read_json(base_url_2015 + i + url_end)
        df_json.rename(columns={0: "Geography", 1: vars_2015[i],
                                2: "WA", 3: "King", 4: "tract_num"}, inplace=True)
        df_json.drop(df_json.head(1).index, inplace=True)
        df_json["Year"] = np.repeat(2015, len(df_json))
        df_json[vars_2015[i]].replace(["X", "-", " "], 0, inplace=True)
        df_json[vars_2015[i]] = df_json[vars_2015[i]].astype(int)
        df_json.drop(columns=["WA", "King", "tract_num"], inplace=True)
        df_min_2015 = df_min_2015.merge(df_json, on=["Geography", "Year"],
                                        how='outer', sort=False)
    except:
        print("Couldn't get data for variable", i, vars_2015[i])
        pass
    
df_min_2015.shape
df_min_2015.dtypes

(398, 59)

Geography                                           object
Year                                                 int64
median_contract_rent                                object
rent 35-39.9 percent of household income             int64
rent 40-49.9 percent of household income             int64
rent 50 percent of household income                  int64
not computed rent as percent of household income     int64
children under18 in family household                 int64
children under18 in married household                int64
total households                                     int64
total population                                     int64
total count household income                         int64
household income less_10000                          int64
household income 10000-14999                         int64
household income 15000-19999                         int64
household income 20000-24999                         int64
household income 25000-29999                         int64
household income 30000-34999                         int64
household income 35000-39999                         int64
household income 40000-44999                         int64
household income 45000-49999                         int64
household income 50000-59999                         int64
household income 60000-74999                         int64
household income 75000-99999                         int64
household income 100000-124999                       int64
household income 125000-149999                       int64
household income 150000-199999                       int64
household income 200000+                             int64
total male 25-29yr                                   int64
total male 30-34yr                                   int64
total male 35-39yr                                   int64
total male 40-44yr                                   int64
total male 45-49yr                                   int64
total male 50-54yr                                   int64
total male 55-59yr                                   int64
total male 60-61yr                                   int64
total male 62-64yr                                   int64
total male 65-66yr                                   int64
total male 67-69yr                                   int64
total male 70-74yr                                   int64
total male 75-79yr                                   int64
total male 80-84yr                                   int64
total male 85yr+                                     int64
total female 25-29yr                                 int64
total female 30-34yr                                 int64
total female 35-39yr                                 int64
total female 40-44yr                                 int64
total female 45-49yr                                 int64
total female 50-54yr                                 int64
total female 55-59yr                                 int64
total female 60-61yr                                 int64
total female 62-64yr                                 int64
total female 65-66yr                                 int64
total female 67-69yr                                 int64
total female 70-74yr                                 int64
total female 75-79yr                                 int64
total female 80-84yr                                 int64
total female 85yr+                                   int64
bachelor deg 25yr+                                   int64
dtype: object

(398, 59)

Geography                                           object
Year                                                 int64
median_contract_rent                                object
rent 35-39.9 percent of household income             int64
rent 40-49.9 percent of household income             int64
rent 50 percent of household income                  int64
not computed rent as percent of household income     int64
children under18 in family household                 int64
children under18 in married household                int64
total households                                     int64
total population                                     int64
total count household income                         int64
household income less 10000                          int64
household income 10000-14999                         int64
household income 15000-19999                         int64
household income 20000-24999                         int64
household income 25000-29999                         int64
household income 30000-34999                         int64
household income 35000-39999                         int64
household income 40000-44999                         int64
household income 45000-49999                         int64
household income 50000-59999                         int64
household income 60000-74999                         int64
household income 75000-99999                         int64
household income 100000-124999                       int64
household income 125000-149999                       int64
household income 150000-199999                       int64
household income 200000+                             int64
total male 25-29yr                                   int64
total male 30-34yr                                   int64
total male 35-39yr                                   int64
total male 40-44yr                                   int64
total male 45-49yr                                   int64
total male 50-54yr                                   int64
total male 55-59yr                                   int64
total male 60-61yr                                   int64
total male 62-64yr                                   int64
total male 65-66yr                                   int64
total male 67-69yr                                   int64
total male 70-74yr                                   int64
total male 75-79yr                                   int64
total male 80-84yr                                   int64
total male 85yr+                                     int64
total female 25-29yr                                 int64
total female 30-34yr                                 int64
total female 35-39yr                                 int64
total female 40-44yr                                 int64
total female 45-49yr                                 int64
total female 50-54yr                                 int64
total female 55-59yr                                 int64
total female 60-61yr                                 int64
total female 62-64yr                                 int64
total female 65-66yr                                 int64
total female 67-69yr                                 int64
total female 70-74yr                                 int64
total female 75-79yr                                 int64
total female 80-84yr                                 int64
total female 85yr+                                   int64
bachelor deg 25yr+                                   int64
dtype: object

In [159]:
dict_vars = {
             #"B01001_011E": "total male 25-29yr",
             "B01001_012E": "total male 30-34yr",
             "B01001_013E": "total male 35-39yr",
             "B01001_014E": "total male 40-44yr",
             "B01001_015E": "total male 45-49yr",
             "B01001_016E": "total male 50-54yr",
             "B01001_017E": "total male 55-59yr",
             "B01001_018E": "total male 60-61yr",
             "B01001_019E": "total male 62-64yr",
             "B01001_020E": "total male 65-66yr",
             "B01001_021E": "total male 67-69yr",
             "B01001_022E": "total male 70-74yr",
             "B01001_023E": "total male 75-79yr",
             "B01001_024E": "total male 80-84yr",
             "B01001_025E": "total male 85yr+",
    
             "B01001_035E": "total female 25-29yr",
             "B01001_036E": "total female 30-34yr",
             "B01001_037E": "total female 35-39yr",
             "B01001_038E": "total female 40-44yr",
             "B01001_039E": "total female 45-49yr",
             "B01001_040E": "total female 50-54yr",
             "B01001_041E": "total female 55-59yr",
             "B01001_042E": "total female 60-61yr",
             "B01001_043E": "total female 62-64yr",
             "B01001_044E": "total female 65-66yr",
             "B01001_045E": "total female 67-69yr",
             "B01001_046E": "total female 70-74yr",
             "B01001_047E": "total female 75-79yr",
             "B01001_048E": "total female 80-84yr",
             "B01001_049E": "total female 85yr+"
        }

df_min_2010["total population 25yr+"] = df_min_2010["total male 25-29yr"].astype(int)
df_min_2015["total population 25yr+"] = df_min_2015["total male 25-29yr"].astype(int)                                           
for i in dict_vars.values():
    df_min_2010["total population 25yr+"] = df_min_2010["total population 25yr+"] + df_min_2010[i].astype(int)
    df_min_2015["total population 25yr+"] = df_min_2015["total population 25yr+"] + df_min_2015[i].astype(int)

df_min_2010["percent bachelor deg 25yr+"] = df_min_2010["bachelor deg 25yr+"]/df_min_2010["total population 25yr+"]
df_min_2015["percent bachelor deg 25yr+"] = df_min_2015["bachelor deg 25yr+"]/df_min_2015["total population 25yr+"]

print("df_min_2010 columns", df_min_2010.columns)
print("df_min_2015 columns", df_min_2015.columns)
df_min_2010.head()
df_min_2015.head()

df_min_2010 columns Index(['Geography', 'Year', 'median_contract_rent',
       'rent 35-39.9 percent of household income',
       'rent 40-49.9 percent of household income',
       'rent 50 percent of household income',
       'not computed rent as percent of household income',
       'children under18 in family household',
       'children under18 in married household', 'total households',
       'total population', 'total count household income',
       'household income less_10000', 'household income 10000-14999',
       'household income 15000-19999', 'household income 20000-24999',
       'household income 25000-29999', 'household income 30000-34999',
       'household income 35000-39999', 'household income 40000-44999',
       'household income 45000-49999', 'household income 50000-59999',
       'household income 60000-74999', 'household income 75000-99999',
       'household income 100000-124999', 'household income 125000-149999',
       'household income 150000-199999', 'household income 200000+',
       'total male 25-29yr', 'total male 30-34yr', 'total male 35-39yr',
       'total male 40-44yr', 'total male 45-49yr', 'total male 50-54yr',
       'total male 55-59yr', 'total male 60-61yr', 'total male 62-64yr',
       'total male 65-66yr', 'total male 67-69yr', 'total male 70-74yr',
       'total male 75-79yr', 'total male 80-84yr', 'total male 85yr+',
       'total female 25-29yr', 'total female 30-34yr', 'total female 35-39yr',
       'total female 40-44yr', 'total female 45-49yr', 'total female 50-54yr',
       'total female 55-59yr', 'total female 60-61yr', 'total female 62-64yr',
       'total female 65-66yr', 'total female 67-69yr', 'total female 70-74yr',
       'total female 75-79yr', 'total female 80-84yr', 'total female 85yr+',
       'bachelor deg 25yr+', 'total population 25yr+',
       'percent bachelor deg 25yr+'],
      dtype='object')
df_min_2015 columns Index(['Geography', 'Year', 'median_contract_rent',
       'rent 35-39.9 percent of household income',
       'rent 40-49.9 percent of household income',
       'rent 50 percent of household income',
       'not computed rent as percent of household income',
       'children under18 in family household',
       'children under18 in married household', 'total households',
       'total population', 'total count household income',
       'household income less 10000', 'household income 10000-14999',
       'household income 15000-19999', 'household income 20000-24999',
       'household income 25000-29999', 'household income 30000-34999',
       'household income 35000-39999', 'household income 40000-44999',
       'household income 45000-49999', 'household income 50000-59999',
       'household income 60000-74999', 'household income 75000-99999',
       'household income 100000-124999', 'household income 125000-149999',
       'household income 150000-199999', 'household income 200000+',
       'total male 25-29yr', 'total male 30-34yr', 'total male 35-39yr',
       'total male 40-44yr', 'total male 45-49yr', 'total male 50-54yr',
       'total male 55-59yr', 'total male 60-61yr', 'total male 62-64yr',
       'total male 65-66yr', 'total male 67-69yr', 'total male 70-74yr',
       'total male 75-79yr', 'total male 80-84yr', 'total male 85yr+',
       'total female 25-29yr', 'total female 30-34yr', 'total female 35-39yr',
       'total female 40-44yr', 'total female 45-49yr', 'total female 50-54yr',
       'total female 55-59yr', 'total female 60-61yr', 'total female 62-64yr',
       'total female 65-66yr', 'total female 67-69yr', 'total female 70-74yr',
       'total female 75-79yr', 'total female 80-84yr', 'total female 85yr+',
       'bachelor deg 25yr+', 'total population 25yr+',
       'percent bachelor deg 25yr+'],
      dtype='object')

,Geography,Year,median_contract_rent,rent 35-39.9 percent of household income,rent 40-49.9 percent of household income,rent 50 percent of household income,not computed rent as percent of household income,children under18 in family household,children under18 in married household,total households,total population,total count household income,household income less_10000,household income 10000-14999,household income 15000-19999,household income 20000-24999,household income 25000-29999,household income 30000-34999,household income 35000-39999,household income 40000-44999,household income 45000-49999,household income 50000-59999,household income 60000-74999,household income 75000-99999,household income 100000-124999,household income 125000-149999,household income 150000-199999,household income 200000+,total male 25-29yr,total male 30-34yr,total male 35-39yr,total male 40-44yr,total male 45-49yr,total male 50-54yr,total male 55-59yr,total male 60-61yr,total male 62-64yr,total male 65-66yr,total male 67-69yr,total male 70-74yr,total male 75-79yr,total male 80-84yr,total male 85yr+,total female 25-29yr,total female 30-34yr,total female 35-39yr,total female 40-44yr,total female 45-49yr,total female 50-54yr,total female 55-59yr,total female 60-61yr,total female 62-64yr,total female 65-66yr,total female 67-69yr,total female 70-74yr,total female 75-79yr,total female 80-84yr,total female 85yr+,bachelor deg 25yr+,total population 25yr+,percent bachelor deg 25yr+
0,"Census Tract 1, King County, Washington",2010,775,132,134,473,60,720,464,3110,5784,3110,289,250,249,111,181,117,89,234,173,272,280,249,243,108,118,147,519,403,203,149,291,225,220,53,72,22,24,45,46,40,32,318,314,161,254,190,282,290,29,14,31,17,84,48,49,29,1091,4454,0.244948
1,"Census Tract 2, King County, Washington",2010,828,156,73,339,266,1257,854,3633,7682,3633,291,220,177,232,84,206,87,99,155,488,406,451,356,217,85,79,383,346,263,241,397,386,279,62,60,47,68,86,96,65,42,362,237,276,358,209,340,292,79,146,56,127,87,87,123,182,1920,5782,0.332065
2,"Census Tract 3, King County, Washington",2010,918,20,76,28,0,417,324,1054,2548,1054,27,25,21,75,73,31,54,24,33,61,194,179,105,80,47,25,67,56,165,88,136,170,82,40,21,24,17,33,13,16,7,64,61,168,102,124,104,62,75,23,20,0,85,29,12,55,495,1919,0.257947
3,"Census Tract 4.01, King County, Washington",2010,789,63,211,543,69,807,513,2913,5805,2913,290,404,192,303,157,106,191,179,116,134,208,319,146,92,46,30,223,288,155,240,171,126,289,68,121,24,25,46,74,93,36,375,197,119,294,126,200,248,77,93,106,49,80,170,225,153,919,4491,0.204631
4,"Census Tract 4.02, King County, Washington",2010,867,125,32,478,0,814,627,2275,4662,2275,144,127,77,203,151,91,201,137,156,153,268,278,159,69,47,14,128,154,182,79,164,142,80,47,39,0,87,58,39,37,125,97,244,225,110,201,230,186,17,0,46,50,58,128,145,444,1031,3542,0.291078

,Geography,Year,median_contract_rent,rent 35-39.9 percent of household income,rent 40-49.9 percent of household income,rent 50 percent of household income,not computed rent as percent of household income,children under18 in family household,children under18 in married household,total households,total population,total count household income,household income less 10000,household income 10000-14999,household income 15000-19999,household income 20000-24999,household income 25000-29999,household income 30000-34999,household income 35000-39999,household income 40000-44999,household income 45000-49999,household income 50000-59999,household income 60000-74999,household income 75000-99999,household income 100000-124999,household income 125000-149999,household income 150000-199999,household income 200000+,total male 25-29yr,total male 30-34yr,total male 35-39yr,total male 40-44yr,total male 45-49yr,total male 50-54yr,total male 55-59yr,total male 60-61yr,total male 62-64yr,total male 65-66yr,total male 67-69yr,total male 70-74yr,total male 75-79yr,total male 80-84yr,total male 85yr+,total female 25-29yr,total female 30-34yr,total female 35-39yr,total female 40-44yr,total female 45-49yr,total female 50-54yr,total female 55-59yr,total female 60-61yr,total female 62-64yr,total female 65-66yr,total female 67-69yr,total female 70-74yr,total female 75-79yr,total female 80-84yr,total female 85yr+,bachelor deg 25yr+,total population 25yr+,percent bachelor deg 25yr+
0,"Census Tract 1, King County, Washington",2015,892,70,266,763,85,1243,940,3400,6918,3400,517,184,183,345,135,52,159,126,179,210,146,392,229,122,213,208,324,478,157,272,185,183,278,38,144,24,110,85,43,85,20,421,367,188,271,171,217,132,138,180,112,86,143,68,24,66,1398,5010,0.279042
1,"Census Tract 2, King County, Washington",2015,993,152,227,299,162,1363,837,3572,7974,3572,295,94,104,178,239,150,103,217,89,378,531,336,345,164,261,88,494,254,243,261,171,281,307,86,158,124,29,99,69,44,30,424,318,193,218,302,314,249,179,216,128,134,181,171,59,144,1952,5880,0.331973
2,"Census Tract 3, King County, Washington",2015,1028,17,77,119,22,535,327,1087,2637,1087,68,82,39,20,83,49,17,43,33,70,84,173,78,67,106,75,227,140,88,102,50,152,101,0,57,54,6,43,9,8,8,54,81,114,110,75,42,113,11,70,73,14,29,14,67,4,428,1916,0.223382
3,"Census Tract 4.01, King County, Washington",2015,822,227,288,611,79,800,442,3301,5907,3301,518,287,188,160,192,489,145,173,107,132,338,167,163,103,62,77,253,303,265,105,202,100,148,42,74,43,17,61,122,101,41,277,310,382,137,154,105,181,34,189,114,50,200,166,148,163,1194,4487,0.266102
4,"Census Tract 4.02, King County, Washington",2015,946,237,140,324,12,516,410,2299,4906,2299,79,40,179,145,81,168,92,113,62,118,347,240,217,24,146,248,202,225,156,196,223,201,97,136,107,18,46,50,90,34,125,255,104,97,153,199,86,198,82,132,187,104,66,64,86,426,1530,4145,0.369119

In [172]:
new_data = pd.concat([df_min_2015, df_min_2010], axis=0)

acs_old_df = pd.read_csv("Capstone590/Data/ACS_data.csv", encoding='utf-8')
print("acs_old_df.shape", acs_old_df.shape)
acs_old = acs_old_df.iloc[0:, 0:16]
print("acs_old.shape", acs_old.shape)

acs_data = acs_old.merge(new_data, on=["Geography", "Year"],
                         how='outer', sort=False)
print("acs_data.shape after merge with new_data", acs_data.shape)

neighborhoods = pd.read_csv("Capstone590/Data/ACS_data_with_neighborhood.csv",
                            encoding='utf-8')
print("neighborhoods.shape", neighborhoods.shape)

neighbors = neighborhoods[["Id", "Neighborhood"]].drop_duplicates()
acs_data = acs_data.merge(neighbors, on=["Id"], how='outer', sort=False)
print("acs_data.shape after merge with neighbors", acs_data.shape)

cities_df = pd.read_csv("Capstone590/Data/Seattle and East Labels.csv")
cities = cities_df[["Id", "Geography", "City"]].drop_duplicates()
acs_data = acs_data.merge(cities, on=["Id", "Geography"], how='outer', sort=False)
print("acs_data.shape after merge with cities", acs_data.shape)

acs_data["total female 30-39yr"] = acs_data["total female 30-34yr"] + acs_data["total female 35-39yr"]
acs_data["total male 30-39yr"] = acs_data["total male 30-34yr"] + acs_data["total male 35-39yr"]
acs_data.drop(columns=["total female 30-34yr", "total female 35-39yr",
                       "total male 30-34yr", "total male 35-39yr"], inplace=True)

acs_data["total female 40-49yr"] = acs_data["total female 40-44yr"] + acs_data["total female 45-49yr"]
acs_data["total male 40-49yr"] = acs_data["total male 40-44yr"] + acs_data["total male 45-49yr"]
acs_data.drop(columns=["total female 40-44yr", "total female 45-49yr",
                       "total male 40-44yr", "total male 45-49yr"], inplace=True)

acs_data["total female 50-59yr"] = acs_data["total female 50-54yr"] + acs_data["total female 55-59yr"]
acs_data["total male 50-59yr"] = acs_data["total male 50-54yr"] + acs_data["total male 55-59yr"]
acs_data.drop(columns=["total female 50-54yr", "total female 55-59yr",
                       "total male 50-54yr", "total male 55-59yr"], inplace=True)

acs_data["total female 60-64yr"] = acs_data["total female 60-61yr"] + acs_data["total female 62-64yr"]
acs_data["total female 65-69yr"] = acs_data["total female 65-66yr"] + acs_data["total female 67-69yr"]
acs_data["total male 60-64yr"] = acs_data["total male 60-61yr"] + acs_data["total male 62-64yr"]
acs_data["total male 65-69yr"] = acs_data["total male 65-66yr"] + acs_data["total male 67-69yr"]
acs_data.drop(columns=["total female 60-61yr", "total female 62-64yr", "total female 65-66yr",
                       "total female 67-69yr", "total male 60-61yr", "total male 62-64yr",
                       "total male 65-66yr", "total male 67-69yr"], inplace=True)

acs_data["total female 70yr+"] = acs_data["total female 70-74yr"] + acs_data["total female 75-79yr"] + acs_data["total female 80-84yr"] + acs_data["total female 85yr+"] 
acs_data["total male 70yr+"] = acs_data["total male 70-74yr"] + acs_data["total male 75-79yr"] + acs_data["total male 80-84yr"] + acs_data["total male 85yr+"] 
acs_data.drop(columns=["total female 70-74yr", "total female 75-79yr",
                       "total female 80-84yr", "total female 85yr+"], inplace=True)
acs_data.drop(columns=["total male 70-74yr", "total male 75-79yr",
                       "total male 80-84yr", "total male 85yr+"], inplace=True)

#        'household income 100000-124999', 'household income 125000-149999',
#        'household income 15000-19999', 'household income 150000-199999',
#        'household income 20000-24999', 'household income 200000+',
#        'household income 25000-29999', 'household income 30000-34999',
#        'household income 35000-39999', 'household income 40000-44999',
#        'household income 45000-49999', 'household income 50000-59999',
#        'household income 60000-74999', 'household income 75000-99999',
#        'household income less 10000', 'household income less_10000',

acs_data["household income less than 20,000"] = acs_data['household income less 10000'] + acs_data['household income 10000-14999'] + acs_data["household income 15000-19999"] 
acs_data["household income 20,000-29,999"] = acs_data["household income 20000-24999"] + acs_data["household income 25000-29999"]
acs_data["household income 30,000-39,999"] = acs_data["household income 30000-34999"] + acs_data["household income 35000-39999"]
acs_data["household income 40,000-49,999"] = acs_data["household income 40000-44999"] + acs_data["household income 45000-49999"]
acs_data.drop(columns=['household income less 10000', 'household income less_10000',
                       'household income 10000-14999',
                       "household income 15000-19999", "household income 20000-24999",
                       "household income 25000-29999", "household income 30000-34999",
                       "household income 35000-39999", "household income 40000-44999",
                       "household income 45000-49999"], inplace=True)

print("acs_data.shape after consolidate ages & income", acs_data.shape)
acs_data.head()

# 143+68+24+66 = 301 --> 1st female 70+
# 45+46+40+32 = 163 --> 2nd male 70+

acs_data.columns

acs_old_df.shape (796, 42)
acs_old.shape (796, 16)
acs_data.shape after merge with new_data (796, 76)
neighborhoods.shape (791, 58)
acs_data.shape after merge with neighbors (796, 77)
acs_data.shape after merge with cities (796, 78)
acs_data.shape after consolidate ages & income (796, 56)

,Id,Geography,Year,Percentage: Public transportation (excluding taxicab),Percentage: Nonfamily household,Percentage: bachelor's degree or higher,Median income,Median income - families,Percentage: Renter-occupied housing units,Renter-occupied housing units; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more,Median House value (dollars),Dwelling Units: - 3 or 4,Dwelling Units: -5 or more,3 or more vehicles available,Percentage: Not Hispanic or Latino: - White,median_gross_rent,bachelor deg 25yr+,children under18 in family household,children under18 in married household,household income 100000-124999,household income 125000-149999,household income 150000-199999,household income 200000+,household income 50000-59999,household income 60000-74999,household income 75000-99999,median_contract_rent,not computed rent as percent of household income,percent bachelor deg 25yr+,rent 35-39.9 percent of household income,rent 40-49.9 percent of household income,rent 50 percent of household income,total count household income,total female 25-29yr,total households,total male 25-29yr,total population,total population 25yr+,Neighborhood,City,total female 30-39yr,total male 30-39yr,total female 40-49yr,total male 40-49yr,total female 50-59yr,total male 50-59yr,total female 60-64yr,total female 65-69yr,total male 60-64yr,total male 65-69yr,total female 70yr+,total male 70yr+,"household income less than 20,000","household income 20,000-29,999","household income 30,000-39,999","household income 40,000-49,999"
0,53033000100,"Census Tract 1, King County, Washington",2015,0.198666,0.579706,45.0,44951,79896,0.682059,26.2,410700,269,2170,405,0.576323,981,1398,1243,940,229,122,213,208,210,146,392,892,85,0.279042,70,266,763,3400,421,3400,324,6918,5010,Victory Heights,Seattle,555,635,442,457,349,461,318,198,182,134,301,233,884.0,480,211,305
1,53033000100,"Census Tract 1, King County, Washington",2010,0.216394,0.590354,46.9,47518,1274,0.713183,625.0,497300,111,1967,290,0.575726,838,1091,720,464,243,108,118,147,272,280,249,775,60,0.244948,132,134,473,3110,318,3110,519,5784,4454,Victory Heights,Seattle,475,606,444,440,572,445,43,48,125,46,210,163,NaN,292,206,407
2,53033000200,"Census Tract 2, King County, Washington",2015,0.174445,0.422732,52.7,56208,69870,0.463326,42.4,342400,97,1456,383,0.566842,1128,1952,1363,837,345,164,261,88,378,531,336,993,162,0.331973,152,227,299,3572,424,3572,494,7974,5880,Pinehurst,Seattle,511,497,520,432,563,588,395,262,244,153,555,242,493.0,417,253,306
3,53033000200,"Census Tract 2, King County, Washington",2010,0.152393,0.477291,49.3,54797,1899,0.444536,554.0,358700,160,1433,398,0.700729,906,1920,1257,854,356,217,85,79,488,406,451,828,266,0.332065,156,73,339,3633,362,3633,383,7682,5782,Pinehurst,Seattle,513,609,567,638,632,665,225,183,122,115,479,289,NaN,316,293,254
4,53033000300,"Census Tract 3, King County, Washington",2015,0.220242,0.447102,33.1,64297,87604,0.440662,37.0,336300,27,174,143,0.712931,1225,428,535,327,78,67,106,75,70,84,173,1028,22,0.223382,17,77,119,1087,54,1087,227,2637,1916,Pinehurst,Seattle,195,228,185,152,155,253,81,87,57,60,114,68,189.0,103,66,76

Index(['Id', 'Geography', 'Year',
       'Percentage: Public transportation (excluding taxicab)',
       'Percentage: Nonfamily household',
       'Percentage: bachelor's degree or higher', 'Median income',
       'Median income - families', 'Percentage: Renter-occupied housing units',
       'Renter-occupied housing units; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more',
       'Median House value (dollars)', 'Dwelling Units: - 3 or 4',
       'Dwelling Units: -5 or more', ' 3 or more vehicles available',
       'Percentage: Not Hispanic or Latino: - White ', 'median_gross_rent',
       'bachelor deg 25yr+', 'children under18 in family household',
       'children under18 in married household',
       'household income 100000-124999', 'household income 125000-149999',
       'household income 150000-199999', 'household income 200000+',
       'household income 50000-59999', 'household income 60000-74999',
       'household income 75000-99999', 'median_contract_rent',
       'not computed rent as percent of household income',
       'percent bachelor deg 25yr+',
       'rent 35-39.9 percent of household income',
       'rent 40-49.9 percent of household income',
       'rent 50 percent of household income', 'total count household income',
       'total female 25-29yr', 'total households', 'total male 25-29yr',
       'total population', 'total population 25yr+', 'Neighborhood', 'City',
       'total female 30-39yr', 'total male 30-39yr', 'total female 40-49yr',
       'total male 40-49yr', 'total female 50-59yr', 'total male 50-59yr',
       'total female 60-64yr', 'total female 65-69yr', 'total male 60-64yr',
       'total male 65-69yr', 'total female 70yr+', 'total male 70yr+',
       'household income less than 20,000', 'household income 20,000-29,999',
       'household income 30,000-39,999', 'household income 40,000-49,999'],
      dtype='object')

In [173]:
acs_data.rename(columns={'Percentage: Public transportation (excluding taxicab)': "percent public transportation",
       'Percentage: Nonfamily household': "percent nonfamily household", "Year": "year",
       "Percentage: bachelor's degree or higher": "percent bachelors degree or higher",
       'Median income': "median income", 'Median income - families': "median family income",
       'Percentage: Renter-occupied housing units': "percent renter-occupied housing units",
       'Renter-occupied housing units; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - 30 percent or more': "monthly housing costs 30+ percent of renter householdhold income",
       'Median House value (dollars)': "median house value",
       'Dwelling Units: - 3 or 4': "3-4 dwelling units",
       'Dwelling Units: -5 or more': "5+ dwelling units",
       ' 3 or more vehicles available': "3+ vehicles available",
       'household income 100000-124999': "household income 100,000-124,999",
       'household income 125000-149999': "household income 125,000-149,999",
       'household income 150000-199999': "household income 150,000-199,999",
       'household income 200000+': "household income 200,000+",
       'household income 50000-59999': "household income 50,000-59,999",
       'household income 60000-74999': "household income 60,000-74,999",
       'household income 75000-99999': "household income 75,000-99,999",
       'Percentage: Not Hispanic or Latino: - White ': "percent white not hispanic",
       'median_gross_rent': "median gross rent",
       'children_under18_in_family_household': "children under18 in family household",
       'children_under18_in_married_household': "children under18 in married household",
       'Neighborhood': "neighborhood", 'City': "city"}, inplace=True)

In [174]:
acs_data.shape
acs_data.columns

(796, 56)

Index(['Id', 'Geography', 'year', 'percent public transportation',
       'percent nonfamily household', 'percent bachelors degree or higher',
       'median income', 'median family income',
       'percent renter-occupied housing units',
       'monthly housing costs 30+ percent of renter householdhold income',
       'median house value', '3-4 dwelling units', '5+ dwelling units',
       '3+ vehicles available', 'percent white not hispanic',
       'median gross rent', 'bachelor deg 25yr+',
       'children under18 in family household',
       'children under18 in married household',
       'household income 100,000-124,999', 'household income 125,000-149,999',
       'household income 150,000-199,999', 'household income 200,000+',
       'household income 50,000-59,999', 'household income 60,000-74,999',
       'household income 75,000-99,999', 'median_contract_rent',
       'not computed rent as percent of household income',
       'percent bachelor deg 25yr+',
       'rent 35-39.9 percent of household income',
       'rent 40-49.9 percent of household income',
       'rent 50 percent of household income', 'total count household income',
       'total female 25-29yr', 'total households', 'total male 25-29yr',
       'total population', 'total population 25yr+', 'neighborhood', 'city',
       'total female 30-39yr', 'total male 30-39yr', 'total female 40-49yr',
       'total male 40-49yr', 'total female 50-59yr', 'total male 50-59yr',
       'total female 60-64yr', 'total female 65-69yr', 'total male 60-64yr',
       'total male 65-69yr', 'total female 70yr+', 'total male 70yr+',
       'household income less than 20,000', 'household income 20,000-29,999',
       'household income 30,000-39,999', 'household income 40,000-49,999'],
      dtype='object')

In [154]:
# Replacing the null values with 0
df_min_2010["median contract rent"].replace(["X", "-", " "], 0, inplace=True)
df_min_2015["median contract rent"].replace(["X", "-", " "], 0, inplace=True)

In [175]:
# Add new data to ACS_data.csv

acs_data = acs_data[['Id', 'Geography', 'neighborhood', 'city', 'year',
                     'total population', 'total households',
                     'median house value', 'percent public transportation', 'percent white not hispanic',
                     'median income', 'median family income', 'percent nonfamily household', 
                     'median gross rent', 'median_contract_rent', 'percent renter-occupied housing units',
                     'monthly housing costs 30+ percent of renter householdhold income',
                     'rent 35-39.9 percent of household income', 'rent 40-49.9 percent of household income',
                     'rent 50 percent of household income', 'not computed rent as percent of household income',
                     '3-4 dwelling units', '5+ dwelling units', '3+ vehicles available',
                     'percent bachelors degree or higher', 'bachelor deg 25yr+', 'percent bachelor deg 25yr+',
                     'children under18 in family household', 'children under18 in married household',
                     'household income 20,000-29,999', 'household income 30,000-39,999',
                     'household income 40,000-49,999', 'household income 50,000-59,999',
                     'household income 60,000-74,999', 'household income 75,000-99,999',
                     'household income 100,000-124,999', 'household income 125,000-149,999',
                     'household income 150,000-199,999', 'household income 200,000+',
                     'total count household income', 'total population 25yr+',
                     'total female 25-29yr', 'total female 30-39yr', 'total female 40-49yr',
                     'total female 50-59yr', 'total female 60-64yr', 'total female 65-69yr',
                     'total female 70yr+', 'total male 25-29yr', 'total male 30-39yr', 'total male 40-49yr',
                     'total male 50-59yr', 'total male 60-64yr', 'total male 65-69yr', 'total male 70yr+']]

# Save data in a CSV file
acs_data.to_csv("Capstone590/Data/acs_data_new.csv", sep=",", encoding="utf-8", index=False)

In [176]:
# Read the saved CSV file to double check that everything looks ok
new_acs_data = pd.read_csv("Capstone590/Data/acs_data_new.csv", header=0)
new_acs_data

,Id,Geography,neighborhood,city,year,total population,total households,median house value,percent public transportation,percent white not hispanic,median income,median family income,percent nonfamily household,median gross rent,median_contract_rent,percent renter-occupied housing units,monthly housing costs 30+ percent of renter householdhold income,rent 35-39.9 percent of household income,rent 40-49.9 percent of household income,rent 50 percent of household income,not computed rent as percent of household income,3-4 dwelling units,5+ dwelling units,3+ vehicles available,percent bachelors degree or higher,bachelor deg 25yr+,percent bachelor deg 25yr+,children under18 in family household,children under18 in married household,"household income 20,000-29,999","household income 30,000-39,999","household income 40,000-49,999","household income 50,000-59,999","household income 60,000-74,999","household income 75,000-99,999","household income 100,000-124,999","household income 125,000-149,999","household income 150,000-199,999","household income 200,000+",total count household income,total population 25yr+,total female 25-29yr,total female 30-39yr,total female 40-49yr,total female 50-59yr,total female 60-64yr,total female 65-69yr,total female 70yr+,total male 25-29yr,total male 30-39yr,total male 40-49yr,total male 50-59yr,total male 60-64yr,total male 65-69yr,total male 70yr+
0,53033000100,"Census Tract 1, King County, Washington",Victory Heights,Seattle,2015,6918,3400,410700,0.198666,0.576323,44951,79896,0.579706,981,892.0,0.682059,26.2,70,266,763,85,269,2170,405,45.0,1398,0.279042,1243,940,480,211,305,210,146,392,229,122,213,208,3400,5010,421,555,442,349,318,198,301,324,635,457,461,182,134,233
1,53033000100,"Census Tract 1, King County, Washington",Victory Heights,Seattle,2010,5784,3110,497300,0.216394,0.575726,47518,1274,0.590354,838,775.0,0.713183,625.0,132,134,473,60,111,1967,290,46.9,1091,0.244948,720,464,292,206,407,272,280,249,243,108,118,147,3110,4454,318,475,444,572,43,48,210,519,606,440,445,125,46,163
2,53033000200,"Census Tract 2, King County, Washington",Pinehurst,Seattle,2015,7974,3572,342400,0.174445,0.566842,56208,69870,0.422732,1128,993.0,0.463326,42.4,152,227,299,162,97,1456,383,52.7,1952,0.331973,1363,837,417,253,306,378,531,336,345,164,261,88,3572,5880,424,511,520,563,395,262,555,494,497,432,588,244,153,242
3,53033000200,"Census Tract 2, King County, Washington",Pinehurst,Seattle,2010,7682,3633,358700,0.152393,0.700729,54797,1899,0.477291,906,828.0,0.444536,554.0,156,73,339,266,160,1433,398,49.3,1920,0.332065,1257,854,316,293,254,488,406,451,356,217,85,79,3633,5782,362,513,567,632,225,183,479,383,609,638,665,122,115,289
4,53033000300,"Census Tract 3, King County, Washington",Pinehurst,Seattle,2015,2637,1087,336300,0.220242,0.712931,64297,87604,0.447102,1225,1028.0,0.440662,37.0,17,77,119,22,27,174,143,33.1,428,0.223382,535,327,103,66,76,70,84,173,78,67,106,75,1087,1916,54,195,185,155,81,87,114,227,228,152,253,57,60,68
5,53033000300,"Census Tract 3, King County, Washington",Pinehurst,Seattle,2010,2548,1054,346500,0.147248,0.728414,61966,667,0.367173,1101,918.0,0.243833,191.0,20,76,28,0,0,81,182,38.0,495,0.257947,417,324,148,85,57,61,194,179,105,80,47,25,1054,1919,64,229,226,166,98,20,181,67,221,224,252,61,41,69
6,53033000401,"Census Tract 4.01, King County, Washington",Broadview,Seattle,2015,5907,3301,291400,0.143069,0.548163,32472,57019,0.648288,850,822.0,0.704029,32.3,227,288,611,79,88,2780,129,39.4,1194,0.266102,800,442,352,634,280,132,338,167,163,103,62,77,3301,4487,277,692,291,286,223,164,677,253,568,307,248,116,60,325
7,53033000401,"Census Tract 4.01, King County, Washington",Broadview,Seattle,2010,5805,2913,342100,0.093371,0.621361,35095,1088,0.626502,841,789.0,0.696876,675.0,63,211,543,69,88,2325,195,29.6,919,0.204631,807,513,460,297,295,134,208,319,146,92,46,30,2913,4491,375,316,420,448,170,155,628,223,443,411,415,189,49,249
8,53033000402,"Census Tract 4.02, King County, Washington",Broadview,Seattle,2015,4906,2299,405400,0.153555,0.767835,62726,105446,0.595041,988,946.0,0.544150,45.5,237,140,324,12,84,1044,410,53.3,1530,0.369119,516,410,226,260,175,118,347,240,217,24,146,248,2299,4145,255,201,352,284,214,291,642,202,381,419,298,243,64,299
9,53033000402,"Census Tract 4.02, King County, Washington",Broadview,Seattle,2010,4662,2275,387400,0.147518,0.749678,45183,1129,0.503736,951,867.0,0.567473,598.0,125,32,478,0,0,1073,188,40.8,1031,0.291078,814,627,354,292,293,153,268,278,159,69,47,14,2275,3542,97,469,311,416,17,96,775,128,336,243,222,86,87,259
10,53033000500,"Census Tract 5, King County, Washington",North Beach/Blue Ridge,Seattle,2015,3044,1246,568400,0.096291,0.862352,125400,145388,0.236758,1797,1164.0,0.050562,0.0,0,0,29,7,0,0,272,70.8,984,0.418190,568,441,47,58,45,41,70,117,140,159,200,268,1246,2353,14,147,255,339,191,71,223,31,131,183,230,203,133,202
11,53033000500,"Census Tract 5, King County, Washington",North Beach/Blue Ridge,Seattle,2010,3474,1347,596100,0.049014,0.802533,110125,1058,0.214551,1521,1521.0,0.017075,0.0,0,0,11,0,0,0,441,62.3,830,0.326515,674,608,34,23,81,31,126,170,186,100,133,344,1347,2542,25,119,317,338,210,52,197,20,110,319,367,137,119,212
12,53033000600,"Census Tract 6, King County, Washington",Pinehurst,Seattle,2015,7674,3345,365000,0.184457,0.622882,60131,68884,0.457100,1159,1040.0,0.476831,21.9,123,146,336,38,68,1261,435,46.0,1645,0.284061,1336,837,208,350,366,302,353,441,296,211,275,102,3345,5791,469,765,366,442,376,193,393,449,702,507,478,176,229,246
13,53033000600,"Census Tract 6, King County, Washington",Pinehurst,Seattle,2010,7235,3358,366500,0.193348,0.553974,56944,1619,0.517868,986,946.0,0.376117,352.0,78,56,356,64,85,1167,485,37.0,1448,0.258203,995,834,255,151,435,328,368,294,197,261,301,108,3358,5608,379,635,375,532,123,202,633,268,709,591,486,133,111,431
14,53033000700,"Census Tract 7, King County, Washington",Matthews Beach,Seattle,2015,4892,2169,323700,0.276373,0.571750,51741,74917,0.509912,965,844.0,0.501153,28.0,67,125,242,63,103,1054,222,51.7,1153,0.343257,811,600,198,194,284,173,154,269,277,45,90,135,2169,3359,317,308,289,238,230,169,158,247,304,376,237,185,141,160
15,53033000700,"Census Tract 7, King County, Washington",Matthews Beach,Seattle,2010,4643,2268,367800,0.228414,0.592936,44144,1153,0.491623,888,809.0,0.675044,797.0,179,93,438,14,78,1371,230,52.5,1085,0.309558,598,372,340,280,246,62,132,352,188,113,81,30,2268,3505,125,478,379,417,45,67,148,502,452,388,281,81,59,83
16,53033000800,"Census Tract 8, King County, Washington",Matthews Beach,Seattle,2015,2487,1020,419900,0.165698,0.827503,87222,118839,0.347059,1365,1065.0,0.263725,37.9,47,18,63,21,0,64,175,59.7,518,0.273351,431,366,76,30,45,45,106,144,118,96,137,111,1020,1895,45,175,198,269,99,35,184,105,113,171,208,119,70,104
17,53033000800,"Census Tract 8, King County, Washington",Matthews Beach,Seattle,2010,2986,1088,404200,0.187737,0.781648,64113,661,0.392463,1009,903.0,0.219669,139.0,21,86,11,0,0,42,243,48.9,658,0.289868,566,423,93,135,159,60,132,174,153,23,40,56,1088,2270,129,196,194,326,68,48,265,115,159,207,295,118,19,131
18,53033000900,"Census Tract 9, King County, Washington",Finn Hill,Seattle,2015,1971,844,628400,0.150890,0.817352,125109,163000,0.364929,1467,1301.0,0.163507,31.9,26,7,18,6,0,19,171,76.9,489,0.324701,345,333,27,75,29,26,39,97,69,92,93,238,844,1506,48,142,117,179,106,84,102,32,114,149,176,100,58,99
19,53033000900,"Census Tract 9, King County, Washington",Finn Hill,Seattle,2010,2025,876,686600,0.109510,0.812346,86576,547,0.375571,1242,1237.0,0.267123,118.0,0,27,39,38,0,67,227,68.8,487,0.319764,428,369,59,0,69,37,73,151,81,130,62,141,876,1523,33,195,148,236,76,49,95,61,119,83,229,60,24,115
20,53033001000,"Census Tract 10, King County, Washington",Matthews Beach,Seattle,2015,2094,792,415500,0.241201,0.546800,69643,69417,0.361111,1035,932.0,0.484848,14.8,12,30,79,14,23,207,115,54.2,379,0.274638,547,255,80,14,66,23,91,105,97,36,87,58,792,1380,120,151,139,136,73,31,52,84,139,196,124,49,38,48
21,53033001000,"Census Tract 10, King County, Washington",Matthews Beach,Seattle,2010,1702,686,424000,0.111374,0.725029,70200,455,0.336735,990,897.0,0.336735,89.0,0,46,38,8,56,158,83,60.7,260,0.236364,445,286,90,29,43,69,117,81,54,29,53,80,686,1100,46,195,70,153,73,34,37,47,136,99,91,70,49,0
22,53033001100,"Census Tract 11, King County, Washington",Meadowbrook,Seattle,2015,2669,1091,395500,0.222445,0.692769,64549,108375,0.423465,1160,971.0,0.340972,41.7,32,7,82,0,8,209,189,60.9,597,0.310452,491,377,39,170,83,130,96,110,68,38,173,103,1091,1923,123,194,195,201,88,54,103,142,223,189,150,102,44,115
23,53033001100,"Census Tract 11, King County, Washington",Meadowbrook,Seattle,2010,2573,1098,431900,0.147401,0.715896,79250,686,0.375228,1004,953.0,0.355191,169.0,43,34,24,28,38,151,173,64.4,620,0.328912,384,337,41,75,86,115,119,119,179,100,79,85,1098,1885,76,228,116,272,74,10,84,108,325,153,176,119,59,85
24,53033001200,"Census Tract 12, King County, Washington",Pinehurst,Seattle,2015,6556,3568,311900,0.259397,0.597468,31863,54681,0.666760,998,945.0,0.741312,29.5,156,342,952,274,77,2713,235,44.4,1468,0.302556,942,593,508,303,280,267,298,195,190,83,149,95,3568,4852,617,498,237,300,186,100,655,279,619,548,338,91,130,254
25,53033001200,"Census Tract 12, King County, Washington",Pinehurst,Seattle,2010,5753,3427,315000,0.291487,0.576047,37392,1075,0.686315,900,817.0,0.791071,1089.0,158,305,638,85,146,2693,169,40.7,1271,0.295581,650,398,499,480,519,240,389,208,135,60,76,36,3427,4300,330,315,318,312,234,101,521,295,705,317,346,120,75,311
26,53033001300,"Census Tract 13, King County, Washington",Greenwood,Seattle,2015,4389,2180,306300,0.189073,0.595352,56744,82361,0.539908,970,878.0,0.556422,26.8,81,101,332,20,27,1026,215,52.8,1089,0.318794,467,410,162,145,191,169,233,241,76,231,179,117,2180,3416,415,371,359,266,108,89,203,273,494,281,283,101,66,107
27,53033001300,"Census Tract 13, King County, Washington",Greenwood,Seattle,2010,4376,2232,356700,0.178816,0.555073,40481,897,0.598118,912,819.0,0.699373,535.0,103,116,538,102,120,1123,137,36.7,812,0.251939,495,293,218,243,296,105,176,250,126,85,74,24,2232,3223,540,357,176,184,152,97,161,295,570,182,249,73,128,59
28,53033001400,"Census Tract 14, King County, Washington",Greenwood,Seattle,2015,5505,2209,414100,0.139958,0.794550,72428,91213,0.379357,1248,1165.0,0.416025,32.3,43,58,216,14,78,513,495,54.4,1325,0.326677,896,775,156,143,192,250,188,278,253,180,256,125,2209,4056,223,638,339,423,106,44,290,281,620,364,326,174,74,154
29,53033001400,"Census Tract 14, King County, Washington",Greenwood,Seattle,2010,4799,2157,410300,0.125915,0.766410,64052,1136,0.473343,890,858.0,0.387112,361.0,0,79,163,0,45,572,297,40.8,959,0.261522,816,385,220,183,188,145,342,309,209,177,43,110,2157,3667,276,437,336,434,122,113,161,180,495,302,456,120,70,165
30,53033001500,"Census Tract 15, King County, Washington",Sunset Hill,Seattle,2015,2398,1107,585200,0.128326,0.920350,95927,133281,0.450768,1345,1274.0,0.214092,15.2,23,0,24,7,28,61,212,69.9,782,0.428024,463,342,21,74,43,73,80,209,131,144,113,146,1107,1827,35,102,238,157,162,46,158,0,120,263,251,95,89,111
31,53033001500,"Census Tract 15, King County, Washington",Sunset Hill,Seattle,2010,2463,1140,594200,0.058546,0.935851,89438,690,0.394737,965,882.0,0.147368,69.0,0,23,0,13,0,84,244,62.7,722,0.373127,461,418,12,45,82,102,128,179,138,136,128,119,1140,1935,52,200,293,245,47,63,91,45,230,247,207,113,21,81
32,53033001600,"Census Tract 16, King County, Washington",Loyal Heights,Seattle,2015,4111,1767,657200,0.136447,0.823157,96193,122321,0.378042,1250,1015.0,0.215054,16.3,0,17,77,24,31,225,406,61.4,1093,0.339546,756,676,72,140,89,70,198,179,266,146,143,310,1767,3219,158,264,321,349,172,175,258,92,315,343,280,174,141,177
33,53033001600,"Census Tract 16, King County, Washington",Loyal Heights,Seattle,2010,4271,1884,592600,0.099811,0.856240,83913,1250,0.336518,1020,940.0,0.173567,131.0,10,38,42,11,19,195,267,56.2,1093,0.344578,855,640,125,183,83,101,169,271,266,143,211,167,1884,3172,80,333,329,442,127,79,310,28,309,306,393,152,58,226
34,53033001701,"Census Tract 17.01, King County, Washington",Greenwood,Seattle,2015,4055,1979,313500,0.205636,0.672750,65188,103510,0.594240,1091,1024.0,0.558363,14.1,33,35,108,62,40,1080,175,59.6,1146,0.371716,607,503,109,133,306,96,222,258,191,172,109,141,1979,3083,318,475,214,274,93,93,81,329,348,331,256,112,101,58
35,53033001701,"Census Tract 17.01, King County, Washington",Greenwood,Seattle,2010,3615,1924,347900,0.171160,0.576763,55052,698,0.637214,925,864.0,0.452703,343.0,76,43,152,26,85,1010,208,60.1,1122,0.398438,536,305,161,236,260,156,212,308,153,140,67,0,1924,2816,330,385,275,185,85,55,64,333,468,306,187,76,26,41
36,53033001702,"Census Tract 17.02, King County, Washington",Greenwood,Seattle,2015,4408,2074,378700,0.292913,0.745463,62786,86768,0.595950,1228,1098.0,0.459981,32.2,106,73,182,11,37,682,250,49.3,1259,0.368129,498,460,84,258,122,200,344,271,77,210,164,38,2074,3420,386,340,339,282,116,26,247,380,373,370,241,57,66,197
37,53033001702,"Census Tract 17.02, King County, Washington",Greenwood,Seattle,2010,4782,1869,377400,0.147410,0.655793,53646,1155,0.382022,877,743.0,0.446763,270.0,67,57,126,0,119,483,238,37.6,1049,0.277220,674,579,146,152,166,201,210,279,87,187,70,35,1869,3784,93,412,425,360,60,109,281,192,540,380,433,221,99,179
38,53033001800,"Census Tract 18, King County, Washington",Greenwood,Seattle,2015,5217,2225,370200,0.226571,0.699252,87159,78621,0.555955,1276,1163.0,0.504270,18.8,40,133,75,41,387,465,315,59.4,1553,0.422240,649,530,101,215,124,168,165,246,437,241,213,98,2225,3678,451,631,284,211,62,42,105,396,629,455,241,78,48,45
39,53033001800,"Census Tract 18, King County, Washington",Greenwood,Seattle,2010,4219,2125,376800,0.189116,0.767954,73870,712,0.664941,1031,912.0,0.582588,538.0,131,47,169,0,156,698,131,66.2,1366,0.437821,443,354,163,132,171,197,242,487,274,151,101,26,2125,3120,642,426,361,120,0,0,106,421,657,214,113,0,0,60
40,53033001900,"Census Tract 19, King County, Washington",Green Lake,Seattle,2015,4723,2175,374700,0.192383,0.687910,61391,110221,0.593103,1442,1383.0,0.417011,38.0,67,60,122,184,17,913,238,54.4,1171,0.338048,619,501,204,119,160,209,175,243,214,98,197,205,2175,3464,213,444,330,205,202,70,301,342,475,282,304,113,35,148
41,53033001900,"Census Tract 19, King County, Washington",Green Lake,Seattle,2010,3622,1700,403700,0.167766,0.743788,63924,884,0.480000,1140,1099.0,0.357059,256.0,11,85,91,51,63,598,186,56.5,986,0.358937,544,388,146,136,190,115,178,239,214,127,101,43,1700,2747,205,381,234,254,49,54,179,234,466,261,231,94,38,67
42,53033002000,"Census Tract 20, King County, Washington",Wedgwood,Seattle,2015,3600,1606,442200,0.141409,0.841944,80400,111630,0.491905,1322,1214.0,0.415318,40.6,32,0,221,28,0,453,225,64.9,1071,0.389455,595,497,145,186,99,85,76,242,147,96,195,190,1606,2750,178,340,287,223,78,63,200,219,346,313,270,70,44,119
43,53033002000,"Census Tract 20, King County, Washington",Wedgwood,Seattle,2010,3403,1574,422700,0.176532,0.789597,65875,870,0.447268,1081,967.0,0.337357,239.0,12,78,196,19,36,355,149,66.1,990,0.393013,503,446,67,175,147,141,175,180,137,150,116,106,1574,2519,168,287,307,182,36,54,209,243,278,361,277,6,19,92
44,53033002100,"Census Tract 21, King County, Washington",Ravenna,Seattle,2015,4148,1723,448500,0.152334,0.745178,85759,113333,0.425421,1383,1267.0,0.307603,34.9,53,18,89,18,56,280,286,66.2,1153,0.360425,728,645,102,78,166,125,199,257,214,122,236,139,1723,3199,262,300,240,407,107,159,151,273,348,296,388,113,64,91
45,53033002100,"Census Tract 21, King County, Washington",Ravenna,Seattle,2010,3482,1611,432200,0.223443,0.702183,74191,862,0.464929,903,836.0,0.256983,177.0,44,19,22,50,73,262,344,67.2,1022,0.392172,644,518,62,201,71,132,182,214,207,155,127,86,1611,2606,118,321,289,297,75,51,177,127,258,350,302,70,34,137
46,53033002200,"Census Tract 22, King County, Washington",Sand Point,Seattle,2015,5622,2171,569900,0.158621,0.787442,132981,157634,0.251497,1606,1318.0,0.075081,46.6,0,62,29,0,0,199,335,74.1,1270,0.310210,1249,1086,55,166,137,133,117,173,156,198,354,625,2171,4094,126,244,461,524,218,248,367,194,268,419,428,236,156,205
47,53033002200,"Census Tract 22, King County, Washington",Sand Point,Seattle,2010,5321,2188,612000,0.118396,0.794587,101275,1572,0.281536,1247,1231.0,0.170932,188.0,26,32,34,0,0,210,391,70.5,1238,0.315494,1154,928,34,139,207,79,306,202,252,173,300,395,2188,3924,128,302,423,430,174,65,386,175,257,375,526,244,179,260
48,53033002400,"Census Tract 24, King County, Washington",Bryant,Seattle,2015,2994,1247,470600,0.175118,0.801269,103917,128578,0.360866,1339,1142.0,0.287089,35.2,16,37,102,9,52,102,214,66.7,689,0.312472,652,505,106,86,61,31,129,119,139,163,112,235,1247,2205,130,106,235,273,140,93,128,141,181,250,269,115,72,72
49,53033002400,"Census Tract 24, King County, Washington",Bryant,Seattle,2010,2859,1256,499500,0.180494,0.808674,83200,730,0.418790,1174,1016.0,0.344745,230.0,20,44,103,10,79,213,117,75.5,854,0.414362,676,528,80,134,124,37,111,175,119,128,146,130,1256,2061,83,266,187,256,65,48,116,120,301,177,199,95,55,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,53033032315,"Census Tract 323.15, King County, Washington",Ames Lake,Issaquah,2015,5291,1950,626700,0.063214,0.851446,131992,140577,0.193846,1524,1265.0,0.129231,23.5,46,0,22,22,0,0,797,57.1,1467,0.387276,1268,1191,45,85,63,66,90,216,180,350,245,495,1950,3788,66,301,507,596,200,144,97,32,220,619,533,228,90,155
747,53033032315,"Census Tract 323.15, King County, Washington",Ames Lake,Issaquah,2010,5300,1871,649700,0.020305,0.868868,119068,1544,0.174773,1741,1486.0,0.092464,105.0,0,56,20,20,0,0,839,56.2,1394,0.397038,1623,1502,82,48,94,14,149,234,381,163,189,434,1871,3511,84,330,645,364,117,56,77,114,344,690,472,116,64,38
748,53033032316,"Census Tract 323.16, King County, Washington",Adelaide,Sammamish,2015,5769,1847,563300,0.039104,0.735656,164599,173917,0.141852,2740,2581.0,0.102328,31.3,27,6,17,9,0,0,558,77.9,1730,0.476584,1884,1672,35,36,82,30,66,85,182,191,296,762,1847,3630,71,365,566,481,99,119,108,67,263,581,472,206,67,165
749,53033032316,"Census Tract 323.16, King County, Washington",Adelaide,Sammamish,2010,5232,1725,686100,0.043863,0.769304,143491,1487,0.137971,2001,2001.0,0.101449,133.0,0,55,0,16,0,0,418,73.3,1443,0.441149,1711,1643,41,39,28,34,102,160,240,236,278,548,1725,3271,73,392,544,432,87,69,78,51,215,664,344,137,71,114
750,53033032317,"Census Tract 323.17, King County, Washington",Inglewood,Sammamish,2015,6303,2143,549300,0.027927,0.808821,138854,144926,0.078395,1537,1352.0,0.169389,18.8,38,0,82,0,0,240,564,71.5,1768,0.421856,1804,1708,34,84,36,60,151,178,259,262,424,547,2143,4191,143,461,521,628,153,103,142,133,396,515,496,174,123,203
751,53033032317,"Census Tract 323.17, King County, Washington",Inglewood,Sammamish,2010,5700,1985,546000,0.054822,0.776491,125750,1679,0.154156,1486,1246.0,0.165239,155.0,0,61,71,14,0,262,474,68.1,1584,0.429152,1776,1629,49,43,55,142,156,139,299,195,406,402,1985,3691,130,438,607,514,166,0,114,77,397,447,461,196,64,80
752,53033032318,"Census Tract 323.18, King County, Washington",Cottage Lake,Sammamish,2015,5797,1911,442700,0.076021,0.630671,153098,160000,0.143904,2271,2195.0,0.116170,14.9,0,0,16,18,31,79,397,77.8,1582,0.435094,1851,1716,18,15,23,53,98,136,204,309,484,496,1911,3636,47,452,760,345,90,50,66,88,363,700,446,89,69,71
753,53033032318,"Census Tract 323.18, King County, Washington",Cottage Lake,Sammamish,2010,5313,1742,564700,0.041697,0.685865,122500,1471,0.155568,1372,1154.0,0.077497,50.0,29,0,8,0,21,90,427,69.7,1537,0.480914,1756,1569,27,53,46,69,97,190,353,281,239,344,1742,3196,48,657,458,311,71,10,43,76,457,622,310,70,21,42

In [186]:
# A few census tracts need to be dealt with on an individual basis
new_acs_data[new_acs_data["Id"] == 53033027702] # 53033990100]] # 53033027701

new_acs_data.iloc[[496, 497, 498, 499, 794, 795], new_acs_data.columns.get_loc("neighborhood")] = "Vashon Island"
new_acs_data.iloc[[496, 497, 498, 499, 794, 795], new_acs_data.columns.get_loc("city")] = "Vashon Island"

new_acs_data.to_csv("Capstone590/Data/acs_data_new.csv", sep=",", encoding="utf-8", index=False)

,Id,Geography,neighborhood,city,year,total population,total households,median house value,percent public transportation,percent white not hispanic,median income,median family income,percent nonfamily household,median gross rent,median_contract_rent,percent renter-occupied housing units,monthly housing costs 30+ percent of renter householdhold income,rent 35-39.9 percent of household income,rent 40-49.9 percent of household income,rent 50 percent of household income,not computed rent as percent of household income,3-4 dwelling units,5+ dwelling units,3+ vehicles available,percent bachelors degree or higher,bachelor deg 25yr+,percent bachelor deg 25yr+,children under18 in family household,children under18 in married household,"household income 20,000-29,999","household income 30,000-39,999","household income 40,000-49,999","household income 50,000-59,999","household income 60,000-74,999","household income 75,000-99,999","household income 100,000-124,999","household income 125,000-149,999","household income 150,000-199,999","household income 200,000+",total count household income,total population 25yr+,total female 25-29yr,total female 30-39yr,total female 40-49yr,total female 50-59yr,total female 60-64yr,total female 65-69yr,total female 70yr+,total male 25-29yr,total male 30-39yr,total male 40-49yr,total male 50-59yr,total male 60-64yr,total male 65-69yr,total male 70yr+
498,53033027702,"Census Tract 277.02, King County, Washington",Vashon Island,Vashon Island,2015,4624,2178,379500,0.193125,0.924957,81757,99572,0.387052,1259,1259.0,0.139578,61.2,0,88,93,31,0,25,549,54.7,1075,0.283566,672,469,212,185,99,109,307,273,269,135,238,236,2178,3791,81,174,352,488,297,238,316,0,322,336,352,220,370,245
499,53033027702,"Census Tract 277.02, King County, Washington",Vashon Island,Vashon Island,2010,4883,2075,489700,0.120952,0.909072,83250,1446,0.303133,1109,1063.0,0.167229,116.0,0,50,83,83,0,10,774,54.9,1285,0.335597,863,801,63,101,221,171,152,338,290,247,196,120,2075,3829,44,230,396,721,206,153,314,21,204,322,635,168,179,236