In [1]:
import pandas as pd
import numpy as np

# This code displays all results created within a jupyter notebook cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_column', 100)
pd.set_option('display.max_row', 200)

In [2]:
data = pd.read_csv('../SimplyAnalytics Data/Data_by_year_cleaned.csv', header=0)
bg_data = pd.read_csv('../Data/blockgroups/blockgroup_data.csv', header=0)

In [3]:
data.head(20)
bg_data.tail(20)

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,Percent White Non-Hispanic,Housing Units,Percent Renter Occupied,Percent Occupied Structure w 3-4 Units,Percent Occupied Structure w 5+ Units,Percent Households w 3 Vehicles,Percent Households w 4+ Vehicles,"Percent Families, Married w Children Under 18",Total Households,Year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,77.52,565,0.00,0.00,0.00,8.71,1.70,33.33,1663,2010
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,45.79,658,83.42,0.00,78.27,8.80,1.52,15.88,1573,2010
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,58.19,744,72.79,6.05,61.56,8.83,1.45,27.75,1416,2010
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,35.66,838,100.00,3.70,89.50,8.84,1.56,12.74,1319,2010
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,56.05,638,72.84,5.96,61.44,8.64,1.59,27.49,1293,2010
5,530330002001,Olympic Hills,Lake City,BG0002001,1086,61218,361151,26.42,1173,16.00,61.33,455,39.39,10.11,4.18,7.69,3.26,41.72,1277,2010
6,530330002002,Victory Heights,Lake City,BG0002002,1360,57863,354698,33.24,813,19.25,55.15,590,60.33,0.00,32.88,7.79,3.26,29.00,1212,2010
7,530330002003,Pinehurst,Northgate,BG0002003,1509,48071,334967,27.35,875,20.53,60.24,826,69.40,0.00,76.39,7.68,3.59,13.90,1204,2010
8,530330002004,Pinehurst,Northgate,BG0002004,1053,69413,330061,25.31,877,15.75,66.57,576,25.32,5.90,44.27,7.76,3.33,12.13,1187,2010
9,530330002005,Pinehurst,Northgate,BG0002005,1324,49187,349065,30.88,738,17.89,65.63,698,47.53,8.02,52.29,7.77,3.29,26.39,1131,2010
10,530330002006,Olympic Hills,Lake City,BG0002006,1314,83953,354839,39.48,580,13.09,71.77,553,12.33,0.00,4.70,7.78,3.23,58.86,1104,2010
11,530330003001,Haller Lake,Northgate,BG0003001,1258,75431,340748,30.34,735,15.50,67.73,507,21.27,0.00,6.71,9.61,6.14,30.77,1097,2010
12,530330003002,Haller Lake,Northgate,BG0003002,1345,60631,336222,25.48,728,19.58,60.52,654,26.62,0.00,7.34,9.65,5.99,27.08,1091,2010
13,530330004011,Haller Lake,Northgate,BG0004011,2842,38624,279131,28.52,765,5.12,52.99,1935,62.94,6.10,57.36,4.83,1.02,13.61,1084,2010
14,530330004012,Bitter Lake,North Seattle,BG0004012,1442,72243,393802,17.35,826,14.07,65.74,716,57.98,1.68,36.45,4.82,1.05,43.49,1076,2010
15,530330004013,Bitter Lake,North Seattle,BG0004013,1267,22500,283882,18.09,405,13.77,74.82,1063,76.25,2.63,84.29,4.68,1.11,46.27,1073,2010
16,530330004021,Bitter Lake,North Seattle,BG0004021,1221,52669,403896,26.31,932,19.97,73.63,569,63.33,0.00,53.25,6.81,1.51,40.42,1069,2010
17,530330004022,Haller Lake,Northgate,BG0004022,937,51027,353804,33.02,702,14.71,66.92,430,53.19,0.00,38.37,6.86,1.47,30.00,1069,2010
18,530330004023,Bitter Lake,North Seattle,BG0004023,1194,50625,365385,35.37,911,15.37,67.42,611,57.02,0.00,62.19,6.93,1.56,33.43,1037,2010
19,530330004024,Bitter Lake,North Seattle,BG0004024,1489,59010,372832,31.56,1002,13.92,86.37,843,49.19,0.00,40.45,6.97,1.37,55.06,1023,2010

,Name,bg_id,tract_id,neighborhood,Year,Population,Population Density,Percent Families,Per Capita Household Income,Mean Household Income,Median Household Income,Ratio Mean over Median Income,perc_household_income_200k+,perc_household_income_150-200k,perc_household_income_125-150k,perc_household_income_100-125k,perc_household_income_75-100k,perc_household_income_50-75k,perc_household_income_35-50k,perc_household_income_25-35k,perc_household_income_15-25k,perc_households_income_under_15k,Percent White Non-Hispanic,Percent White Non-Hispanic Households,Percent Vacant Units,Percent Renter Occupied,perc_homes_over_1000000,perc_homes_750-1000k,perc_homes_500-$750k,perc_homes_400-500k,perc_homes_300-400k,perc_homes_250-300k,perc_homes_200-250k,perc_homes_175-200k,perc_homes_150-175k,perc_homes_125-150k,perc_homes_100-125k,perc_homes_80-100k,Median Home Value,Median Rent,Percent Rent 250-499,Percent Rent 500-749,Percent Rent 750-999,Percent Rent 1000-1249,Percent Rent 1250-1499,Percent Rent 1500-1999,Percent Rent 2000+,Percent In Structure 3-4 Units,Percent in Structures w 5+ Units,Housing Units,Median Year Moved In,Percent Moved in 1990-1999,Percent Moved in 1980-1989,Percent Moved in 1970-1979,Percent Unemployed,"Percent Families, Married w Children Under 18",Percent Non-Married Families,Percent Household 3+ Vehicles,Percent Public Transportation to Work,Percent Bachelors Degree
4300,BG0117004,530330117004,5303301170,Rainier Beach,2000,887,2654.5,92.2210,22030,73184.9700,71307,1.026336405,4.4944,0.0000,5.6180,6.7416,30.7116,16.4794,16.8539,8.9888,1.8727,8.2397,15.7835,23.9700,2.1978,15.7303,2.6667,0.0000,0.0000,0.0000,8.0000,2.2222,24.4444,30.2222,22.2222,5.3333,4.8889,0.0000,189522.0,648.0,16.6667,26.1905,33.3333,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,273,1984,13.732833,16.1049,10.8614,22.9105,36.4929,27.4882,41.9476,16.7453,7.2414
4301,BG0118001,530330118001,5303301180,Rainier Beach,2000,1100,8011.9,69.4545,31528,66694.4000,45958,1.451203273,2.6923,5.5769,4.2308,1.7308,2.6923,24.4231,32.1154,9.0385,11.9231,5.5769,53.6364,62.1154,8.4507,29.8077,0.0000,4.9315,13.4247,2.4658,3.0137,9.0411,13.4247,10.9589,8.4932,7.6712,12.8767,8.4932,191563.0,649.0,23.8710,43.8710,25.1613,0.0000,7.0968,0.0000,0.0000,1.9366,32.5704,568,1994,25.448733,9.4231,5.5769,2.8302,23.7548,28.7356,7.5000,2.5719,26.8728
4302,BG0118002,530330118002,5303301180,Rainier Beach,2000,864,5956.0,77.3148,24014,56534.6049,55857,1.012131065,0.0000,0.0000,0.0000,10.6267,9.5368,38.9646,24.7956,0.0000,8.4469,7.6294,43.2870,49.8638,2.9101,29.4278,0.0000,0.0000,0.0000,0.0000,16.9884,17.3745,8.1081,11.1969,8.8803,7.7220,20.8494,8.8803,183190.0,714.0,0.0000,58.3333,11.1111,30.5556,0.0000,0.0000,0.0000,0.0000,14.0212,378,1992,20.345133,17.1662,10.8992,15.4472,25.8065,29.4931,14.9864,7.9727,32.4159
4303,BG0118003,530330118003,5303301180,Rainier Beach,2000,1093,8337.9,85.9103,19838,61952.7257,45893,1.349938459,5.1429,1.1429,2.8571,2.2857,20.2857,11.7143,24.0000,14.2857,8.5714,9.7143,22.4154,33.1429,0.0000,32.5714,0.0000,0.0000,0.0000,0.0000,2.9661,7.2034,5.9322,15.2542,20.7627,22.4576,18.2203,7.2034,152551.0,663.0,5.2632,42.9825,25.4386,0.0000,9.6491,0.0000,0.0000,0.0000,5.1429,350,1987,15.619033,18.5714,13.7143,19.2643,32.7935,36.4372,20.5714,13.4875,8.4605
4304,BG0118004,530330118004,5303301180,Rainier Beach,2000,1479,9804.1,71.8729,10385,30354.4466,19568,1.551228874,0.0000,2.7668,0.0000,4.5455,1.1858,8.1028,9.4862,15.2174,16.0079,42.6877,8.2488,10.6719,3.8023,83.3992,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,19.0476,8.3333,26.1905,28.5714,10.7143,7.1429,153409.0,513.0,17.0616,41.4692,4.9763,4.7393,0.0000,0.0000,0.0000,3.0418,55.3232,526,1995,24.044800,11.0672,13.0435,35.2333,30.7958,53.2872,10.2767,41.0000,7.7778
4305,BG0118005,530330118005,5303301180,Rainier Valley,2000,1256,10888.6,89.3312,16967,60540.0568,56944,1.063150759,1.4205,0.0000,2.8409,16.7614,10.5114,25.5682,12.7841,1.4205,16.1932,12.5000,9.1561,15.9091,2.7624,36.3636,0.0000,0.0000,0.0000,0.0000,0.0000,8.4821,14.7321,13.8393,3.5714,38.8393,9.3750,11.1607,143966.0,620.0,17.1875,53.9063,17.1875,4.6875,0.0000,0.0000,0.0000,4.6961,5.2487,362,1994,23.579533,16.1932,6.5341,18.4033,37.2624,38.7833,36.6477,15.3979,8.7969
4306,BG0118006,530330118006,5303301180,Rainier Valley,2000,1705,8165.1,86.1584,17861,53994.6809,36736,1.469802943,1.7730,1.9504,0.0000,5.4965,1.9504,19.8582,21.4539,14.7163,20.0355,12.7660,10.4985,18.2624,3.7543,58.1560,0.0000,0.0000,0.0000,0.0000,0.0000,4.6610,14.8305,13.9831,25.0000,16.9492,20.3390,4.2373,158475.0,565.0,24.3902,52.4390,7.3171,3.9634,0.0000,0.0000,0.0000,6.4846,37.7133,586,1995,24.349867,10.2837,4.6099,26.2572,31.7259,46.4467,8.6879,17.9584,8.3585
4307,BG0119001,530330119001,5303301190,Rainier View,2000,1330,5830.4,84.0602,24795,61872.4203,57560,1.074920436,0.0000,2.2514,3.0019,9.7561,18.7617,23.2645,20.6379,7.8799,4.6904,9.7561,45.3383,55.7223,0.0000,13.1332,0.0000,3.6717,3.2397,5.3996,5.1836,22.6782,13.6069,12.7430,13.8229,10.3672,0.0000,5.3996,213889.0,576.0,25.7143,25.7143,10.0000,15.7143,0.0000,0.0000,0.0000,0.0000,1.3133,533,1988,15.884933,23.2645,8.2552,2.7273,29.3956,21.9780,27.0168,6.6570,20.9045
4308,BG0119002,530330119002,5303301190,Rainier View,2000,1813,6916.8,84.6663,20625,56914.7702,47729,1.192456791,2.4353,0.0000,2.2831,7.6104,14.3075,20.8524,16.5906,8.0670,21.9178,5.9361,35.9073,48.2496,3.3824,12.4810,0.0000,1.5652,0.0000,1.9130,0.5217,5.7391,8.0000,17.7391,13.0435,33.7391,8.3478,7.4783,148905.0,844.0,1.2195,37.8049,29.2683,2.4390,14.6341,0.0000,14.6341,0.0000,1.9117,680,1988,16.336900,18.5693,10.3501,12.8668,31.7881,32.6711,20.0913,7.4627,21.1475
4309,BG0119003,530330119003,5303301190,Rainier View,2000,1276,7371.9,90.9875,18758,57536.5745,49409,1.164495831,0.0000,0.0000,4.0865,11.0577,9.3750,24.2788,30.5288,6.4904,9.3750,4.8077,22.1787,32.6923,11.3006,22.5962,0.0000,0.0000,0.0000,0.0000,0.0000,11.1801,28.5714,9.0062,23.2919,10.5590,12.1118,0.3106,173667.0,1224.0,0.0000,1.0638,12.7660,40.4255,45.7447,0.0000,0.0000,0.0000,0.0000,469,1987,15.785267,14.4231,12.0192,15.4011,31.4024,28.3537,20.1924,6.9149,14.2857
4310,BG0119004,530330119004,5303301190,Rainier View,2000,1395,5999.4,92.2581,15629,51420.7571,47652,1.079089169,0.0000,0.0000,0.0000,1.8868,20.2830,23.5849,27.1226,14.8585,7.5472,4.7170,19.4265,29.4811,4.2889,22.6415,0.0000,0.0000,0.0000,0.0000,3.0488,3.0488,10.0610,7.9268,25.0000,30.4878,16.7683,3.6585,149250.0,976.0,9.3750,0.0000,32.2917,29.1667,0.0000,6.2500,0.0000,2.0316,0.0000,443,1993,20.754700,8.4906,12.9717,6.9061,40.5325,31.3609,16.7453,6.3953,11.5159
4311,BG0119005,530330119005,5303301190,Rainier View,2000,1441,4362.8,87.0923,19724,59213.0542,46560,1.271758037,1.6667,1.6667,1.0417,12.7083,11.2500,16.4583,22.7083,18.5417,4.3750,9.5833,25.5378,36.2500,0.0000,18.1250,0.0000,0.0000,0.0000,0.0000,2.7990,6.6158,21.6285,22.6463,20.6107,9.1603,14.5038,2.0356,179073.0,783.0,0.0000,25.2874,57.4713,0.0000,0.0000,0.0000,0.0000,2.0833,6.6667,480,1992,21.041667,15.0000,8.9583,8.9755,38.4393,34.1040,24.7917,14.0483,17.5381
4312,BG0120001,530330120001,5303301200,Arbor Heights,2000,1116,6201.2,72.5806,22200,49450.9701,46523,1.062935969,0.0000,0.3992,0.0000,3.9920,15.1697,25.3493,21.9561,15.7685,5.7884,11.5768,76.2545,85.2295,5.1136,29.9401,0.0000,0.0000,0.0000,0.0000,1.1396,6.2678,11.1111,13.1054,20.2279,35.0427,9.1168,0.5698,152289.0,790.0,6.6667,30.6667,42.0000,14.6667,0.0000,0.0000,0.0000,0.0000,7.7651,528,1993,20.625433,15.1697,11.1776,5.8920,30.1527,27.8626,13.3732,7.5472,17.7640
4313,BG0120002,530330120002,5303301200,Arbor Heights,2000,1145,5829.5,82.4454,28427,70913.1416,59157,1.198727819,5.8824,0.0000,0.8715,2.3965,28.9760,18.7364,22.4401,13.2898,2.3965,5.0109,82.4454,89.1068,4.3750,11.3290,0.0000,0.0000,1.4742,1.7199,1.4742,15.7248,27.0270,16.7076,22.3587,8.1081,5.4054,0.0000,196140.0,830.0,0.0000,21.1538,53.8462,13.4615,0.0000,0.0000,0.0000,0.0000,1.0417,480,1991,17.937533,18.7364,8.2789,7.8943,30.7937,23.4921,15.6862,6.1360,25.4568
4314,BG0120003,530330120003,5303301200,Arbor Heights,2000,1119,6131.3,79.1778,33248,81767.7451,64670,1.264384492,3.0769,3.9560,3.2967,7.4725,19.1209,31.6484,8.5714,9.6703,7.6923,5.4945,86.1483,89.8901,0.0000,13.8462,0.0000,1.5306,5.1020,1.7857,10.9694,15.8163,14.0306,22.7041,13.5204,7.9082,2.5510,2.2959,199157.0,854.0,0.0000,33.3333,28.5714,33.3333,0.0000,0.0000,0.0000,0.0000,0.0000,455,1991,19.706967,15.8242,9.0110,8.1361,36.9492,15.5932,24.8352,15.4472,32.6456
4315,BG0121001,530330121001,5303301210,Arbor Heights,2000,1181,3603.3,81.7951,42888,96295.0038,78235,1.230843022,9.5057,7.0342,6.4639,12.9278,16.1597,19.0114,18.0608,4.5627,3.0418,3.2319,89.9238,94.1065,5.2252,9.3156,4.1929,5.4507,16.9811,16.1426,20.9644,7.1279,20.5451,5.2411,0.6289,1.2579,0.0000,0.0000,365500.0,840.0,4.0816,24.4898,36.7347,10.2041,0.0000,8.1633,0.0000,1.0811,10.9910,555,1986,15.019033,15.9696,16.9202,4.8749,28.0899,9.8315,22.2433,3.2095,29.7468
4316,BG0121002,530330121002,5303301210,Arbor Heights,2000,1368,4061.3,83.8450,31228,73909.6557,60563,1.220376396,3.4602,4.6713,1.2111,12.2837,14.1869,24.5675,23.3564,6.4014,7.0934,2.7682,88.3772,90.8304,1.0274,14.8789,0.0000,1.4228,5.6911,1.2195,13.0081,17.2764,32.7236,19.7154,6.3008,0.0000,1.2195,0.0000,232609.0,746.0,12.7907,36.0465,15.1163,16.2791,16.2791,0.0000,0.0000,0.0000,3.9384,584,1984,13.091100,21.2803,18.3391,4.6975,34.0000,14.0000,25.2595,4.4236,24.9035
4317,BG0260011,530330260011,5303302600,Rainier View,2000,1068,4477.4,80.6180,27208,65008.0872,59084,1.100265507,3.3557,0.0000,3.1320,4.2506,14.7651,38.4787,22.1477,7.1588,5.3691,1.3423,57.2097,67.1141,3.6638,2.4609,0.0000,0.0000,0.0000,1.8349,9.4037,20.1835,23.8532,20.1835,11.4679,5.7339,5.5046,1.8349,211058.0,375.0,100.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,464,1987,15.361667,18.7919,20.3579,8.4388,30.0676,21.9595,24.3848,5.1188,21.4732
4318,BG0264004,530330264004,5303302640,Highland Park,2000,1442,3357.6,72.4688,22256,49223.6196,45607,1.07929966,0.0000,1.0736,0.0000,5.3681,8.8957,28.3742,21.4724,15.6442,11.1963,7.9755,62.4827,72.3926,3.9764,49.2331,0.0000,0.0000,0.0000,0.0000,0.0000,3.0211,9.3656,13.8973,45.0151,16.0121,9.9698,2.7190,161829.0,686.0,2.4922,61.6822,26.4798,5.9190,0.0000,0.0000,0.0000,12.3711,51.1046,679,1997,25.153367,10.5828,5.9816,6.1093,22.1264,29.8851,9.5092,0.0000,22.1116
4319,BG0265001,530330265001,5303302650,Highland Park,2000,1406,4434.5,93.0299,7600,23639.7301,17632,1.340728794,0.0000,1.5487,0.0000,0.0000,4.2035,2.8761,7.5221,9.0708,33.6283,41.1504,31.8634,36.9469,0.0000,78.7611,0.0000,0.0000,0.0000,0.0000,0.0000,6.2500,6.2500,0.0000,39.5833,13.5417,9.3750,8.3333,151316.0,281.0,34.2697,12.6404,2.5281,0.0000,0.0000,1.6854,3.0899,3.0973,3.3186,452,1994,25.958733,16.3717,5.3097,29.7365,33.8624,47.3545,8.1859,9.9448,2.8533

#### Get census tract Ids

In [4]:
def compute_tract_id(row):
    tid = row['Id']
    tract_id = np.int(tid/100)
    return tract_id 

data['tract_id'] = data.apply(compute_tract_id, axis = 1)

#### Missing values treatment

In [5]:
def add_col_for_imputing_missing_values_in_median_houseprice(row):    
    y = row['Year']
    tract = row['tract_id']
    if row['Median Home Value'] == 0:
        imputed_value = compute_missing_value_in_median_houseprice(y,tract)
        return imputed_value
    else:
        return row['Median Home Value']
    
def compute_missing_value_in_median_houseprice(y,tract):
    median_houseprice_array =np.array(data.loc[(data['Year'] == y) & (data['tract_id'] == tract),
                                               'Median Home Value'].astype(int))
    mean_median_houseprice = np.mean(median_houseprice_array)
    return mean_median_houseprice 

data['median_houseprice_with_imputation'] = data.apply(add_col_for_imputing_missing_values_in_median_houseprice,
                                                       axis = 1)

In [6]:
def add_col_for_imputing_missing_values_in_median_rent(row):    
    y = row['Year']
    tract = row['tract_id']
    if row['Median Rent'] == 0:
        imputed_value = compute_missing_value_in_median_rent(y,tract)
        return imputed_value
    else:
        return row['Median Rent']


def compute_missing_value_in_median_rent(y,tract):
    median_rent_array =np.array(data.loc[(data['Year'] == y) & (data['tract_id'] == tract),
                                         'Median Rent'].astype(int))
    mean_median_rent = np.mean(median_rent_array)
    return mean_median_rent 

data['median_rent_with_imputation'] = data.apply(add_col_for_imputing_missing_values_in_median_rent,
                                                 axis = 1)

In [5]:
# Created a set of general functions to impute values for any columns

def impute_missing_values(df, col='Median Rent'):
    imputed_values = []
    y = df['Year']
    tract = df['tract_id']
    for i, j, k in zip(df[col], y, tract):
        if i == 0:
            imputed_value = compute_missing_value(df, j, k, col)
            imputed_values.append(imputed_value)
        else:
            imputed_values.append(i)
    return imputed_values


def compute_missing_value(df, y, tract, col):
    median_array = np.array(df.loc[(df['Year'] == y) & (df['tract_id'] == tract),
                                    col].astype(int))
    mean_median = np.mean(median_array)
    return mean_median 

bg_data["Median Rent"] = impute_missing_values(df=bg_data,
                                               col="Median Rent")
bg_data["Median Home Value"] = impute_missing_values(df=bg_data,
                                                     col="Median Home Value")
bg_data["Median Household Income"] = impute_missing_values(df=bg_data,
                                                     col="Median Household Income")
bg_data["Mean Household Income"] = impute_missing_values(df=bg_data,
                                                         col="Mean Household Income")
bg_data["Percent Unemployed"] = impute_missing_values(df=bg_data,
                                                         col="Percent Unemployed")

In [6]:
# This double checks to see if there are any null or 0 values in a column
cols = [ #'median_houseprice_with_imputation',
#         'median_rent_with_imputation',
#         "median_home_value_imputed", "median_rent_imputed",
        "Median Rent", "Median Home Value", "Percent Unemployed",
        "Mean Household Income", "Median Household Income"]
dfs = [#data,
       bg_data]

for df in dfs:
    for col in cols:
        try:
            row_cnt = 0
            tot_cnt = 0

            for row in df[col].isnull():
                if row == True:
                    tot_cnt += 1
                    print(row_cnt, row)
                row_cnt += 1

            print("%s has %i nulls" %(col, tot_cnt))
            row_cnt = 0
            tot_cnt = 0

            for row in df[col]:
                if row == 0:
                    tot_cnt += 1
                    print(row_cnt, row)
                row_cnt += 1

            print("%s has %i values = 0" %(col, tot_cnt))
            
        except:
            continue

Median Rent has 0 nulls
Median Rent has 0 values = 0
Median Home Value has 0 nulls
Median Home Value has 0 values = 0
Percent Unemployed has 0 nulls
Percent Unemployed has 0 values = 0
Mean Household Income has 0 nulls
Mean Household Income has 0 values = 0
Median Household Income has 0 nulls
Median Household Income has 0 values = 0

In [7]:
bg_data.to_csv('../Data/blockgroups/blockgroup_data.csv',
               encoding='utf-8', index=False)

### Definition 1: Sociology 
#### Eligible for Gentrification:
* The block group’s median household income was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.
* The block group’s median house value was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.

#### Have gentrified:
* An increase in a block group’s educational attainment, as measured by the percentage of residents age 25 and over holding bachelor’s degrees, was in the top third percentile of all block groups in Seattle.
* An increase in a block group’s median house value, as measured by inflation-adjusted median house value, was in the top third percentile of all block groups in Seattle.

#### Calculations for Part1: Eligible for gentrification

In [8]:
def add_col_for_median_income_by_year(row):    
    y = row['Year']
    median_income_for_row = compute_median_income_by_year(y)
    return median_income_for_row

def compute_median_income_by_year(y):
    median_income_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income = np.percentile(median_income_of_one_year, 50)
    return median_income

data['median_income_by_year'] = data.apply(add_col_for_median_income_by_year, axis = 1)

In [9]:
def add_col_for_median_housevalue_by_year(row):    
    y = row['Year']
    median_housevalue_for_row = compute_median_housevalue_by_year(y)
    return median_housevalue_for_row

def compute_median_housevalue_by_year(y):
    median_housevalue_of_one_year =np.array(data.loc[data['Year'] == y, 'median_houseprice_with_imputation']. astype(int))
    median_housevalue = np.percentile(median_housevalue_of_one_year, 50)
    return median_housevalue

data['median_housevalue_by_year'] = data.apply(add_col_for_median_housevalue_by_year, axis = 1)

In [10]:
def add_col_for_median_income_40th_perc(row):    
    y = row['Year']
    median_income_40th_perc = compute_median_income_40th_perc(y)
    return median_income_40th_perc

def compute_median_income_40th_perc(y):
    median_income_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40th_perc = np.percentile(median_income_40th_perc_of_one_year, 40)
    return median_income_40th_perc

data['median_income_40th_perc_by_year'] = data.apply(add_col_for_median_income_40th_perc, axis = 1)

In [11]:
def add_col_for_median_housevalue_40th_perc(row):    
    y = row['Year']
    median_housevalue_40th_perc = compute_median_housevalue_40th_perc(y)
    return median_housevalue_40th_perc

def compute_median_housevalue_40th_perc(y):
    median_housevalue_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'median_houseprice_with_imputation']. astype(int))
    median_housevalue_40th_perc = np.percentile(median_housevalue_40th_perc_of_one_year, 40)
    return median_housevalue_40th_perc

data['median_housevalue_40th_perc_by_year'] = data.apply(add_col_for_median_housevalue_40th_perc, axis = 1)

In [12]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,"Percent Families, Married w Children Under 18",Total Households,Year,tract_id,median_houseprice_with_imputation,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,33.33,1663,2010,5303300010,660354.0,638.4,69886.5,418602.0,62272.6,389955.6
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,15.88,1573,2010,5303300010,338235.0,771.0,69886.5,418602.0,62272.6,389955.6
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,27.75,1416,2010,5303300010,417188.0,864.0,69886.5,418602.0,62272.6,389955.6
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,12.74,1319,2010,5303300010,366232.4,694.0,69886.5,418602.0,62272.6,389955.6
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,27.49,1293,2010,5303300010,415385.0,863.0,69886.5,418602.0,62272.6,389955.6

#### Calculations for Part2: Have gentrified

In [13]:
data['Education_Attainment_Bachelors_Degree'] = round(data['Percent Bachelors Degree']*(data[' Population'])*0.01,0)

def add_col_for_increase_in_edu_attainment(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_edu_attainment_for_row = compute_increase_in_edu_attainment(y,bg)
    return increase_in_edu_attainment_for_row

def compute_increase_in_edu_attainment(y,bg):
    if y==2010 or y==2020:
        return 0
    edu_attainment_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Education_Attainment_Bachelors_Degree']. astype(int))
    edu_attainment_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'Education_Attainment_Bachelors_Degree']. astype(int))
    increase_in_edu_attainment_by_year = edu_attainment_by_year2 - edu_attainment_by_year1
    return increase_in_edu_attainment_by_year 

data['increase_in_edu_attainment'] = data.apply(add_col_for_increase_in_edu_attainment, axis = 1)

In [14]:
def add_col_for_edu_attainment_top_3rd_percentile_by_year(row):    
    y = row['Year']
    edu_attainment_top_3rd_percentile_for_row = compute_edu_attainmenttop_3rd_percentile_by_year(y)
    return edu_attainment_top_3rd_percentile_for_row

def compute_edu_attainmenttop_3rd_percentile_by_year(y):
    increase_edu_attainment_top_3rd_percentile_one_year =np.array(data.loc[data['Year'] == y,
                                                                           'increase_in_edu_attainment']. astype(int))
    increase_edu_attainment_top_3rd_percentile_by_year = np.percentile(increase_edu_attainment_top_3rd_percentile_one_year, 66)
    return increase_edu_attainment_top_3rd_percentile_by_year

data['increase_in_edu_attainment_top_3rd_percentile_by_year'] = data.apply(add_col_for_edu_attainment_top_3rd_percentile_by_year, axis = 1)

In [15]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,tract_id,median_houseprice_with_imputation,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,5303300010,660354.0,638.4,69886.5,418602.0,62272.6,389955.6,308.0,0,0.0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,5303300010,338235.0,771.0,69886.5,418602.0,62272.6,389955.6,245.0,0,0.0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,5303300010,417188.0,864.0,69886.5,418602.0,62272.6,389955.6,354.0,0,0.0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,5303300010,366232.4,694.0,69886.5,418602.0,62272.6,389955.6,191.0,0,0.0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,5303300010,415385.0,863.0,69886.5,418602.0,62272.6,389955.6,251.0,0,0.0

In [16]:
def add_col_for_increase_in_median_housevalue(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_housevalue_by_year = compute_increase_in_median_housevalue(y,bg)
    return increase_in_median_housevalue_by_year

def compute_increase_in_median_housevalue(y,bg):
    if y==2010 or y==2020:
        return 0
    median_housevalue_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                  'median_houseprice_with_imputation']. astype(int))
    median_housevalue_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                  'median_houseprice_with_imputation']. astype(int))
    increase_in_median_housevalue_by_year = median_housevalue_by_year2 - median_housevalue_by_year1
    return increase_in_median_housevalue_by_year 

data['increase_in_median_housevalue'] = data.apply(add_col_for_increase_in_median_housevalue, axis = 1)

In [17]:
def add_col_for_housevalue_top_3rd_percentile_by_year(row):    
    y = row['Year']
    housevlue_top_3rd_percentile_for_row = compute_housevalue_top_3rd_percentile_by_year(y)
    return housevlue_top_3rd_percentile_for_row

def compute_housevalue_top_3rd_percentile_by_year(y):
    increase_housevalue_top_3rd_percentile_one_year = np.array(data.loc[data['Year'] == y,
                                                                        'increase_in_median_housevalue']. astype(int))
    increase_housevalue_top_3rd_percentile_by_year = np.percentile(increase_housevalue_top_3rd_percentile_one_year, 66)
    return increase_housevalue_top_3rd_percentile_by_year

data['increase_in_housevalue_top_3rd_percentile_by_year'] = data.apply(add_col_for_housevalue_top_3rd_percentile_by_year, axis = 1)

In [18]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,638.4,69886.5,418602.0,62272.6,389955.6,308.0,0,0.0,0,0.0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,771.0,69886.5,418602.0,62272.6,389955.6,245.0,0,0.0,0,0.0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,864.0,69886.5,418602.0,62272.6,389955.6,354.0,0,0.0,0,0.0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,694.0,69886.5,418602.0,62272.6,389955.6,191.0,0,0.0,0,0.0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,863.0,69886.5,418602.0,62272.6,389955.6,251.0,0,0.0,0,0.0

#### Labelling the tracts per definition 1

In [19]:
def label_def1(row):
   if row['Year'] == 2010 or row['Year'] == 2020:
      return 'None'
   if row['Median Household Income'] < row['median_income_40th_perc_by_year'] and row['median_houseprice_with_imputation'] < row['median_housevalue_40th_perc_by_year']:
      return 'EligibleForGentrification'
   if row['increase_in_edu_attainment'] > row['increase_in_edu_attainment_top_3rd_percentile_by_year'] and row['increase_in_median_housevalue'] > row['increase_in_housevalue_top_3rd_percentile_by_year']:
      return 'HaveGentrified'
   else:
      return 'NotEligibleForGentrification'

In [20]:
data['def_1'] = data.apply(label_def1, axis=1)

### Definition 2: Financial & Economics
#### Currently gentrifying:
* The block group’s income levels below 40% of the median, and experienced rent increases greater than the median neighborhood did.

#### Have gentrified:
* The block group’s share of neighborhoods in a metro area that moved from the bottom half to the top half in the distribution of home prices.

#### Calculations for Part1: Currently gentrifying

In [21]:
def add_col_for_40_percent_median_income_by_year(row):    
    y = row['Year']
    median_income_40_percent_for_row = compute_median_income_40_percent_by_year(y)
    return median_income_40_percent_for_row

def compute_median_income_40_percent_by_year(y):
    median_income_40_percent_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40_percent_by_year = np.percentile(median_income_40_percent_of_one_year, 50)*0.4
    return median_income_40_percent_by_year

data['median_income_40_percent_by_year'] = data.apply(add_col_for_40_percent_median_income_by_year, axis = 1)

In [22]:
def add_col_for_increase_in_median_rent(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_rent = compute_increase_in_median_rent(y,bg)
    return increase_in_median_rent

def compute_increase_in_median_rent(y,bg):
    if y==2010 or y==2020:
        return 0
    median_rent_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_rent_with_imputation']. astype(int))
    median_rent_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'median_rent_with_imputation']. astype(int))
    increase_in_median_rent_by_year = median_rent_by_year2 - median_rent_by_year1
    return increase_in_median_rent_by_year 

data['increase_in_median_rent'] = data.apply(add_col_for_increase_in_median_rent, axis = 1)

In [23]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year,def_1,median_income_40_percent_by_year,increase_in_median_rent
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,62272.6,389955.6,308.0,0,0.0,0,0.0,None,27954.6,0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,62272.6,389955.6,245.0,0,0.0,0,0.0,None,27954.6,0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,62272.6,389955.6,354.0,0,0.0,0,0.0,None,27954.6,0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,62272.6,389955.6,191.0,0,0.0,0,0.0,None,27954.6,0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,62272.6,389955.6,251.0,0,0.0,0,0.0,None,27954.6,0

In [24]:
def add_col_for_median_of_increase_in_rent(row):    
    y = row['Year']
    increase_in_rent_median = compute_median_of_increase_in_rent(y)
    return increase_in_rent_median

def compute_median_of_increase_in_rent(y):
    median_of_increase_in_rent_of_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_median_rent']. astype(int))
    median_of_increase_in_rent_of_one_year_by_year = np.percentile(median_of_increase_in_rent_of_one_year, 50)
    return median_of_increase_in_rent_of_one_year_by_year

data['median_of_increase_in_rent_by_year'] = data.apply(add_col_for_median_of_increase_in_rent, axis = 1)

#### Calculations for Part2: Have gentrified

In [25]:
def add_col_for_housevalue_distribution_current_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_this_year = compute_housevalue_distribution(y, bg)
    return housevalue_distribution_this_year

def add_col_for_housevalue_distribution_past_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_past_year = compute_housevalue_distribution(y-1, bg)
    return housevalue_distribution_past_year

def compute_housevalue_distribution(y, bg):
    if y==2009 or y==2019:
        return 'None'
    housevalue = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                   'median_houseprice_with_imputation']. astype(int))
    median_house_value_by_year = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                   'median_housevalue_by_year']. astype(int))
    if housevalue > median_house_value_by_year:
        return 'topHalf'
    else:
        return 'bottomHalf'
    
data['housevalue_distribution_current_year'] = data.apply(add_col_for_housevalue_distribution_current_year, axis = 1)
data['housevalue_distribution_past_year'] = data.apply(add_col_for_housevalue_distribution_past_year, axis = 1)

In [26]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year,def_1,median_income_40_percent_by_year,increase_in_median_rent,median_of_increase_in_rent_by_year,housevalue_distribution_current_year,housevalue_distribution_past_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,0,0.0,0,0.0,None,27954.6,0,0.0,topHalf,None
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None

#### Labelling the block groups per definition 2

In [27]:
def label_def2(row):
   if row['Median Household Income'] < row['median_income_40_percent_by_year'] and row['increase_in_median_rent'] > row['median_of_increase_in_rent_by_year']:
      return 'CurrentlyGentrifying'
   if row['housevalue_distribution_current_year'] == 'topHalf' and row['housevalue_distribution_past_year'] == 'bottomHalf': 
      return 'HaveGentrified'
   else:
      return 'NotCurrentlyGentrifying'

In [28]:
data['def_2'] = data.apply(label_def2, axis=1)

### Definition 3: Urban Planning
#### In danger of gentrifying:
* The block group’s % of workers taking transit increased
* The block group’s youth facilities per 1000 residents increased
* The block group’s public space per 1000 residents increased
* The block group’s % non-family households increased
* The block group’s % dwelling units in building with 5+ units increased
* The block group’s % dwelling units in building with 3-4 units increased
* The block group’s % renter-occupied increased
* The block group’s income diversity increased
* The block group’s % of renters paying >35% of income increased
* The block group’s % of dwelling units with three or more cars available decreased
* The block group’s recreational facilities per 1000 residents decreased
* The block group’s % married couples with children decreased
* The block group’s % non-hispanic white decreased

In [29]:
#data.head()

In [30]:
data['workers_taking_transit'] = round(data['Percent Public Transportation to Work']*(data[' Population'])*0.01,0)

def add_col_for_increase_in_workers_taking_transit(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_workers_taking_transit = compute_increase_in_workers_taking_transit(y,bg)
    return increase_in_workers_taking_transit

def compute_increase_in_workers_taking_transit(y, bg):
    if y==2010 or y==2020:
        return 'None'
    workers_taking_transit_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                    'workers_taking_transit']. astype(int))
    workers_taking_transit_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                    'workers_taking_transit']. astype(int))
    if(workers_taking_transit_year2 > workers_taking_transit_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_workers_taking_transit'] = data.apply(add_col_for_increase_in_workers_taking_transit, axis=1)

In [31]:
data['dwelling_units_with_5+_units'] = round(data['Percent Occupied Structure w 5+ Units']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_dwelling_units_with_5_plus_units(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_dwelling_units_with_5_plus_units = compute_increase_in_dwelling_units_with_5_plus_units(y,bg)
    return increase_in_dwelling_units_with_5_plus_units

def compute_increase_in_dwelling_units_with_5_plus_units(y, bg):
    if y==2010 or y==2020:
        return 'None'
    dwelling_units_with_5_plus_units_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                              'dwelling_units_with_5+_units']. astype(int))
    dwelling_units_with_5_plus_units_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                              'dwelling_units_with_5+_units']. astype(int))
    if(dwelling_units_with_5_plus_units_year2 > dwelling_units_with_5_plus_units_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_dwelling_units_with_5_plus_units'] = data.apply(add_col_for_increase_in_dwelling_units_with_5_plus_units, axis=1)

In [32]:
data['dwelling_units_with_3-4_units'] = round(data['Percent Occupied Structure w 3-4 Units']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_dwelling_units_with_3_4_units(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_dwelling_units_with_3_4_units = compute_increase_in_dwelling_units_with_3_4_units(y,bg)
    return increase_in_dwelling_units_with_3_4_units

def compute_increase_in_dwelling_units_with_3_4_units(y, bg):
    if y==2010 or y==2020:
        return 'None'
    dwelling_units_with_3_4_units_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'dwelling_units_with_3-4_units']. astype(int))
    dwelling_units_with_3_4_units_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'dwelling_units_with_3-4_units']. astype(int))
    if(dwelling_units_with_3_4_units_year2 > dwelling_units_with_3_4_units_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_dwelling_units_with_3_4_units'] = data.apply(add_col_for_increase_in_dwelling_units_with_3_4_units, axis=1)

In [33]:
data['renter_occupied'] = round(data['Percent Renter Occupied']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_renter_occupied(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_renter_occupied = compute_increase_in_renter_occupied(y,bg)
    return increase_in_renter_occupied

def compute_increase_in_renter_occupied(y, bg):
    if y==2010 or y==2020:
        return 'None'
    renter_occupied_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'renter_occupied']. astype(int))
    renter_occupied_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'renter_occupied']. astype(int))
    if(renter_occupied_year2 > renter_occupied_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_renter_occupied'] = data.apply(add_col_for_increase_in_renter_occupied, axis=1)

In [34]:
data['households_with_3_plus_cars'] = round(data['Percent Households w 4+ Vehicles']*(data[' Total Households'])*0.01,0) + round(data['Percent Households w 3 Vehicles']*(data[' Total Households'])*0.01,0) 

def add_col_for_decrease_in_households_with_3_plus_cars(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_households_with_3_plus_cars = compute_decrease_in_households_with_3_plus_cars(y,bg)
    return decrease_in_households_with_3_plus_cars

def compute_decrease_in_households_with_3_plus_cars(y, bg):
    if y==2010 or y==2020:
        return 'None'
    households_with_3_plus_cars_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                         'households_with_3_plus_cars']. astype(int))
    households_with_3_plus_cars_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                         'households_with_3_plus_cars']. astype(int))
    if(households_with_3_plus_cars_year2 < households_with_3_plus_cars_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_households_with_3_plus_cars'] = data.apply(add_col_for_decrease_in_households_with_3_plus_cars, axis=1)

In [35]:
data['married_couples_with_children'] = round(data['Percent Families, Married w Children Under 18']*(data[' Total Households'])*0.01,0)

def add_col_for_decrease_in_households_with_children(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_households_with_children = compute_decrease_in_households_with_children(y,bg)
    return decrease_in_households_with_children

def compute_decrease_in_households_with_children(y, bg):
    if y==2010 or y==2020:
        return 'None'
    households_with_children_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                      'married_couples_with_children']. astype(int))
    households_with_children_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                      'married_couples_with_children']. astype(int))
    if(households_with_children_year2 < households_with_children_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_households_with_children'] = data.apply(add_col_for_decrease_in_households_with_children, axis=1)

In [36]:
data['non_hispanic_whites'] = round(data['Percent White Non-Hispanic']*(data[' Population'])*0.01,0)

def add_col_for_decrease_in_non_hispanic_whites(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_non_hispanic_whites = compute_decrease_in_non_hispanic_whites(y,bg)
    return decrease_in_non_hispanic_whites

def compute_decrease_in_non_hispanic_whites(y, bg):
    if y==2010 or y==2020:
        return 'None'
    non_hispanic_whites_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg),
                                                 'non_hispanic_whites']. astype(int))
    non_hispanic_whites_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg),
                                                 'non_hispanic_whites']. astype(int))
    if(non_hispanic_whites_year2 < non_hispanic_whites_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_non_hispanic_whites'] = data.apply(add_col_for_decrease_in_non_hispanic_whites, axis=1)

In [37]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,dwelling_units_with_3-4_units,increase_in_dwelling_units_with_3_4_units,renter_occupied,increase_in_renter_occupied,households_with_3_plus_cars,decrease_in_households_with_3_plus_cars,married_couples_with_children,decrease_in_households_with_children,non_hispanic_whites,decrease_in_non_hispanic_whites
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,0.0,None,0.0,None,173.0,None,554.0,None,969.0,None
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,0.0,None,549.0,None,162.0,None,250.0,None,565.0,None
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,45.0,None,542.0,None,146.0,None,393.0,None,778.0,None
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,31.0,None,838.0,None,138.0,None,168.0,None,532.0,None
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,38.0,None,465.0,None,133.0,None,355.0,None,528.0,None

#### Labelling the tracts per definition 3

In [38]:
def label_def3(row):
   if row['Year'] == 2010 or row['Year'] == 2020:
        return 'None'
   if (row['increase_in_workers_taking_transit'] == 'True' and row['decrease_in_households_with_3_plus_cars'] == 'True' and row['increase_in_dwelling_units_with_5_plus_units'] == 'True' and row['increase_in_dwelling_units_with_3_4_units'] == 'True') or (row['increase_in_renter_occupied'] == 'True' and row['decrease_in_households_with_children'] == 'True' and row['decrease_in_non_hispanic_whites'] == 'True'):
        return 'InDangerOfGentrifying'
   else:
        return 'NotInDangerOfGentrifying'

In [39]:
data['def3'] = data.apply(label_def3, axis=1)

In [40]:
data.to_csv('../SimplyAnalytics Data/SimplyAnalytics_data_with_labels.csv',
            encoding='utf-8', index=False)