In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../SimplyAnalytics Data/Data_by_year_cleaned.csv', header=0)

In [3]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied",...,Unnamed: 17,Unnamed: 18,Unnamed: 19,"Total Households, 2011","Total Households, 2012","Total Households, 2013","Total Households, 2014","Total Households, 2015","Total Households, 2016","Total Households, 2020"
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Definition 1: Sociology 
#### Eligible for Gentrification:
* The block groupâ€™s median household income was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.
* The block groupâ€™s median house value was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.

#### Have gentrified:
* An increase in a block groupâ€™s educational attainment, as measured by the percentage of residents age 25 and over holding bachelorâ€™s degrees, was in the top third percentile of all block groups in Seattle.
* An increase in a block groupâ€™s median house value, as measured by inflation-adjusted median house value, was in the top third percentile of all block groups in Seattle.

#### Calculations for Part1: Eligible for gentrification

In [14]:
years_array = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2020]

In [41]:
# get the columns in variable names
median_income_df = pd.DataFrame(columns=['year','median_income'])
median_income_list = []
median_housevalue_df = pd.DataFrame(columns=['year','median_housevalue'])
median_housevalue_list = []

for i in years_array:
    median_income_of_one_year =np.array(data.loc[data['Year'] == i, 'Median Household Income']. astype(int))
    median_income = np.percentile(median_income_of_one_year, 50)
    median_income_list.append(median_income)

    median_housevalue_of_one_year =np.array(data.loc[data['Year'] == i, 'Housing, Median Value Owner Households']. astype(int))
    median_housevalue = np.percentile(median_housevalue_of_one_year, 50)
    median_housevalue_list.append(median_housevalue)

    #...     df = df.append({'A': i}, ignore_index=True)

In [42]:
median_income_df['median_income'] = median_income_list
median_income_df['year'] = years_array

In [43]:
median_income_df

   year  median_income
0  2010        69857.0
1  2011        70146.0
2  2012        68211.0
3  2013        70500.0
4  2014        76563.0
5  2015        80529.0
6  2016        82028.0
7  2017        86682.0
8  2020        88214.0

In [44]:
median_housevalue_df['median_housevalue'] = median_housevalue_list
median_housevalue_df['year'] = years_array

In [45]:
median_housevalue_df

   year  median_housevalue
0  2010           418182.0
1  2011           423494.0
2  2012           444767.0
3  2013           425962.0
4  2014           393421.0
5  2015           398621.0
6  2016           402740.0
7  2017           407143.0
8  2020           389552.0

In [47]:
np.where(median_housevalue_df['year']==2010)

(array([0], dtype=int64),)

#### Calculations for Part2: Have gentrified