In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../SimplyAnalytics Data/Data_by_year_cleaned.csv', header=0)

In [3]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied","Percentage: Housing, Occupied Structure w 3-4 Units","Percentage: Housing, Occupied Structure w 5+ Units",Percentage: Households w 3 Vehicles,Percentage: Households w 4+ Vehicles,"Percentage: Families, Married w Children Under 18, 2010","Total Households, 2010",Year
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,0.0000,0.0000,8.7121,1.7046,33.3333,1663,2010
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,0.0000,78.2675,8.7987,1.5228,15.8798,1573,2010
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,6.0484,61.5592,8.8278,1.4472,27.7512,1416,2010
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,3.6993,89.4989,8.8427,1.5605,12.7424,1319,2010
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,5.9561,61.4421,8.6420,1.5873,27.4854,1293,2010

### Definition 1: Sociology 
#### Eligible for Gentrification:
* The block group’s median household income was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.
* The block group’s median house value was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.

#### Have gentrified:
* An increase in a block group’s educational attainment, as measured by the percentage of residents age 25 and over holding bachelor’s degrees, was in the top third percentile of all block groups in Seattle.
* An increase in a block group’s median house value, as measured by inflation-adjusted median house value, was in the top third percentile of all block groups in Seattle.

#### Calculations for Part1: Eligible for gentrification

In [4]:
def add_col_for_median_income_by_year(row):    
    y = row['Year']
    median_income_for_row = compute_median_income_by_year(y)
    return median_income_for_row

In [5]:
def add_col_for_median_housevalue_by_year(row):    
    y = row['Year']
    median_housevalue_for_row = compute_median_housevalue_by_year(y)
    return median_housevalue_for_row

In [6]:
def compute_median_income_by_year(y):
    median_income_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income = np.percentile(median_income_of_one_year, 50)
    return median_income

In [7]:
def compute_median_housevalue_by_year(y):
    median_housevalue_of_one_year =np.array(data.loc[data['Year'] == y, 'Housing, Median Value Owner Households']. astype(int))
    median_housevalue = np.percentile(median_housevalue_of_one_year, 50)
    return median_housevalue

In [8]:
data['median_income_by_year'] = data.apply(add_col_for_median_income_by_year, axis = 1)

In [9]:
data['median_housevalue_by_year'] = data.apply(add_col_for_median_housevalue_by_year, axis = 1)

In [10]:
def add_col_for_median_income_40th_perc(row):    
    y = row['Year']
    median_income_40th_perc = compute_median_income_40th_perc(y)
    return median_income_40th_perc

In [11]:
def compute_median_income_40th_perc(y):
    median_income_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40th_perc = np.percentile(median_income_40th_perc_of_one_year, 40)
    return median_income_40th_perc

In [12]:
data['median_income_40th_perc_by_year'] = data.apply(add_col_for_median_income_40th_perc, axis = 1)

In [13]:
def add_col_for_median_housevalue_40th_perc(row):    
    y = row['Year']
    median_housevalue_40th_perc = compute_median_housevalue_40th_perc(y)
    return median_housevalue_40th_perc

In [14]:
def compute_median_housevalue_40th_perc(y):
    median_housevalue_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'Housing, Median Value Owner Households']. astype(int))
    median_housevalue_40th_perc = np.percentile(median_housevalue_40th_perc_of_one_year, 40)
    return median_housevalue_40th_perc

In [15]:
data['median_housevalue_40th_perc_by_year'] = data.apply(add_col_for_median_housevalue_40th_perc, axis = 1)

In [16]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied",...,"Percentage: Housing, Occupied Structure w 5+ Units",Percentage: Households w 3 Vehicles,Percentage: Households w 4+ Vehicles,"Percentage: Families, Married w Children Under 18, 2010","Total Households, 2010",Year,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,...,0.0000,8.7121,1.7046,33.3333,1663,2010,69857.0,418182.0,62260.0,389130.0
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,...,78.2675,8.7987,1.5228,15.8798,1573,2010,69857.0,418182.0,62260.0,389130.0
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,...,61.5592,8.8278,1.4472,27.7512,1416,2010,69857.0,418182.0,62260.0,389130.0
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,...,89.4989,8.8427,1.5605,12.7424,1319,2010,69857.0,418182.0,62260.0,389130.0
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,...,61.4421,8.6420,1.5873,27.4854,1293,2010,69857.0,418182.0,62260.0,389130.0

#### Calculations for Part2: Have gentrified

In [20]:
def add_col_for_increase_in_edu_attainment(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_edu_attainment_for_row = compute_increase_in_edu_attainment(y,bg)
    return increase_in_edu_attainment_for_row

In [21]:
def compute_increase_in_edu_attainment(y,bg):
    if y==2010 or y==2020:
        return 0
    edu_attainment_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Percentage: Education Attainment Bachelors Degree']. astype(int))
    edu_attainment_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'Percentage: Education Attainment Bachelors Degree']. astype(int))
    increase_in_edu_attainment_by_year = edu_attainment_by_year2 - edu_attainment_by_year1
    return increase_in_edu_attainment_by_year

In [22]:
data['increase_in_edu_attainment'] = data.apply(add_col_for_increase_in_edu_attainment, axis = 1)

In [23]:
def add_col_for_edu_attainment_top_3rd_percentile_by_year(row):    
    y = row['Year']
    edu_attainment_top_3rd_percentile_for_row = compute_edu_attainmenttop_3rd_percentile_by_year(y)
    return edu_attainment_top_3rd_percentile_for_row

In [24]:
def compute_edu_attainmenttop_3rd_percentile_by_year(y):
    increase_edu_attainment_top_3rd_percentile_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_edu_attainment']. astype(int))
    increase_edu_attainment_top_3rd_percentile_by_year = np.percentile(increase_edu_attainment_top_3rd_percentile_one_year, 66)
    return increase_edu_attainment_top_3rd_percentile_by_year

In [25]:
data['increase_in_edu_attainment_top_3rd_percentile_by_year'] = data.apply(add_col_for_edu_attainment_top_3rd_percentile_by_year, axis = 1)

In [26]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied",...,Percentage: Households w 4+ Vehicles,"Percentage: Families, Married w Children Under 18, 2010","Total Households, 2010",Year,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,...,1.7046,33.3333,1663,2010,69857.0,418182.0,62260.0,389130.0,0,0.0
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,...,1.5228,15.8798,1573,2010,69857.0,418182.0,62260.0,389130.0,0,0.0
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,...,1.4472,27.7512,1416,2010,69857.0,418182.0,62260.0,389130.0,0,0.0
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,...,1.5605,12.7424,1319,2010,69857.0,418182.0,62260.0,389130.0,0,0.0
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,...,1.5873,27.4854,1293,2010,69857.0,418182.0,62260.0,389130.0,0,0.0

In [27]:
def add_col_for_increase_in_median_housevalue(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_housevalue_by_year = compute_increase_in_median_housevalue(y,bg)
    return increase_in_median_housevalue_by_year

In [28]:
def compute_increase_in_median_housevalue(y,bg):
    if y==2010 or y==2020:
        return 0
    median_housevalue_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Housing, Median Value Owner Households']. astype(int))
    median_housevalue_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'Housing, Median Value Owner Households']. astype(int))
    increase_in_median_housevalue_by_year = median_housevalue_by_year2 - median_housevalue_by_year1
    return increase_in_median_housevalue_by_year

In [29]:
data['increase_in_median_housevalue'] = data.apply(add_col_for_increase_in_median_housevalue, axis = 1)

In [30]:
def add_col_for_housevalue_top_3rd_percentile_by_year(row):    
    y = row['Year']
    housevlue_top_3rd_percentile_for_row = compute_housevalue_top_3rd_percentile_by_year(y)
    return housevlue_top_3rd_percentile_for_row

In [31]:
def compute_housevalue_top_3rd_percentile_by_year(y):
    increase_housevalue_top_3rd_percentile_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_median_housevalue']. astype(int))
    increase_housevalue_top_3rd_percentile_by_year = np.percentile(increase_housevalue_top_3rd_percentile_one_year, 66)
    return increase_housevalue_top_3rd_percentile_by_year

In [32]:
data['increase_in_housevalue_top_3rd_percentile_by_year'] = data.apply(add_col_for_housevalue_top_3rd_percentile_by_year, axis = 1)

In [33]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied",...,"Total Households, 2010",Year,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,...,1663,2010,69857.0,418182.0,62260.0,389130.0,0,0.0,0,0.0
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,...,1573,2010,69857.0,418182.0,62260.0,389130.0,0,0.0,0,0.0
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,...,1416,2010,69857.0,418182.0,62260.0,389130.0,0,0.0,0,0.0
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,...,1319,2010,69857.0,418182.0,62260.0,389130.0,0,0.0,0,0.0
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,...,1293,2010,69857.0,418182.0,62260.0,389130.0,0,0.0,0,0.0

#### Labelling the tracts per definition 1

In [34]:
def label_def1(row):
   if row['Year'] == 2010 or row['Year'] == 2020:
      return 'None'
   if row['Median Household Income'] < row['median_income_40th_perc_by_year'] and row['Housing, Median Value Owner Households'] < row['median_housevalue_40th_perc_by_year']:
      return 'EligibleForGentrification'
   if row['increase_in_edu_attainment'] > row['increase_in_edu_attainment_top_3rd_percentile_by_year'] and row['increase_in_median_housevalue'] > row['increase_in_housevalue_top_3rd_percentile_by_year']:
      return 'HaveGentrified'
   else:
      return 'NotEligibleForGentrification'

In [35]:
data['def_1'] = data.apply(label_def1, axis=1)

### Definition 2: Financial & Economics
#### Currently gentrifying:
* The block group’s income levels below 40% of the median, and experienced rent increases greater than the median neighborhood did.

#### Have gentrified:
* The block group’s share of neighborhoods in a metro area that moved from the bottom half to the top half in the distribution of home prices.

#### Calculations for Part1: Currently gentrifying

In [36]:
def add_col_for_40_percent_median_income_by_year(row):    
    y = row['Year']
    median_income_40_percent_for_row = compute_median_income_40_percent_by_year(y)
    return median_income_40_percent_for_row

In [39]:
def compute_median_income_40_percent_by_year(y):
    median_income_40_percent_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40_percent_by_year = np.percentile(median_income_40_percent_of_one_year, 50)*0.4
    return median_income_40_percent_by_year

In [40]:
data['median_income_40_percent_by_year'] = data.apply(add_col_for_40_percent_median_income_by_year, axis = 1)

In [41]:
def add_col_for_increase_in_median_rent(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_rent = compute_increase_in_median_rent(y,bg)
    return increase_in_median_rent

In [42]:
def compute_increase_in_median_rent(y,bg):
    if y==2010 or y==2020:
        return 0
    median_rent_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Housing, Median Rent']. astype(int))
    median_rent_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'Housing, Median Rent']. astype(int))
    increase_in_median_rent_by_year = median_rent_by_year2 - median_rent_by_year1
    return increase_in_median_rent_by_year

In [43]:
data['increase_in_median_rent'] = data.apply(add_col_for_increase_in_median_rent, axis = 1)

In [44]:
def add_col_for_median_of_increase_in_rent(row):    
    y = row['Year']
    increase_in_rent_median = compute_median_of_increase_in_rent(y)
    return increase_in_rent_median

In [45]:
def compute_median_of_increase_in_rent(y):
    median_of_increase_in_rent_of_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_median_rent']. astype(int))
    median_of_increase_in_rent_of_one_year_by_year = np.percentile(median_of_increase_in_rent_of_one_year, 50)
    return median_of_increase_in_rent_of_one_year_by_year

In [46]:
data['median_of_increase_in_rent_by_year'] = data.apply(add_col_for_median_of_increase_in_rent, axis = 1)

#### Calculations for Part2: Have gentrified

In [47]:
def add_col_for_housevalue_distribution_current_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_this_year = compute_housevalue_distribution(y, bg)
    return housevalue_distribution_this_year

In [48]:
def add_col_for_housevalue_distribution_past_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_past_year = compute_housevalue_distribution(y-1, bg)
    return housevalue_distribution_past_year

In [49]:
def compute_housevalue_distribution(y, bg):
    if y==2009 or y==2019:
        return 'None'
    housevalue = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Housing, Median Value Owner Households']. astype(int))
    median_house_value_by_year = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_housevalue_by_year']. astype(int))
    if housevalue > median_house_value_by_year:
        return 'topHalf'
    else:
        return 'bottomHalf'

In [50]:
data['housevalue_distribution_current_year'] = data.apply(add_col_for_housevalue_distribution_current_year, axis = 1)
data['housevalue_distribution_past_year'] = data.apply(add_col_for_housevalue_distribution_past_year, axis = 1)

In [51]:
data.head()

,Name,Population,Median Household Income,"Housing, Median Value Owner Households",Percentage: Education Attainment Bachelors Degree,"Housing, Median Rent","Percentage: Employment, Public Transportation to Work",Percentage: White Non-Hispanic Population,"Housing, Units","Percentage: Housing, Renter Occupied",...,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year,def_1,median_income_40_percent_by_year,increase_in_median_rent,median_of_increase_in_rent_by_year,housevalue_distribution_current_year,housevalue_distribution_past_year
0,BG0001001,1250,141810,660354,24.6305,0,6.7751,77.5200,565,0.0000,...,0,0.0,0,0.0,None,27942.8,0,0.0,topHalf,None
1,BG0001002,1234,33316,338235,19.8690,771,16.5488,45.7861,658,83.4179,...,0,0.0,0,0.0,None,27942.8,0,0.0,bottomHalf,None
2,BG0001003,1337,48703,417188,26.4826,864,16.5173,58.1900,744,72.7931,...,0,0.0,0,0.0,None,27942.8,0,0.0,bottomHalf,None
3,BG0001004,1492,29392,0,12.8099,694,32.6877,35.6568,838,100.0000,...,0,0.0,0,0.0,None,27942.8,0,0.0,bottomHalf,None
4,BG0001005,942,48882,415385,26.5971,863,16.5563,56.0510,638,72.8395,...,0,0.0,0,0.0,None,27942.8,0,0.0,bottomHalf,None

#### Labelling the block groups per definition 2

In [52]:
def label_def2(row):
   if row['Median Household Income'] < row['median_income_40_percent_by_year'] and row['increase_in_median_rent'] > row['median_of_increase_in_rent_by_year']:
      return 'CurrentlyGentrifying'
   if row['housevalue_distribution_current_year'] == 'topHalf' and row['housevalue_distribution_past_year'] == 'bottomHalf': 
      return 'HaveGentrified'
   else:
      return 'NotCurrentlyGentrifying'

In [53]:
data['def_2'] = data.apply(label_def2, axis=1)

In [54]:
data.to_csv('../SimplyAnalytics Data/SimplyAnalytics_data_with_labels.csv')