In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../SimplyAnalytics Data/Data_by_year_cleaned.csv', header=0)

In [3]:
data.head(100)

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,Percent White Non-Hispanic,Housing Units,Percent Renter Occupied,Percent Occupied Structure w 3-4 Units,Percent Occupied Structure w 5+ Units,Percent Households w 3 Vehicles,Percent Households w 4+ Vehicles,"Percent Families, Married w Children Under 18",Total Households,Year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,77.52,565,0.00,0.00,0.00,8.71,1.70,33.33,1663,2010
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,45.79,658,83.42,0.00,78.27,8.80,1.52,15.88,1573,2010
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,58.19,744,72.79,6.05,61.56,8.83,1.45,27.75,1416,2010
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,35.66,838,100.00,3.70,89.50,8.84,1.56,12.74,1319,2010
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,56.05,638,72.84,5.96,61.44,8.64,1.59,27.49,1293,2010
5,530330002001,Olympic Hills,Lake City,BG0002001,1086,61218,361151,26.42,1173,16.00,61.33,455,39.39,10.11,4.18,7.69,3.26,41.72,1277,2010
6,530330002002,Victory Heights,Lake City,BG0002002,1360,57863,354698,33.24,813,19.25,55.15,590,60.33,0.00,32.88,7.79,3.26,29.00,1212,2010
7,530330002003,Pinehurst,Northgate,BG0002003,1509,48071,334967,27.35,875,20.53,60.24,826,69.40,0.00,76.39,7.68,3.59,13.90,1204,2010
8,530330002004,Pinehurst,Northgate,BG0002004,1053,69413,330061,25.31,877,15.75,66.57,576,25.32,5.90,44.27,7.76,3.33,12.13,1187,2010
9,530330002005,Pinehurst,Northgate,BG0002005,1324,49187,349065,30.88,738,17.89,65.63,698,47.53,8.02,52.29,7.77,3.29,26.39,1131,2010
10,530330002006,Olympic Hills,Lake City,BG0002006,1314,83953,354839,39.48,580,13.09,71.77,553,12.33,0.00,4.70,7.78,3.23,58.86,1104,2010
11,530330003001,Haller Lake,Northgate,BG0003001,1258,75431,340748,30.34,735,15.50,67.73,507,21.27,0.00,6.71,9.61,6.14,30.77,1097,2010
12,530330003002,Haller Lake,Northgate,BG0003002,1345,60631,336222,25.48,728,19.58,60.52,654,26.62,0.00,7.34,9.65,5.99,27.08,1091,2010
13,530330004011,Haller Lake,Northgate,BG0004011,2842,38624,279131,28.52,765,5.12,52.99,1935,62.94,6.10,57.36,4.83,1.02,13.61,1084,2010
14,530330004012,Bitter Lake,North Seattle,BG0004012,1442,72243,393802,17.35,826,14.07,65.74,716,57.98,1.68,36.45,4.82,1.05,43.49,1076,2010
15,530330004013,Bitter Lake,North Seattle,BG0004013,1267,22500,283882,18.09,405,13.77,74.82,1063,76.25,2.63,84.29,4.68,1.11,46.27,1073,2010
16,530330004021,Bitter Lake,North Seattle,BG0004021,1221,52669,403896,26.31,932,19.97,73.63,569,63.33,0.00,53.25,6.81,1.51,40.42,1069,2010
17,530330004022,Haller Lake,Northgate,BG0004022,937,51027,353804,33.02,702,14.71,66.92,430,53.19,0.00,38.37,6.86,1.47,30.00,1069,2010
18,530330004023,Bitter Lake,North Seattle,BG0004023,1194,50625,365385,35.37,911,15.37,67.42,611,57.02,0.00,62.19,6.93,1.56,33.43,1037,2010
19,530330004024,Bitter Lake,North Seattle,BG0004024,1489,59010,372832,31.56,1002,13.92,86.37,843,49.19,0.00,40.45,6.97,1.37,55.06,1023,2010
20,530330005001,Broadview,North Seattle,BG0005001,1236,148566,671086,37.82,0,2.56,88.43,520,0.00,0.00,0.00,28.34,4.19,36.51,1018,2010
21,530330005002,Broadview,North Seattle,BG0005002,877,85156,484694,21.28,875,15.20,83.69,372,3.05,0.00,0.00,27.98,4.43,31.15,1000,2010
22,530330005003,Broadview,North Seattle,BG0005003,1052,101389,541946,31.43,1750,3.59,86.22,455,3.04,0.00,0.00,28.10,4.22,48.28,994,2010
23,530330006001,Haller Lake,Northgate,BG0006001,1407,55147,362013,21.93,888,2.99,63.40,553,27.32,0.00,18.81,10.22,3.53,23.72,973,2010
24,530330006002,Pinehurst,Northgate,BG0006002,1172,38333,413158,28.87,848,30.48,59.04,634,72.17,0.00,65.93,10.00,3.50,21.31,953,2010
25,530330006003,Haller Lake,Northgate,BG0006003,1415,70399,353731,18.96,1013,35.02,64.45,668,17.68,0.00,19.61,10.17,3.44,25.49,950,2010
26,530330006004,North College Park,Northgate,BG0006004,1544,59139,342358,32.16,824,22.51,53.11,727,36.95,8.39,14.86,10.13,3.42,24.50,949,2010
27,530330006005,Haller Lake,Northgate,BG0006005,803,71250,358073,47.92,196,0.00,67.25,310,11.22,0.00,0.00,10.20,3.40,56.45,942,2010
28,530330006006,Pinehurst,Northgate,BG0006006,1285,72003,352035,21.66,718,15.28,55.64,646,37.00,0.00,36.07,10.12,3.32,36.92,938,2010
29,530330007001,Meadowbrook,Lake City,BG0007001,1562,38129,280769,21.86,798,30.66,47.82,917,79.85,5.56,76.88,8.13,3.52,16.29,937,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,530330019003,Roosevelt,North Seattle,BG0019003,1266,71489,375000,34.82,1538,15.92,79.54,538,29.09,1.30,19.89,9.44,4.05,25.29,774,2010
71,530330020001,Roosevelt,North Seattle,BG0020001,1514,74512,416184,33.39,940,17.31,77.01,806,29.66,0.00,27.79,8.84,3.40,31.84,772,2010
72,530330020002,Maple Leaf,Northgate,BG0020002,980,68160,380519,45.44,944,16.67,78.67,457,28.77,0.00,10.28,8.90,3.20,30.77,771,2010
73,530330020003,Maple Leaf,Northgate,BG0020003,912,97240,405785,45.27,1352,13.81,84.43,416,12.91,1.92,11.06,8.86,3.29,38.56,769,2010
74,530330021001,Matthews Beach,Lake City,BG0021001,1506,85636,430827,42.37,1289,13.74,84.53,659,11.29,0.00,9.10,16.38,3.02,45.45,768,2010
75,530330021002,Maple Leaf,Northgate,BG0021002,897,68207,369014,34.04,723,17.84,75.36,427,32.68,2.11,41.22,16.34,2.93,42.73,765,2010
76,530330021003,Maple Leaf,Northgate,BG0021003,1404,73796,396277,37.11,863,22.77,71.15,684,37.25,9.06,18.57,16.28,2.97,24.36,764,2010
77,530330022001,Matthews Beach,Lake City,BG0022001,1485,128175,590210,32.26,1601,9.82,81.68,606,10.07,0.00,1.65,15.53,1.02,44.42,763,2010
78,530330022002,Matthews Beach,Lake City,BG0022002,1416,88571,436842,29.13,1371,15.79,79.73,591,25.09,0.00,0.00,15.41,1.08,25.06,762,2010
79,530330022003,Sand Point,North Seattle,BG0022003,1255,117188,622093,33.02,1015,4.65,78.25,553,13.41,0.00,1.09,15.33,1.15,34.55,760,2010
80,530330022004,Sand Point,North Seattle,BG0022004,1130,122426,801768,38.59,1109,10.39,84.16,521,13.76,0.00,19.96,15.48,1.08,38.03,760,2010
81,530330024001,View Ridge,North Seattle,BG0024001,959,82843,526724,45.12,1435,15.07,86.34,398,21.61,0.00,0.00,6.77,4.69,37.63,760,2010
82,530330024002,Bryant,North Seattle,BG0024002,811,71272,476471,46.24,896,24.07,76.08,396,61.15,9.34,48.74,6.82,4.72,43.22,757,2010
83,530330024003,Ravenna,North Seattle,BG0024003,1202,113949,457241,34.38,1642,15.74,82.61,500,12.32,0.00,2.60,6.68,4.80,44.29,756,2010
84,530330025001,Roosevelt,North Seattle,BG0025001,1404,105435,468598,51.77,1263,19.37,79.13,626,12.88,0.00,0.00,15.05,5.35,40.51,755,2010
85,530330025002,Roosevelt,North Seattle,BG0025002,1398,101689,467925,39.03,1264,29.78,81.97,674,41.27,7.57,9.35,14.99,5.26,44.25,751,2010
86,530330026001,Roosevelt,North Seattle,BG0026001,1054,84722,460305,45.34,944,27.56,81.69,477,46.46,0.00,22.64,7.08,2.21,53.75,743,2010
87,530330026002,Roosevelt,North Seattle,BG0026002,1294,132031,561484,47.71,1188,26.78,86.94,538,17.27,1.12,0.93,7.10,2.11,33.79,742,2010
88,530330026003,Roosevelt,North Seattle,BG0026003,1333,94037,485593,46.15,1139,15.27,78.17,625,32.58,0.64,24.96,6.79,1.92,46.21,742,2010
89,530330026004,Roosevelt,North Seattle,BG0026004,979,114183,499083,34.44,1057,15.60,79.98,412,11.96,9.95,0.73,6.87,2.04,47.73,736,2010
90,530330027001,Roosevelt,North Seattle,BG0027001,1426,83367,441353,39.89,1102,27.61,83.87,635,36.82,0.00,28.82,9.17,3.60,15.61,736,2010
91,530330027002,Green Lake,North Seattle,BG0027002,1340,113315,524784,43.31,1193,14.45,82.54,576,10.58,0.87,0.00,8.72,3.71,40.37,735,2010
92,530330027003,Green Lake,North Seattle,BG0027003,1084,79583,646000,29.76,1192,20.32,81.92,521,42.68,9.41,26.30,8.79,3.77,35.71,730,2010
93,530330027004,Green Lake,North Seattle,BG0027004,1439,97601,541244,37.59,1292,9.15,81.31,676,27.03,7.10,15.24,8.59,3.66,27.90,730,2010
94,530330028001,Green Lake,North Seattle,BG0028001,1189,74277,474000,44.80,1047,16.40,84.86,563,29.65,2.31,12.79,14.55,1.11,45.27,727,2010
95,530330028002,Green Lake,North Seattle,BG0028002,896,70486,487662,42.80,975,16.09,83.48,457,27.04,1.75,11.16,14.69,1.17,48.69,726,2010
96,530330028003,Green Lake,North Seattle,BG0028003,985,85307,462037,46.49,1154,31.30,83.05,551,59.96,5.44,37.75,14.51,1.55,9.03,722,2010
97,530330028004,Green Lake,North Seattle,BG0028004,1411,91168,436555,51.80,1286,18.28,77.53,658,40.32,4.71,17.02,14.56,1.12,36.21,719,2010
98,530330029001,Whittier Heights,Ballard,BG0029001,1393,78875,442750,27.15,649,13.79,83.49,650,31.66,1.08,32.46,8.08,2.91,27.83,718,2010
99,530330029002,Greenwood,North Seattle,BG0029002,1416,114224,533154,40.11,1367,7.79,87.99,645,15.84,0.00,1.71,8.00,3.04,58.84,718,2010

#### Get census tract Ids

In [4]:
def compute_tract_id(row):
    tid = row['Id']
    tract_id = np.int(tid/100)
    return tract_id 

data['tract_id'] = data.apply(compute_tract_id, axis = 1)

#### Missing values treatment

In [6]:
def add_col_for_imputing_missing_values_in_median_houseprice(row):    
    y = row['Year']
    tract = row['tract_id']
    if row['Median Home Value'] == 0:
        imputed_value = compute_missing_value_in_median_houseprice(y,tract)
        return imputed_value
    else:
        return row['Median Home Value']


def compute_missing_value_in_median_houseprice(y,tract):
    median_houseprice_array =np.array(data.loc[(data['Year'] == y) & (data['tract_id'] == tract), 'Median Home Value']. astype(int))
    mean_median_houseprice = np.mean(median_houseprice_array)
    return mean_median_houseprice 

data['median_houseprice_with_imputation'] = data.apply(add_col_for_imputing_missing_values_in_median_houseprice, axis = 1)

In [7]:
def add_col_for_imputing_missing_values_in_median_rent(row):    
    y = row['Year']
    tract = row['tract_id']
    if row['Median Rent'] == 0:
        imputed_value = compute_missing_value_in_median_rent(y,tract)
        return imputed_value
    else:
        return row['Median Rent']


def compute_missing_value_in_median_rent(y,tract):
    median_rent_array =np.array(data.loc[(data['Year'] == y) & (data['tract_id'] == tract), 'Median Rent']. astype(int))
    mean_median_rent = np.mean(median_rent_array)
    return mean_median_rent 

data['median_rent_with_imputation'] = data.apply(add_col_for_imputing_missing_values_in_median_rent, axis = 1)

### Definition 1: Sociology 
#### Eligible for Gentrification:
* The block groupâ€™s median household income was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.
* The block groupâ€™s median house value was in the bottom 40th percentile when compared to all block groups in Seattle at the beginning of the time span.

#### Have gentrified:
* An increase in a block groupâ€™s educational attainment, as measured by the percentage of residents age 25 and over holding bachelorâ€™s degrees, was in the top third percentile of all block groups in Seattle.
* An increase in a block groupâ€™s median house value, as measured by inflation-adjusted median house value, was in the top third percentile of all block groups in Seattle.

#### Calculations for Part1: Eligible for gentrification

In [8]:
def add_col_for_median_income_by_year(row):    
    y = row['Year']
    median_income_for_row = compute_median_income_by_year(y)
    return median_income_for_row

def compute_median_income_by_year(y):
    median_income_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income = np.percentile(median_income_of_one_year, 50)
    return median_income

data['median_income_by_year'] = data.apply(add_col_for_median_income_by_year, axis = 1)

In [9]:
def add_col_for_median_housevalue_by_year(row):    
    y = row['Year']
    median_housevalue_for_row = compute_median_housevalue_by_year(y)
    return median_housevalue_for_row

def compute_median_housevalue_by_year(y):
    median_housevalue_of_one_year =np.array(data.loc[data['Year'] == y, 'median_houseprice_with_imputation']. astype(int))
    median_housevalue = np.percentile(median_housevalue_of_one_year, 50)
    return median_housevalue

data['median_housevalue_by_year'] = data.apply(add_col_for_median_housevalue_by_year, axis = 1)

In [10]:
def add_col_for_median_income_40th_perc(row):    
    y = row['Year']
    median_income_40th_perc = compute_median_income_40th_perc(y)
    return median_income_40th_perc

def compute_median_income_40th_perc(y):
    median_income_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40th_perc = np.percentile(median_income_40th_perc_of_one_year, 40)
    return median_income_40th_perc

data['median_income_40th_perc_by_year'] = data.apply(add_col_for_median_income_40th_perc, axis = 1)

In [11]:
def add_col_for_median_housevalue_40th_perc(row):    
    y = row['Year']
    median_housevalue_40th_perc = compute_median_housevalue_40th_perc(y)
    return median_housevalue_40th_perc

def compute_median_housevalue_40th_perc(y):
    median_housevalue_40th_perc_of_one_year =np.array(data.loc[data['Year'] == y, 'median_houseprice_with_imputation']. astype(int))
    median_housevalue_40th_perc = np.percentile(median_housevalue_40th_perc_of_one_year, 40)
    return median_housevalue_40th_perc

data['median_housevalue_40th_perc_by_year'] = data.apply(add_col_for_median_housevalue_40th_perc, axis = 1)

In [12]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,"Percent Families, Married w Children Under 18",Total Households,Year,tract_id,median_houseprice_with_imputation,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,33.33,1663,2010,5303300010,660354.0,638.4,69886.5,418602.0,62272.6,389955.6
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,15.88,1573,2010,5303300010,338235.0,771.0,69886.5,418602.0,62272.6,389955.6
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,27.75,1416,2010,5303300010,417188.0,864.0,69886.5,418602.0,62272.6,389955.6
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,12.74,1319,2010,5303300010,366232.4,694.0,69886.5,418602.0,62272.6,389955.6
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,27.49,1293,2010,5303300010,415385.0,863.0,69886.5,418602.0,62272.6,389955.6

#### Calculations for Part2: Have gentrified

In [13]:
data['Education_Attainment_Bachelors_Degree'] = round(data['Percent Bachelors Degree']*(data[' Population'])*0.01,0)

def add_col_for_increase_in_edu_attainment(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_edu_attainment_for_row = compute_increase_in_edu_attainment(y,bg)
    return increase_in_edu_attainment_for_row

def compute_increase_in_edu_attainment(y,bg):
    if y==2010 or y==2020:
        return 0
    edu_attainment_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'Education_Attainment_Bachelors_Degree']. astype(int))
    edu_attainment_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'Education_Attainment_Bachelors_Degree']. astype(int))
    increase_in_edu_attainment_by_year = edu_attainment_by_year2 - edu_attainment_by_year1
    return increase_in_edu_attainment_by_year 

data['increase_in_edu_attainment'] = data.apply(add_col_for_increase_in_edu_attainment, axis = 1)

In [14]:
def add_col_for_edu_attainment_top_3rd_percentile_by_year(row):    
    y = row['Year']
    edu_attainment_top_3rd_percentile_for_row = compute_edu_attainmenttop_3rd_percentile_by_year(y)
    return edu_attainment_top_3rd_percentile_for_row

def compute_edu_attainmenttop_3rd_percentile_by_year(y):
    increase_edu_attainment_top_3rd_percentile_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_edu_attainment']. astype(int))
    increase_edu_attainment_top_3rd_percentile_by_year = np.percentile(increase_edu_attainment_top_3rd_percentile_one_year, 66)
    return increase_edu_attainment_top_3rd_percentile_by_year

data['increase_in_edu_attainment_top_3rd_percentile_by_year'] = data.apply(add_col_for_edu_attainment_top_3rd_percentile_by_year, axis = 1)

In [15]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,tract_id,median_houseprice_with_imputation,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,5303300010,660354.0,638.4,69886.5,418602.0,62272.6,389955.6,308.0,0,0.0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,5303300010,338235.0,771.0,69886.5,418602.0,62272.6,389955.6,245.0,0,0.0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,5303300010,417188.0,864.0,69886.5,418602.0,62272.6,389955.6,354.0,0,0.0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,5303300010,366232.4,694.0,69886.5,418602.0,62272.6,389955.6,191.0,0,0.0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,5303300010,415385.0,863.0,69886.5,418602.0,62272.6,389955.6,251.0,0,0.0

In [16]:
def add_col_for_increase_in_median_housevalue(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_housevalue_by_year = compute_increase_in_median_housevalue(y,bg)
    return increase_in_median_housevalue_by_year

def compute_increase_in_median_housevalue(y,bg):
    if y==2010 or y==2020:
        return 0
    median_housevalue_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_houseprice_with_imputation']. astype(int))
    median_housevalue_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'median_houseprice_with_imputation']. astype(int))
    increase_in_median_housevalue_by_year = median_housevalue_by_year2 - median_housevalue_by_year1
    return increase_in_median_housevalue_by_year 

data['increase_in_median_housevalue'] = data.apply(add_col_for_increase_in_median_housevalue, axis = 1)

In [17]:
def add_col_for_housevalue_top_3rd_percentile_by_year(row):    
    y = row['Year']
    housevlue_top_3rd_percentile_for_row = compute_housevalue_top_3rd_percentile_by_year(y)
    return housevlue_top_3rd_percentile_for_row

def compute_housevalue_top_3rd_percentile_by_year(y):
    increase_housevalue_top_3rd_percentile_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_median_housevalue']. astype(int))
    increase_housevalue_top_3rd_percentile_by_year = np.percentile(increase_housevalue_top_3rd_percentile_one_year, 66)
    return increase_housevalue_top_3rd_percentile_by_year

data['increase_in_housevalue_top_3rd_percentile_by_year'] = data.apply(add_col_for_housevalue_top_3rd_percentile_by_year, axis = 1)

In [18]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,median_rent_with_imputation,median_income_by_year,median_housevalue_by_year,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,638.4,69886.5,418602.0,62272.6,389955.6,308.0,0,0.0,0,0.0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,771.0,69886.5,418602.0,62272.6,389955.6,245.0,0,0.0,0,0.0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,864.0,69886.5,418602.0,62272.6,389955.6,354.0,0,0.0,0,0.0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,694.0,69886.5,418602.0,62272.6,389955.6,191.0,0,0.0,0,0.0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,863.0,69886.5,418602.0,62272.6,389955.6,251.0,0,0.0,0,0.0

#### Labelling the tracts per definition 1

In [19]:
def label_def1(row):
   if row['Year'] == 2010 or row['Year'] == 2020:
      return 'None'
   if row['Median Household Income'] < row['median_income_40th_perc_by_year'] and row['median_houseprice_with_imputation'] < row['median_housevalue_40th_perc_by_year']:
      return 'EligibleForGentrification'
   if row['increase_in_edu_attainment'] > row['increase_in_edu_attainment_top_3rd_percentile_by_year'] and row['increase_in_median_housevalue'] > row['increase_in_housevalue_top_3rd_percentile_by_year']:
      return 'HaveGentrified'
   else:
      return 'NotEligibleForGentrification'

In [20]:
data['def_1'] = data.apply(label_def1, axis=1)

### Definition 2: Financial & Economics
#### Currently gentrifying:
* The block groupâ€™s income levels below 40% of the median, and experienced rent increases greater than the median neighborhood did.

#### Have gentrified:
* The block groupâ€™s share of neighborhoods in a metro area that moved from the bottom half to the top half in the distribution of home prices.

#### Calculations for Part1: Currently gentrifying

In [21]:
def add_col_for_40_percent_median_income_by_year(row):    
    y = row['Year']
    median_income_40_percent_for_row = compute_median_income_40_percent_by_year(y)
    return median_income_40_percent_for_row

def compute_median_income_40_percent_by_year(y):
    median_income_40_percent_of_one_year =np.array(data.loc[data['Year'] == y, 'Median Household Income']. astype(int))
    median_income_40_percent_by_year = np.percentile(median_income_40_percent_of_one_year, 50)*0.4
    return median_income_40_percent_by_year

data['median_income_40_percent_by_year'] = data.apply(add_col_for_40_percent_median_income_by_year, axis = 1)

In [22]:
def add_col_for_increase_in_median_rent(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_median_rent = compute_increase_in_median_rent(y,bg)
    return increase_in_median_rent

def compute_increase_in_median_rent(y,bg):
    if y==2010 or y==2020:
        return 0
    median_rent_by_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_rent_with_imputation']. astype(int))
    median_rent_by_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'median_rent_with_imputation']. astype(int))
    increase_in_median_rent_by_year = median_rent_by_year2 - median_rent_by_year1
    return increase_in_median_rent_by_year 

data['increase_in_median_rent'] = data.apply(add_col_for_increase_in_median_rent, axis = 1)

In [23]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,median_income_40th_perc_by_year,median_housevalue_40th_perc_by_year,Education_Attainment_Bachelors_Degree,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year,def_1,median_income_40_percent_by_year,increase_in_median_rent
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,62272.6,389955.6,308.0,0,0.0,0,0.0,None,27954.6,0
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,62272.6,389955.6,245.0,0,0.0,0,0.0,None,27954.6,0
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,62272.6,389955.6,354.0,0,0.0,0,0.0,None,27954.6,0
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,62272.6,389955.6,191.0,0,0.0,0,0.0,None,27954.6,0
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,62272.6,389955.6,251.0,0,0.0,0,0.0,None,27954.6,0

In [24]:
def add_col_for_median_of_increase_in_rent(row):    
    y = row['Year']
    increase_in_rent_median = compute_median_of_increase_in_rent(y)
    return increase_in_rent_median

def compute_median_of_increase_in_rent(y):
    median_of_increase_in_rent_of_one_year =np.array(data.loc[data['Year'] == y, 'increase_in_median_rent']. astype(int))
    median_of_increase_in_rent_of_one_year_by_year = np.percentile(median_of_increase_in_rent_of_one_year, 50)
    return median_of_increase_in_rent_of_one_year_by_year

data['median_of_increase_in_rent_by_year'] = data.apply(add_col_for_median_of_increase_in_rent, axis = 1)

#### Calculations for Part2: Have gentrified

In [25]:
def add_col_for_housevalue_distribution_current_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_this_year = compute_housevalue_distribution(y, bg)
    return housevalue_distribution_this_year

def add_col_for_housevalue_distribution_past_year(row):    
    y = row['Year']
    bg = row['Name']
    housevalue_distribution_past_year = compute_housevalue_distribution(y-1, bg)
    return housevalue_distribution_past_year

def compute_housevalue_distribution(y, bg):
    if y==2009 or y==2019:
        return 'None'
    housevalue = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_houseprice_with_imputation']. astype(int))
    median_house_value_by_year = np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'median_housevalue_by_year']. astype(int))
    if housevalue > median_house_value_by_year:
        return 'topHalf'
    else:
        return 'bottomHalf'
    
data['housevalue_distribution_current_year'] = data.apply(add_col_for_housevalue_distribution_current_year, axis = 1)
data['housevalue_distribution_past_year'] = data.apply(add_col_for_housevalue_distribution_past_year, axis = 1)

In [26]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,increase_in_edu_attainment,increase_in_edu_attainment_top_3rd_percentile_by_year,increase_in_median_housevalue,increase_in_housevalue_top_3rd_percentile_by_year,def_1,median_income_40_percent_by_year,increase_in_median_rent,median_of_increase_in_rent_by_year,housevalue_distribution_current_year,housevalue_distribution_past_year
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,0,0.0,0,0.0,None,27954.6,0,0.0,topHalf,None
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,0,0.0,0,0.0,None,27954.6,0,0.0,bottomHalf,None

#### Labelling the block groups per definition 2

In [27]:
def label_def2(row):
   if row['Median Household Income'] < row['median_income_40_percent_by_year'] and row['increase_in_median_rent'] > row['median_of_increase_in_rent_by_year']:
      return 'CurrentlyGentrifying'
   if row['housevalue_distribution_current_year'] == 'topHalf' and row['housevalue_distribution_past_year'] == 'bottomHalf': 
      return 'HaveGentrified'
   else:
      return 'NotCurrentlyGentrifying'

In [28]:
data['def_2'] = data.apply(label_def2, axis=1)

### Definition 3: Urban Planning
#### In danger of gentrifying:
* The block groupâ€™s % of workers taking transit increased
* The block groupâ€™s youth facilities per 1000 residents increased
* The block groupâ€™s public space per 1000 residents increased
* The block groupâ€™s % non-family households increased
* The block groupâ€™s % dwelling units in building with 5+ units increased
* The block groupâ€™s % dwelling units in building with 3-4 units increased
* The block groupâ€™s % renter-occupied increased
* The block groupâ€™s income diversity increased
* The block groupâ€™s % of renters paying >35% of income increased
* The block groupâ€™s % of dwelling units with three or more cars available decreased
* The block groupâ€™s recreational facilities per 1000 residents decreased
* The block groupâ€™s % married couples with children decreased
* The block groupâ€™s % non-hispanic white decreased

In [29]:
#data.head()

In [30]:
data['workers_taking_transit'] = round(data['Percent Public Transportation to Work']*(data[' Population'])*0.01,0)

def add_col_for_increase_in_workers_taking_transit(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_workers_taking_transit = compute_increase_in_workers_taking_transit(y,bg)
    return increase_in_workers_taking_transit

def compute_increase_in_workers_taking_transit(y, bg):
    if y==2010 or y==2020:
        return 'None'
    workers_taking_transit_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'workers_taking_transit']. astype(int))
    workers_taking_transit_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'workers_taking_transit']. astype(int))
    if(workers_taking_transit_year2 > workers_taking_transit_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_workers_taking_transit'] = data.apply(add_col_for_increase_in_workers_taking_transit, axis=1)

In [31]:
data['dwelling_units_with_5+_units'] = round(data['Percent Occupied Structure w 5+ Units']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_dwelling_units_with_5_plus_units(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_dwelling_units_with_5_plus_units = compute_increase_in_dwelling_units_with_5_plus_units(y,bg)
    return increase_in_dwelling_units_with_5_plus_units

def compute_increase_in_dwelling_units_with_5_plus_units(y, bg):
    if y==2010 or y==2020:
        return 'None'
    dwelling_units_with_5_plus_units_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'dwelling_units_with_5+_units']. astype(int))
    dwelling_units_with_5_plus_units_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'dwelling_units_with_5+_units']. astype(int))
    if(dwelling_units_with_5_plus_units_year2 > dwelling_units_with_5_plus_units_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_dwelling_units_with_5_plus_units'] = data.apply(add_col_for_increase_in_dwelling_units_with_5_plus_units, axis=1)

In [32]:
data['dwelling_units_with_3-4_units'] = round(data['Percent Occupied Structure w 3-4 Units']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_dwelling_units_with_3_4_units(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_dwelling_units_with_3_4_units = compute_increase_in_dwelling_units_with_3_4_units(y,bg)
    return increase_in_dwelling_units_with_3_4_units

def compute_increase_in_dwelling_units_with_3_4_units(y, bg):
    if y==2010 or y==2020:
        return 'None'
    dwelling_units_with_3_4_units_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'dwelling_units_with_3-4_units']. astype(int))
    dwelling_units_with_3_4_units_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'dwelling_units_with_3-4_units']. astype(int))
    if(dwelling_units_with_3_4_units_year2 > dwelling_units_with_3_4_units_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_dwelling_units_with_3_4_units'] = data.apply(add_col_for_increase_in_dwelling_units_with_3_4_units, axis=1)

In [33]:
data['renter_occupied'] = round(data['Percent Renter Occupied']*(data[' Housing Units'])*0.01,0)

def add_col_for_increase_in_renter_occupied(row):    
    y = row['Year']
    bg = row['Name']
    increase_in_renter_occupied = compute_increase_in_renter_occupied(y,bg)
    return increase_in_renter_occupied

def compute_increase_in_renter_occupied(y, bg):
    if y==2010 or y==2020:
        return 'None'
    renter_occupied_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'renter_occupied']. astype(int))
    renter_occupied_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'renter_occupied']. astype(int))
    if(renter_occupied_year2 > renter_occupied_year1):
        return 'True'
    else:
        return 'False'
    
data['increase_in_renter_occupied'] = data.apply(add_col_for_increase_in_renter_occupied, axis=1)

In [34]:
data['households_with_3_plus_cars'] = round(data['Percent Households w 4+ Vehicles']*(data[' Total Households'])*0.01,0) + round(data['Percent Households w 3 Vehicles']*(data[' Total Households'])*0.01,0) 

def add_col_for_decrease_in_households_with_3_plus_cars(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_households_with_3_plus_cars = compute_decrease_in_households_with_3_plus_cars(y,bg)
    return decrease_in_households_with_3_plus_cars

def compute_decrease_in_households_with_3_plus_cars(y, bg):
    if y==2010 or y==2020:
        return 'None'
    households_with_3_plus_cars_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'households_with_3_plus_cars']. astype(int))
    households_with_3_plus_cars_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'households_with_3_plus_cars']. astype(int))
    if(households_with_3_plus_cars_year2 < households_with_3_plus_cars_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_households_with_3_plus_cars'] = data.apply(add_col_for_decrease_in_households_with_3_plus_cars, axis=1)

In [35]:
data['married_couples_with_children'] = round(data['Percent Families, Married w Children Under 18']*(data[' Total Households'])*0.01,0)

def add_col_for_decrease_in_households_with_children(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_households_with_children = compute_decrease_in_households_with_children(y,bg)
    return decrease_in_households_with_children

def compute_decrease_in_households_with_children(y, bg):
    if y==2010 or y==2020:
        return 'None'
    households_with_children_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'married_couples_with_children']. astype(int))
    households_with_children_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'married_couples_with_children']. astype(int))
    if(households_with_children_year2 < households_with_children_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_households_with_children'] = data.apply(add_col_for_decrease_in_households_with_children, axis=1)

In [36]:
data['non_hispanic_whites'] = round(data['Percent White Non-Hispanic']*(data[' Population'])*0.01,0)

def add_col_for_decrease_in_non_hispanic_whites(row):    
    y = row['Year']
    bg = row['Name']
    decrease_in_non_hispanic_whites = compute_decrease_in_non_hispanic_whites(y,bg)
    return decrease_in_non_hispanic_whites

def compute_decrease_in_non_hispanic_whites(y, bg):
    if y==2010 or y==2020:
        return 'None'
    non_hispanic_whites_year2 =np.array(data.loc[(data['Year'] == y) & (data['Name'] == bg), 'non_hispanic_whites']. astype(int))
    non_hispanic_whites_year1 =np.array(data.loc[(data['Year'] == y-1) & (data['Name'] == bg), 'non_hispanic_whites']. astype(int))
    if(non_hispanic_whites_year2 < non_hispanic_whites_year1):
        return 'True'
    else:
        return 'False'
    
data['decrease_in_non_hispanic_whites'] = data.apply(add_col_for_decrease_in_non_hispanic_whites, axis=1)

In [37]:
data.head()

,Id,neighborhood,larger_neighborhood,Name,Population,Median Household Income,Median Home Value,Percent Bachelors Degree,Median Rent,Percent Public Transportation to Work,...,dwelling_units_with_3-4_units,increase_in_dwelling_units_with_3_4_units,renter_occupied,increase_in_renter_occupied,households_with_3_plus_cars,decrease_in_households_with_3_plus_cars,married_couples_with_children,decrease_in_households_with_children,non_hispanic_whites,decrease_in_non_hispanic_whites
0,530330001001,Cedar Park,Lake City,BG0001001,1250,141810,660354,24.63,0,6.78,...,0.0,None,0.0,None,173.0,None,554.0,None,969.0,None
1,530330001002,Cedar Park,Lake City,BG0001002,1234,33316,338235,19.87,771,16.55,...,0.0,None,549.0,None,162.0,None,250.0,None,565.0,None
2,530330001003,Cedar Park,Lake City,BG0001003,1337,48703,417188,26.48,864,16.52,...,45.0,None,542.0,None,146.0,None,393.0,None,778.0,None
3,530330001004,Cedar Park,Lake City,BG0001004,1492,29392,0,12.81,694,32.69,...,31.0,None,838.0,None,138.0,None,168.0,None,532.0,None
4,530330001005,Cedar Park,Lake City,BG0001005,942,48882,415385,26.60,863,16.56,...,38.0,None,465.0,None,133.0,None,355.0,None,528.0,None

#### Labelling the tracts per definition 3

In [38]:
def label_def3(row):
   if row['Year'] == 2010 or row['Year'] == 2020:
        return 'None'
   if (row['increase_in_workers_taking_transit'] == 'True' and row['decrease_in_households_with_3_plus_cars'] == 'True' and row['increase_in_dwelling_units_with_5_plus_units'] == 'True' and row['increase_in_dwelling_units_with_3_4_units'] == 'True') or (row['increase_in_renter_occupied'] == 'True' and row['decrease_in_households_with_children'] == 'True' and row['decrease_in_non_hispanic_whites'] == 'True'):
        return 'InDangerOfGentrifying'
   else:
        return 'NotInDangerOfGentrifying'

In [39]:
data['def3'] = data.apply(label_def3, axis=1)

In [40]:
data.to_csv('../SimplyAnalytics Data/SimplyAnalytics_data_with_labels.csv')