In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../Data/2010 2015-ACS.csv', header=1)

In [4]:
data.head()

,Id,Id2,Geography,Total; Estimate; AGE - 25 to 29 years,Total; Estimate; AGE - 30 to 34 years,Total; Estimate; AGE - 35 to 39 years,Total; Estimate; AGE - 40 to 44 years,Total; Estimate; AGE - 45 to 49 years,Total; Estimate; AGE - 50 to 54 years,Total; Estimate; AGE - 55 to 59 years,...,"Renter-occupied housing units; Estimate; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - $50,000 to $74,999 - 30 percent or more","Renter-occupied housing units; Estimate; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - $75,000 or more - 30 percent or more",Estimate; Median value (dollars),Estimate; Total: - 3 or 4,Estimate; Total: - 5 to 9,Estimate; Total: - 10 to 19,Estimate; Total: - 20 to 49,Estimate; Total: - 50 or more,Estimate; Total: - 3 vehicles available,Estimate; Total: - 4 or more vehicles available
0,1400000US53033000100,53033000100,"Census Tract 1, King County, Washington",10.8,12.2,5.0,7.8,5.1,5.8,5.9,...,1.4,0.0,410700,269,93,322,419,1336,337,68
1,1400000US53033000200,53033000200,"Census Tract 2, King County, Washington",11.5,7.2,5.5,6.0,5.9,7.5,7.0,...,13.8,0.0,342400,97,117,380,467,492,353,30
2,1400000US53033000300,53033000300,"Census Tract 3, King County, Washington",10.7,8.4,7.7,8.0,4.7,7.4,8.1,...,3.1,3.8,336300,27,37,88,34,15,127,16
3,1400000US53033000401,53033000401,"Census Tract 4.01, King County, Washington",9.0,10.4,11.0,4.1,6.0,3.5,5.6,...,3.3,0.0,291400,88,114,229,489,1948,93,36
4,1400000US53033000402,53033000402,"Census Tract 4.02, King County, Washington",9.3,6.7,5.2,7.1,8.6,5.8,6.0,...,5.9,2.7,405400,84,209,242,291,302,340,70

In [5]:
median_income =np.array(data['Median income (dollars); Estimate; Households'])
median_housevalue =np.array(data['Estimate; Median value (dollars)'])
bachelor_degree =np.array(data['Percent; Estimate; Percent bachelors degree or higher'])

In [6]:
income_40th_perc = np.percentile(median_income, 40)
houseval_40th_perc = np.percentile(median_housevalue, 40)
bachelors_degree_top3rd_perc = np.percentile(bachelor_degree, 66)

In [7]:
def add_col(row):
    return row['Estimate; Median value (dollars)']*1.08

In [8]:
inflation_adj_median_house_value = data.apply(add_col, axis = 1)

In [9]:
data['inflation_adj_median_house_value'] = data.apply(add_col, axis = 1)

In [15]:
def label_def1(row):
   if row['Median income (dollars); Estimate; Households'] < income_40th_perc and row['Estimate; Median value (dollars)'] < houseval_40th_perc:
      return 'EligibleForGentrification'
   if row['Percent; Estimate; Percent bachelors degree or higher'] > bachelors_degree_top3rd_perc:
      return 'Gentrified'
   else:
      return

In [16]:
#data.apply(label_def1, axis=1)

In [17]:
data['def1'] = data.apply(label_def1, axis=1)

In [18]:
median_income_40percent = np.percentile(median_income, 50)*0.4

In [19]:
rent_increase = data['Renter-occupied housing units; Estimate; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - $75,000 or more - 30 percent or more']

In [20]:
median_rent_increase = np.percentile(rent_increase, 50)

In [21]:
def label_def2(row):
   if row['Median income (dollars); Estimate; Households'] < median_income_40percent and row['Renter-occupied housing units; Estimate; MONTHLY HOUSING COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS - $75,000 or more - 30 percent or more'] > median_rent_increase:
      return 'CurrentlyGentrifying'
   else:
      return 'Gentrified'

In [22]:
data['def2'] = data.apply(label_def2, axis=1)

In [23]:
data.head()

,Id,Id2,Geography,Total; Estimate; AGE - 25 to 29 years,Total; Estimate; AGE - 30 to 34 years,Total; Estimate; AGE - 35 to 39 years,Total; Estimate; AGE - 40 to 44 years,Total; Estimate; AGE - 45 to 49 years,Total; Estimate; AGE - 50 to 54 years,Total; Estimate; AGE - 55 to 59 years,...,Estimate; Total: - 3 or 4,Estimate; Total: - 5 to 9,Estimate; Total: - 10 to 19,Estimate; Total: - 20 to 49,Estimate; Total: - 50 or more,Estimate; Total: - 3 vehicles available,Estimate; Total: - 4 or more vehicles available,inflation_adj_median_house_value,def1,def2
0,1400000US53033000100,53033000100,"Census Tract 1, King County, Washington",10.8,12.2,5.0,7.8,5.1,5.8,5.9,...,269,93,322,419,1336,337,68,443556.0,None,Gentrified
1,1400000US53033000200,53033000200,"Census Tract 2, King County, Washington",11.5,7.2,5.5,6.0,5.9,7.5,7.0,...,97,117,380,467,492,353,30,369792.0,None,Gentrified
2,1400000US53033000300,53033000300,"Census Tract 3, King County, Washington",10.7,8.4,7.7,8.0,4.7,7.4,8.1,...,27,37,88,34,15,127,16,363204.0,EligibleForGentrification,Gentrified
3,1400000US53033000401,53033000401,"Census Tract 4.01, King County, Washington",9.0,10.4,11.0,4.1,6.0,3.5,5.6,...,88,114,229,489,1948,93,36,314712.0,EligibleForGentrification,Gentrified
4,1400000US53033000402,53033000402,"Census Tract 4.02, King County, Washington",9.3,6.7,5.2,7.1,8.6,5.8,6.0,...,84,209,242,291,302,340,70,437832.0,None,Gentrified

In [24]:
data.to_csv('../Data/ACS_data_with_labels.csv')